/*************************css-reset************************/
body {
    margin:0;
    background: #ffffff;/*#F1F2F7;*/
    font-family:  "Microsoft YaHei", 微软雅黑, 黑体, 宋体, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 12px;
    line-height: 24px;
    color:#666;

}
ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,button {
    margin:0;
    padding:0;
}
ul,ol {
list-style: none;
}
i,em{font-style: normal;}
input,button {
font-family: "Microsoft YaHei";
}
/* 清除表格单元格间距，合并边框 */
table{border-spacing:0;border-collapse:collapse;}
/* 表格水平居中，垂直居中 */
table,tr,td{text-align:center; text-valign:middle;}

/*a {*/
    /*color:#333;*/
    /*text-decoration: none;*/
/*}*/
/*a:hover {*/
  /*cursor: pointer;*/
/*}*/
.container{
    width:1200px;
    margin: 0 auto;
}
.containerSmall{
    width:970px;
    margin: 0 auto;
}
.clearfloat:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}