body {
  background-color: #efefef;
}
p,
h4,
span {
  color: #333333;
}
.index_header {
  display: flex;
  position: fixed;
  z-index: 101;
  width: 100%;
  color: #FFFFFF;
  height: 4rem;
  line-height: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}
.index_header h1 {
  display: inline-block;
  font-weight: 500;
}
.index_header a {
  font-size: 1.6rem;
  display: block;
  color: #FFFFFF;
}
.index_header .index_city {
  font-size: 1.244rem;
  margin-right: 0.5rem;
}
.index_header .index_city i {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-top: 1px  solid #fff;
  border-left: 1px  solid #fff;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  margin: 0 0 0 0.5rem;
  vertical-align: middle;
}
.index_header .search_input {
  display: block;
  background: rgba(255, 255, 255, 0.85);
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 0.5rem;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  margin: 0.7rem 0.1rem 0 0.1rem;
}
.index_header .search_input span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem 0 0  0.2rem;
  background: url("../../images/search.jpg") no-repeat;
}
.index_header .index_login {
  margin-right: 0.2rem;
}
.index_header .index_login img {
  width: 2rem;
  height: 2rem;
  background-size: 100%;
}
.index_banner li {
  height: 100%;
}
.index_banner li img {
  width: 100%;
  height: 100%;
}
.index_banner .swiper-pagination span {
  float: left;
}
.main_nav {
  background-color: #FFFFFF;
}
.main_nav ul {
  padding: 0.2rem 1.3rem ;
}
.main_nav ul li {
  position: relative;
  width: 33.33%;
  float: left;
  text-align: center;
  padding-top: 1rem;
}
.main_nav ul .icon {
  width: 4.1rem;
  height: 4.1rem;
  display: inline-block;
}
.main_nav ul .icon img {
  width: 100%;
  height: auto;
}
.main_nav ul .ntext {
  font-size: 1.1rem;
  color: #666;
  line-height: 1;
  padding-top: 0.7rem;
}
.hot_message {
  background-color: #fff;
  margin-top: 0.8rem;
  border-top: 1px solid #e5e5e5;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.hot_message strong,
.hot_message p {
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}
.hot_message strong {
  font-size: 1.6rem;
  color: #ee2d1b;
  font-weight: bold;
  font-style: italic;
  width: 7.3rem;
  margin: 0 0.5rem;
  height: 1.5rem;
}
.hot_message p {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 1rem;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.hot_message p a {
  font-size: 1.2rem;
  color: #333;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hot_message .index_border {
  display: inline-block;
  width: 1px;
  height: 2.4rem;
  background-color: #efefef;
}
.warm_home {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  margin-top: 0.9rem;
  box-shadow: 0 1px 2px 1px #e3e3e3;
  padding: 1.3rem 1rem;
}
.warm_home .home_left {
  display: inline-block;
  width: 6.8rem;
  height: 3.8rem;
  background: url(../../images/index_home.gif) no-repeat;
  background-size: 100%;
  margin-right: 1rem;
}
.warm_home .home_name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.3rem;
}
.warm_home .home_name p {
  color: #d00;
  font-size: 1rem;
}
.warm_home .home_btn {
  display: inline-block;
  border-radius: 25px;
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #d00;
}
.group_act {
  padding: 0 0.5rem;
  margin-top: .9rem;
  background-color: #FFFFFF;
}
.group_act .group_title {
  padding: 1.2rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.group_act .group_text {
  font-size: 1rem;
  color: #666;
}
.group_act .group_contain .group_logo {
  width: 7.4rem;
  height: 7.4rem;
  margin-right: 0.9rem;
  background: url("../../images/group_act.png") center center no-repeat #f5edf7;
  background-size: 3.6rem;
}
.group_act .group_contain .group_name {
  font-size: 1.4rem;
  font-weight: 700;
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 0.8rem;
}
.group_act .group_contain .group_time {
  font-size: 1rem;
  color: #999;
  padding-left: 1.3rem;
  margin-bottom: 0.4rem;
}
.group_act .group_contain .group_address {
  overflow: hidden;
  font-size: 1rem;
  color: #999;
  padding-left: 1.3rem;
  margin-bottom: 0.4rem;
}
.group_act .ac_mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 1rem;
  background-color: #fff;
}
.group_act .ac_mess .over_time {
  webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  font-size: 1rem;
}
.group_act .ac_mess .over_time span {
  border: 1px solid #000;
}
.group_act .ac_mess .apply_num {
  font-size: 1rem;
  color: #343434;
}
.group_act .ac_mess .apply_num i {
  color: #d00;
}
.group_act .apply_mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0.7rem 0 1.6rem;
}
.group_act .apply_mess input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 0.9rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.group_act .apply_mess a {
  display: inline-block;
  width: 8.2rem;
  margin-left: 0.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 4px;
  background-color: #d00;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}
.more_href {
  padding: 1rem 0 1.2rem;
}
.more_href .sign {
  display: inline-block;
  font-size: 1rem;
  color: #666;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  padding: 0.4rem 1.3rem;
}
.more_href .sign .arrow_icon {
  display: inline-block;
  border-style: solid;
  border-color: #666 transparent transparent #666;
  border-width: 1px 0 0 1px;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-transform: rotate(135deg) translateX(-10%);
  -ms-transform: rotate(135deg) translateX(-10%);
  transform: rotate(135deg) translateX(-10%);
}
.ele_title {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #E8E8E8;
}
.zx_server {
  padding: 0 0.5rem;
  margin-top: 0.9rem;
  background-color: #FFFFFF;
}
.zx_server .server_offer {
  display: block;
  padding: 1.2rem 1rem;
  position: relative;
  min-height: 1rem;
  box-sizing: border-box;
}
.zx_server .server_offer .server_name {
  font-size: 1.4rem;
  line-height: 2rem;
}
.zx_server .server_offer .server_name span {
  color: #fff;
  background-color: #ff790d;
  display: inline-block;
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
  margin-left: 0.5rem;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  line-height: 1;
  font-family: sans-serif;
}
.zx_server .server_offer .server_details {
  font-size: .09rem;
  color: #999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding: 0.5rem 0 1rem;
}
.zx_server .server_offer .server_btn {
  display: inline-block;
  border-radius: 25px;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #dd0000;
}
.zx_server .server_offer .server_img {
  height: 10rem;
  width: 11.2rem;
  position: absolute;
  right: 1rem;
  top: 34%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.zx_server .server_offer .server_img img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.zx_server .server_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.zx_server .server_message li {
  border: 1px solid #E8E8E8;
  border-left: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 1.5rem 0 7.4rem 1rem;
  position: relative;
}
.zx_server .server_message li .message_name {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #ff790d;
}
.zx_server .server_message li .message_details {
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #999;
}
.zx_server .server_message li .message_btn {
  color: #fff;
  background-color: #ff790d;
  font-size: 1rem;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 25px;
}
.zx_server .server_message li .message_btn .arrow_icon {
  display: inline-block;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
  border-width: 1px 0 0 1px;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-transform: rotate(135deg) translateX(-10%);
  -ms-transform: rotate(135deg) translateX(-10%);
  transform: rotate(135deg) translateX(-10%);
}
.zx_server .server_message li .message-image {
  width: 8.9rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  margin-left: 0rem;
  bottom: 0;
}
.zx_server .server_message li .message-image img {
  width: 100%;
  height: 100%;
}
.zx_server .server_message li:last-child {
  border-right: none;
}
.zx_server .server_bottom {
  padding: 0.6rem 1rem 1rem;
}
.zx_server .server_bottom .server_tab {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: #999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.zx_server .server_bottom .server_tab a {
  width: 48%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin-left: .15rem;
  display: inline-block;
  height: 5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
}
.zx_server .server_bottom .server_tab a .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url("../../images/server_bottom.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0.5rem;
  bottom: 0.3rem;
}
.zx_server .server_bottom .server_tab .green {
  background-color: #cccc85 ;
}
.zx_server .server_bottom .server_tab .pink {
  background-color: #ed8f72 ;
}
.zx_server .server_bottom p {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: #999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.zx_server .server_bottom p a img {
  width: 100%;
  height: auto;
}
.zx_company {
  padding: 0 0.5rem;
  margin-top: 0.9rem;
  background-color: #FFFFFF;
}
.zx_company .company_tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
.zx_company .company_tip li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  padding: 1.2rem 1rem;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}
.zx_company .company_tip li .name {
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
  color: #333333;
}
.zx_company .company_tip li .details {
  font-size: .1rem;
  color: #999;
  padding-top: .02rem;
  position: relative;
  z-index: 2;
}
.zx_company .company_tip li .img_box {
  width: 9.9rem;
  height: 6.9rem;
  position: absolute;
  right: -8px;
  top: 10px;
}
.zx_company .company_tip li .img_box img {
  width: 100%;
  height: 100%;
}
.zx_company .company_tip li:last-child {
  border-right: none;
}
.zx_company .company_content li {
  padding: 0.8rem 1rem 0.4rem;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.zx_company .company_content li .company_mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 0.6rem 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.zx_company .company_content li .company_mess .img_box {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}
.zx_company .company_content li .company_mess .img_box img {
  width: 100%;
  height: 100%;
}
.zx_company .company_content li .company_mess .text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.zx_company .company_content li .company_mess .text .name {
  font-size: 1.4rem;
  max-width: 60%;
  display: -webkit-box;
}
.zx_company .company_content li .company_mess .text .comment {
  font-size: 1rem;
  margin-top: 0.7rem;
}
.zx_company .company_content li .company_mess .text .comment p {
  color: #999;
}
.zx_company .company_content li .company_mess .text .company_price {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.1rem;
  text-align: right;
}
.zx_company .company_content li .company_mess .btn {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  background-color: #d00;
  padding: 0.3rem 0.7rem;
  border-radius: 25px;
  position: absolute;
  right: 0;
  bottom: 0.8rem;
}
.zx_company .company_content li .company_combo {
  margin-left: 8rem;
  font-size: 1rem;
  color: #666;
  padding: 0.7rem 0;
  border-top: 1px solid #e0e0e0;
}
.zx_company .company_content li .company_combo .text {
  max-width: 100%;
  display: -webkit-box;
}
.zx_company .company_content li .company_combo .text span {
  color: #fff;
  padding: 0.2rem;
  line-height: 1;
  display: inline-block;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  font-size: 0.7rem;
  margin-right: 0.5rem;
  background-color: #fd772f;
  font-family: sans-serif;
}
.zx_company .company_bottom {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: #999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.zx_company .company_bottom img {
  width: 100%;
  height: 100%;
}
.shop_store {
  padding: 0 0.5rem;
  margin-top: 0.9rem;
  background-color: #FFFFFF;
}
.shop_store li {
  padding: 0.8rem 0 0;
}
.shop_store li .store_mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0.8rem 0;
}
.shop_store li .store_mess .text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.shop_store li .store_mess .text h4 {
  font-size: 1.4rem;
  max-width: 60%;
  display: -webkit-box;
}
.shop_store li .store_mess .text .store_appraise {
  font-size: .1rem;
  margin-top: 0.7rem;
}
.shop_store li .store_mess .text .store_appraise .star_icon {
  display: inline-block;
  width: 5.5rem;
  height: 1rem;
  background: url(//mued3.jia.com/image/mobile/zhuangxiu/zxgs/star-ctrl-icon.png) 0 100% no-repeat;
  background-size: 100%;
}
.shop_store li .store_mess .text .store_tips {
  color: #999;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.shop_store li .store_mess .text .store_details {
  position: absolute;
  right: 0;
  top: 0;
  font-size: .11rem;
  text-align: right;
}
.shop_store li .store_mess .text .store_details span {
  display: block;
  padding-left: 1.5rem;
  background: url(//mued3.jia.com/image/mobile/activity/wp-kb-icon.png) left 0.02rem no-repeat;
  background-size: 1rem;
}
.shop_store li .store_mess .btn {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  background-color: #d00;
  padding: 0.3rem 0.7rem;
  border-radius: 25px;
  position: absolute;
  right: 0;
  bottom: 0.8rem;
}
.shop_store li .store_content {
  padding: 0 1rem;
}
.shop_store li .store_content .content_title {
  margin-right: 1rem;
  font-size: 1rem;
  color: #666;
  padding: 0.7rem 0;
  border-top: 1px dashed #e0e0e0;
}
.shop_store li .store_content .content_title .text {
  max-width: 100%;
  display: -webkit-box;
}
.shop_store li .store_content .content_title .text span {
  color: #fff;
  padding: 0.2rem;
  line-height: 1;
  display: inline-block;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  background-color: #db0000;
  font-family: sans-serif;
}
.shop_store li .store_content .myswiper-container {
  position: relative;
  overflow: hidden;
}
.shop_store li .store_content .myswiper-container ul li a {
  display: block;
  padding-right: 0.6rem;
}
.shop_store li .store_content .myswiper-container ul li a .image_box {
  width: auto;
  height: auto;
  margin-right: 0;
}
.shop_store li .store_content .myswiper-container ul li a .image_box img {
  width: 100%;
  height: 100%;
}
.shop_store li .store_content .myswiper-container ul li a .shop_name {
  padding-top: 0.3rem;
  font-size: 1rem;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.shop_store li .store_content .myswiper-container ul li a .shop_price {
  font-size: 0.9rem;
  color: #999;
  line-height: 1.4rem;
  display: -webkit-box;
}
.shop_store li .store_content .myswiper-container ul li a .shop_price .num {
  color: #d00;
}
.more_case {
  padding: 0 0.5rem;
  background-color: #fff;
  margin-top: .9rem;
}
.more_case ul li {
  width: 48%;
  float: left;
  margin-bottom: 4%;
  position: relative;
}
.more_case ul li .image_box img {
  width: 100%;
  height: 100%;
}
.more_case ul li .text {
  padding: 0 1rem;
}
.more_case ul li .text .name {
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 0.3rem;
}
.more_case ul li .text .details {
  font-size: 1rem;
  color: #666;
  padding-top: 0.2rem;
}
.more_case ul li:nth-child(2n+2) {
  margin-left: 4% ;
}
.special_area {
  padding: 0 0.5rem;
  background-color: #fff;
  margin-top: .9rem;
}
.special_area ul li {
  position: relative;
  padding: 0px  1rem  1rem;
}
.special_area ul li a {
  display: block;
}
.special_area ul li a img {
  width: 100%;
  height: 100%;
}
.group_price {
  padding: 0 0.5rem;
  margin-top: .9rem;
}
.group_price .title {
  padding: 1rem 0px;
}
.group_price .title .main_text {
  font-size: 1.5rem;
}
.group_price .title .main_desc {
  font-size: 1rem;
  color: #666666;
}
.group_price ul li {
  width: 48%;
}
.group_price ul li a {
  display: block;
}
.group_price ul li a img {
  width: 100%;
  height: 100%;
}
.group_price ul li:nth-child(2n+2) {
  margin-left: 4% ;
}
.info_intru {
  padding: 0.76rem 16% 0;
  background-color: #efefef;
}
.info_intru p {
  font-size: 0.9rem;
  color: #999;
  text-align: center;
  padding: 1.2rem 0;
}
.hot_line {
  font-size: 1.24rem;
  color: #333;
  text-align: center;
  height: 3.44rem;
  line-height: 3.44rem;
  background-color: #ddd;
}
.hot_line span {
  color: #ff3333;
  font-weight: 600;
}
.footer_nav {
  padding: 0.4rem 0 0.36rem;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fafafa;
  border: 1px solid #ccc;
  z-index: 100;
}
.footer_nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_nav ul li {
  moz-box-flex: 1;
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  color: #333;
  font-size: 1rem;
}
.footer_nav ul li a {
  display: block;
}
.footer_nav ul li a span {
  text-indent: -99999px;
  display: inline-block;
  width: 2.07rem;
  height: 2.07rem;
  background: url(../../images/footer-nav.png) no-repeat;
  background-size: 100%;
}
.footer_nav ul li a p {
  margin-top: 0.2rem;
}
