body {
  min-height: 100%;
  background-color: #efefef;
}
.photo_header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  color: #333333;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  z-index: 97;
  background-color: #ffffff;
}
.photo_header .back_return {
  border-left: 0.2rem solid #666;
  border-bottom: 0.2rem solid #666;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  margin: 1.4rem 1.5rem;
  text-indent: -9999px;
}
.photo_header h2 {
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  width: 20rem;
  text-overflow: ellipsis;
}
.photo_header .tuku_menu {
  background: url('../../images/header-icon.png') 0px -2rem no-repeat;
  height: 2rem;
  width: 2rem;
  display: block;
  text-indent: -9999px;
  margin: 1.15rem 1.1rem;
  background-size: 100% auto;
}
.imgBox {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%!important;
  top: 0;
  bottom: 0;
  background: #fff;
  max-width: 640px;
}
.imgBox ul {
  height: 100%;
}
.imgBox ul li {
  position: relative;
  width: 100%;
  height: 100%!important;
}
.imgBox ul li img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  vertical-align: middle;
  top: 9%;
}
.imgBox ul li .img_title {
  position: absolute;
  left: 0;
  bottom: 4rem;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  padding: 0 1.2rem;
  box-sizing: border-box;
}
.imgBox ul li .img_title p {
  float: left;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.imgBox ul li .img_title span {
  position: absolute;
  right: 1.2rem;
  bottom: 0;
}
.imgBox ul li .img_title.cur {
  bottom: 0rem;
  background: none;
}
.imgBox .photo_pinch {
  width: 3rem;
  height: 2.9rem;
  background: url("../../images/change.png") 0 0 no-repeat;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  position: absolute;
  bottom: 8rem;
  right: 0.7rem;
  z-index: 1000;
}
.imgBox .photo_pinch.back {
  background-position: 0 100%;
  bottom: 8rem;
  right: 0.7rem;
}
.imgBox.cur {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 100%;
}
.img_detail {
  display: none;
  background: #fff;
  padding-bottom: 4rem;
}
.img_detail .img_info {
  position: relative;
  padding: 0.5rem 1.2rem;
  font-size: 1.26rem;
  line-height: 2;
}
.img_detail .img_info .deco_hide {
  padding-right: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.img_detail .img_info .content {
  color: #999;
  margin-left: 1rem;
}
.img_detail .img_info .more_img {
  display: inline;
  position: absolute;
  right: .12rem;
  bottom: 0;
  color: #dd742e;
  text-decoration: underline;
}
.img_detail .recomm_sec {
  background-color: #ffffff;
}
.img_detail .recomm_sec .title {
  position: relative;
  background: #fff;
  font-weight: 500;
}
.img_detail .recomm_sec .title span {
  position: relative;
  padding: 0 1.2rem;
  font-size: 1.9rem;
  background: #fff;
  z-index: 2;
}
.img_detail .recomm_sec .title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}
.img_detail .recomm_sec .recomm_mt {
  padding: 1rem 1.2rem 0 1.2rem;
}
.img_detail .recomm_sec .recomm_mt a {
  position: relative;
  display: block;
  font-size: 1.4rem;
  color: #999;
  text-decoration: underline;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
.img_detail .recomm_sec .recomm_mt a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.3rem;
  width: 0.6rem;
  height: 0.6rem;
  background: #e6e6e6;
}
.img_detail .recomm_sec .recomm_list {
  padding: 0 1.2rem;
}
.img_detail .recomm_sec .recomm_list a {
  float: left;
  font-size: 1.26rem;
  background: #e6e6e6;
  padding: 0.1rem 0.5rem;
  margin: 1.4rem 0.5rem 0 0;
  border-radius: 2rem;
}
.img_detail .footer_crumbs {
  background: #fff;
  padding: 1.4rem 1rem;
  font-size: 1.2rem;
  color: #ccc;
}
.img_detail .footer_crumbs .crumbs_title {
  margin: 0 0.5rem;
}
.popmask {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 97;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.headline_box {
  z-index: 99;
  display: none;
  position: absolute;
  left: 7%;
  top: 50%;
  width: 86%;
  padding: 0 1.2rem 1.8rem 1.2rem;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.headline_box .close {
  position: absolute;
  right: 0;
  top: -5rem;
  width: 3.5rem;
  height: 3.5rem;
  background: url(../../images/close.png) 0 0 no-repeat;
  background-size: 100%;
  z-index: 2;
}
.headline_box .title {
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
  padding-top: 1.4rem;
  font-weight: normal;
}
.headline_box .input_box {
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 2rem;
  background: #f2f2f2;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.headline_box .input_box input {
  font-size: 1.2rem;
  display: block;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  background: #f2f2f2;
  border-radius: 0.5rem;
  border: none;
}
.headline_box .input_box .square_icon {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  font-size: 1.2rem;
}
.headline_box .head_btn {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  text-align: center;
  line-height: 2rem;
  background: #ee2d1b;
  color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.headline_box .box_tips {
  font-size: 1.2rem;
  text-align: center;
}
.headline_box .box_tips label {
  color: #ee2d1b;
}
.error_tips {
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 80%;
  padding: 0.6rem 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 0.6rem;
  white-space: nowrap;
  z-index: 999999999;
}
.fixed_btn {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #fff;
  box-sizing: border-box;
}
.fixed_btn a {
  text-align: center;
  display: inline-block;
  width: 50%;
  color: #ffffff;
  font-size: 1.6rem;
}
.fixed_btn a i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url("../../images/icon.png") no-repeat;
  background-size: 100%;
  vertical-align: top;
  margin: 1rem 0.6rem 0 0;
}
.fixed_btn a .icon {
  background-position: 0 100%;
}
.fixed_btn .btn_design {
  background-color: #EB5F52;
}
.fixed_btn .btn_quote {
  background-color: #EE2D1B;
}
