@charset "utf-8";
/* CSS Document */
/* 清除标签自带外边距离 */
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, input, textarea, select {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333333;
}
html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #444;
}
body{
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    max-width:640px;
    background-color: #F5F5F5;
    margin-top: 4rem;
     }

dl,dd,ul{ margin:0px; padding:0px;}
ul{ list-style-type:none}


/*header*/
.top{
    z-index: 100;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    width:100%;
    padding:0;
    /*background-color: #333;*/
    background-color: #777;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content:space-between;
}
.top a{
    display:block;
}
.top .top_return{
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
    background: url(../../../assets/m/images/top_return.png) 0 0 no-repeat;
    background-size: 60%;
    margin-top: 1rem;

}
.top .top_menu{
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
    background: url(../../../assets/m/images/top_menu.png) 0 0 no-repeat;
    background-size: 60%;
    margin-top: 1rem;
}

.top .top_logo img{
    vertical-align: middle;
    height: auto;
    width: 75%;
}

input:focus{outline: none;}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #777;
}
.swiper-container-horizontal>.swiper-pagination {
    /*width: 7.22rem;*/
    text-align: end;
    /*margin-top: 0.1rem;*/
    position: absolute;
    /*bottom: 0.04rem;*/
}
.dh{
    width:100%;
    /*margin-top:15px;*/
    padding:5px 0;
}
.dh dl{
    float:left;
    width:25%;
    /*margin-top:10px;*/
}
.dh dl dd{ text-align:center}
.dh dl dd a{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align:center;
}

.dh dl dd .index{
    background: url(../../../assets/m/images/m_index.png) 0 0 no-repeat;
    background-size: 85%;
}
.dh dl dd .nav{
    background: url(../../../assets/m/images/m_nav.png) 0 0 no-repeat;
    background-size: 85%;
}
.dh dl dd .container{
    background: url(../../../assets/m/images/m_container.png) 0 0 no-repeat;
    background-size: 85%;
}
.dh dl dd .location{
    background: url(../../../assets/m/images/m_location.png) 0 0 no-repeat;
    background-size: 85%;
}


.dh dl dd p{
    /*color: #525F81; */
    color: #666;
    font-size: 1.6rem;
    font-weight:500
}
.dh dl dd img{ width:60% ; }
.dh dl dt{ font-size:14px; line-height:24px; text-align:center}

.casetit{ width:100%;}
.casetit .case_title{
    height: 4rem;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    /*background-color: #efefef;*/
    background-color: #777;
}
.casetit .case_title .case_left{
    font-weight: bold;
    font-size: 2rem;
    padding: 0 20px;
    /*color: #7699c3;*/
    color: #CFAA75;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
    zoom: 1;
    text-transform: uppercase;}
.casetit .case_title .case_right{
    padding: 0 10px;
    /*color: #979797;*/
    color: #ffffff;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
    zoom: 1;
    font-size: 1.8rem;
}
.lbb{
    width:100%;
    margin-top:-5px;
    /*background-color: #525F81;*/
    /*background-color: #333;*/
    background-color: #777;
    height: 1.2rem
}

.levents{ width:92%; margin:auto; border:1px #CCCCCC solid; border-radius:5px; padding:2%; text-align:center; margin-top:15px;}
.levents .evetit{ width:100%; font-size:18px; line-height:40px; color:#333}
.levents .evetit a{ color:#333333; text-decoration:none}
.levents .evetime{ width:100%; font-size:14px; line-height:30px; color:#666666}
.levents .evepic{ width:100%;}
.levents .evepic img{ width:100%}
.levents .evedesc{ width:100%; font-size:12px; line-height:26px; color:#999999; border-bottom:1px #CCCCCC dotted}
.levents .everead{ width:100%; font-size:14px; line-height:40px;}
.levents .everead a{ color:#666666; text-decoration:none}

.white{ width:100%; height:50px;}
ul{ margin:0; padding:0; list-style-type:none}

.listc { width:90%;
    margin:4px 0px 20px 6%; }
.listc li{ float:left; width:50%; margin-top:20px; }
.listc li a{margin-right:8px; display:block;position:relative}
.listc li a img{ width:100%;}
.listc li a .cover{ position:absolute; width:100%; left:0; bottom:0; }

.listp li a .tit{ width:100%; height:40px; font-size:14px; line-height:24px; text-align:center}
.listp li a { color:#666666; text-decoration:none}

.ff{
    width:100%;
    height: 3rem;
    /*padding:3rem 0;*/
   padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.ff p{
    /*color: #CFAA75;*/
    height: 1.5rem;
    color: #aaa;
    font-size: 1.2rem;
}
.bigp{ width:100%;}
.bigp img{ width:100%; border:none}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: ".";clear: both;}
.eventbm{
    margin:1rem 1rem;
    padding:1rem ;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.eventbm .bmpic{ width:100%;}
.eventbm .line{ width:100%; height:auto; border-bottom:1px #FF9933 dotted; font-size:12px; line-height:20px; color:#FF3300}
.eventbm .bmpic img{ width:100%; margin-top:-5px}
.eventbm .line{ width:100%; height:auto; border-bottom:1px #FF9933 dotted; font-size:12px; line-height:20px; color:#FF3300}
.eventbm .bm{ width:100%; font-size:12px; line-height:20px; color:#333333; margin-top:10px;}

.eventbm .bm input.in{
    /*padding:0px;*/
    /*font-family:"微软雅黑";*/
    text-indent:10px;
    /*clear:both;*/
    height:30px;
    line-height:30px;
    font-size:14px; ;
    border:1px solid #d4d4d4;
    width:100%;
    border-radius: 5px;
    /*background:#fff url(input../images/7f4e0-6158.jpg) repeat-x; */
    margin-top:10px;
}
.eventbm .bm select{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0px;font-family:"微软雅黑";text-indent:10px;clear:both;height:36px;line-height:36px;font-size:15px; ;border:1px solid #d4d4d4;width:100%; background:#CCCCCC}
.eventbm .bm .btn{
    border-radius: 5px;
    display: block;
    border: none;
    font-size: 2.3rem;
    font-weight:500;
    width:100%;
    line-height: 40px;
    height:40px;
    /*color:#FFFFFF; */
    color:#fff;
    text-align:center;
    margin-top:20px;
    /*background-color: #636F8D;*/
    background-color: #777;
}
.eventbm .bm #tj{background:url(../images/c8f8c-5574.jpg) repeat-x; text-align:center; line-height:80px;}
.eventbm .bm #tj a{text-shadow:none;color:#fff;font-weight:bold; cursor:pointer;}

.artical{ width:100%;  padding-bottom:10px;}
.artical h1{ font-size:22px; height:40px; text-align:center; line-height:40px;color:#666666}
.artical .eng{ font-size:14px;color:#885214; text-align:center; line-height:18px; height:40px;}
.artical .content{ width:100%; font-size:14px; line-height:22px; color:#885214;}
.artical .content img{
    width:100%;
    display:block;
    border:0px;
    margin: 0.5rem 0;
}

.artical .content1{ width:100%; font-size:14px; line-height:22px; color:#885214;}
.artical .content1 img{ width:100%; display:block; border-radius:5px; border:1px #999 solid; margin-top:5px;
    box-shadow:1px 1px 1px #999;
    -moz-box-shadow:1px 1px 1px #999;
    -webkit-box-shadow:1px 1px 1px #999;
}
.lv{ width:100%; height:auto; margin-top:10px;}

.fud{
    width:100%;
    height:4.2rem;
    position:fixed;
    bottom:-5px;
    max-width:640px;
}
.fudzuo{
    background-color: #777;
    display: block;
    /*color: #fff;*/
    color: #CFAA75;
    height: 4.2rem;
    line-height: 4.2rem;
    font-size: 1.8rem;
    width:100%;
    float:left;
    text-align:center;
    /*bottom:-5px;*/
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;}
/*.fudzuo i{
    width: 2.3rem;
    height: 2.3rem;
    vertical-align: middle;
    display: inline-block;
    margin-top: -0.4rem;
    margin-right: 1rem;
    background: url(../../../assets/m/images/icon.png)  no-repeat;
    background-size: 100%;
}
.fudzuo .icon_left{background-position: 0px -2.3rem;}
.fudzuo .icon_right{background-position: 0px 0px;}
*/
/*
.fudzuo_left{
    /*background-color: #636F8D;
    background-color: #222;
}*/
/*
.fudzuo_right{
    /*background-color: #525F81;
    background-color: #111;
}*/
/*表单提交单选样式*/
.span{margin-left:18px; font-size:18px; color:#333; font-weight:600; margin-top:20px; float:left;}
.biaoda{
    width:100%;
    float:left;
    margin-top: 1rem;
}
.biaodan{
    width:44%;
    border:solid 1px #CCCCCC;
    float:left;
    margin-top:8px;
    margin-left:15px;
    margin-bottom:5px;
}
.biaodan .tupian{
    text-align:center;}
.biaodan .tupian img{width:100%;}
.biaodan .tupiantitle{
    width: 100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#333;
}
.biaodan .turadio{wdith:50px;height:40px;line-height:40px;float:left; margin-left:6%;}
.biaodan .turadi{wdith:40px;height:30px; line-height:30px;}

/*面包屑导航*/

.crumbs{
    margin: 10px 15px 15px 15px;
    height: 1.2rem;
    line-height: 1.2rem;
}
.crumbs a{
    color: #777;
    font-size: 1.2rem;
}
.crumbs span{
    color: #777;
}
.crumbs .last_child{
    color: #999999;
}
/*关于我们*/
.mabout{
    padding: 1rem;
}
.mabout h2{
    margin: 1rem 0;
    font-weight: normal;
}
.mabout p{
    margin: 1rem 0;
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.7;
    text-indent: 3.5rem;
}
.mabout ul{
    margin-bottom: 2rem;
}
.mabout ul li{
    padding: 0.5rem;
}
.mabout_map{
    width: 100%;
    height: 20rem;
}
/*弹出导航*/
.navs_wrap {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}
.navs_wrap .sub_navs_wrap {
    margin-top: 4.3rem;
}
.navs_wrap .sub_navs_wrap .close {
    background: rgba(255, 255, 255, 0.8) url(../../../assets/m/images/close.png) no-repeat right center;
    height: 4.3rem;
    display: block;
    width: 95%;
    background-size: 2rem auto;
    box-sizing: border-box;
    margin-right: 5%;
}
.navs_wrap .sub_navs_wrap .common_ul {
    background: transparent;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 1.4rem;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a {
    display: block;
    font-size: 1.6rem;
    color: #666;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a i {
    display: block;
    width: 4.3rem;
    height: 4.3rem;
    margin: 0 auto 0.25rem auto;

}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_index{
    background: url(../../../assets/m/images/m_index.png) no-repeat;
    background-size: 90%;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_container{
    background: url(../../../assets/m/images/m_container.png) no-repeat;
    background-size: 90%;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_location{
    background: url(../../../assets/m/images/m_location.png) no-repeat;
    background-size: 90%;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_nav{
    background: url(../../../assets/m/images/m_nav.png) no-repeat;
    background-size: 90%;
}


.navs_wrap .sub_navs_wrap .more_title {
    position: relative;
    margin: 1.4rem 3.2rem 0 3.2rem;
    text-align: center;
    line-height: 2.2rem;
    font-weight: 500;
    font-size: 1.9rem;
}
.navs_wrap .sub_navs_wrap .more_title .more_text {
    position: relative;
    z-index: 5;
    padding: 0 0.4rem;
    color: #333;
    font-size: 1.9rem;
    background: #fff;
}
.navs_wrap .sub_navs_wrap .more_title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 1px solid #ccc;
}
.navs_wrap .sub_navs_wrap .hot_zixun {
    margin: 0 2.8rem;
}
.navs_wrap .sub_navs_wrap .hot_zixun li a {
    display: block;
    float: left;
    width: 28.5%;
    background: #f5f5f5;
    font-size: 1.4rem;
    height: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 1.2rem 4.7% 0 0;
}
/*step1*/
.order_title{
    font-size: 25px;
    font-weight: 500;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    /*color: #525F81;*/
}
.order_title span{
    font-size: 14px;
    font-weight: 500;
}
.order_style ul{
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
.order_style ul li{
    /*float: left;*/
    width: 40%;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid #CCCCCC;
}
.order_style ul li a{
    display: block;
}
.order_style ul li a img{
    width: 100%;
}
/*step2*/
.order_form{
    display: none;
    margin: 0 auto;
}
.order_city{
    padding: 1rem 1rem;
    vertical-align: middle;
}
.order_city select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    width: 5rem;
    height: 2rem;
    padding: 0.1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    outline: none;
    margin-right: 1rem;
}
.order_city select option{
    text-align: center;
}
.order_city span{
    color: #FF6600;
    font-size: 1.2rem;
}
.order_price{
    display: none;
    padding: 0 1rem;
}
.order_price p{
    margin-bottom: 1rem;
}
.order_price li{
    position: relative;
    width: 9rem;
    float: left;
    height: 2rem;
    line-height: 2rem;
    margin-right: 3rem;
}
.order_price li span{
    float: right;
    margin: 0px 1rem;
}
.order_price input[type=radio]{
    visibility: hidden;
    margin: 0 0;
}
.order_price label{
    margin: 0 0;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.5rem;
    left: 0;
    background: #fff;
    border: 2px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.order_price label i{
    opacity: 0;
    content: '';
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    background: transparent;
    top: 0px;
    left: 0.2rem;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.order_info .err_tips{
    /*color: #525F81;*/
}
.order_info p{
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    vertical-align: middle;
}
.order_info p input{
    outline: none;
    width: 80%;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #ccc;
    padding-left: 1rem;
}
.order_info .order_btn{
    justify-content:center;
}
.order_info .order_pre,.order_info .order_next{
    display: inline-block;
    text-align: center;
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    /*background-color: #525F81;*/
    /*color: #fff;*/
    background-color: #333;
    color: #C5AA60;
}
.order_message {
    display: flex;
}
.order_message textarea{
    width: 80%;
    height: 10rem;
    outline: none;
    font-size: 14px;
    padding-left: 1rem;
    border: 1px solid #ccc;
}
/*step3*/
.success_info{
    display: none;
}
.success_info h2{
    font-size: 30px;
}
.success_info a{
    display:block;
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    margin: 2rem auto;
    /*background-color: #525F81;*/
    /*color: #fff;*/
    background-color: #333;
    color: #C5AA60;
}
.success_info h2,.success_info a{
    text-align: center;
}































