@charset "utf-8";
/* CSS Document */
/* 清除标签自带外边距离 */
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, input, textarea, select {
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a {
    text-decoration: none;
    color: #333333;
}
html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #444;
}
body{
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    max-width:640px;
    background-color: #F5F5F5;
     }

dl,dd,ul{ margin:0px; padding:0px;}
ul{ list-style-type:none}


/*header*/
.top{
    z-index: 100;
    position: fixed;
    width:100%;
    top: 0;
    /*background-color: #333;*/
    background-color: #777;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content:space-between;
}
.top a{
    display:block;
}
.top .top_return{
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
    background: url(../../../assets/m/images/top_return.png) 0 0 no-repeat;
    background-size: 60%;
    margin-top: 1rem;

}
.top .top_menu{
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
    background: url(../../../assets/m/images/top_menu.png) 0 0 no-repeat;
    background-size: 60%;
    margin-top: 1rem;
}

.top .top_logo img{
    vertical-align: middle;
    height: auto;
    width: 75%;
}

input:focus{outline: none;}

.index_banner li img{
    width: 100%;
    height: auto;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #777;
}
.swiper-container-horizontal>.swiper-pagination {
    text-align: end;
    position: absolute;
}
.index_contain{
    padding: 0 0.5rem;
}
.index_contain .regeister_btn{
    height: 3rem;
    line-height: 3rem;
    margin-top: 0.2rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    background: #444;
    border-radius: 1rem;
}
.index_contain .regeister_btn p span{
   color: #ffffff;
}
.index_contain .regeister_btn p:first-child span{
    padding: 0 1.5rem;
    border-right: 1px solid #FFFFFF;
}
.index_contain .regeister_btn p:first-child span a{
    color: #ffffff;
    font-size: 1.2rem;
}
.index_contain .regeister_btn p:last-child img{
    height: 2rem;
    line-height: 2rem;
    width: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: -0.6rem;
}
.index_contain .index_list{
    margin-bottom: 2rem;
}
.index_contain .index_list>li>a{
    display: block;
    width: 96%;
    /*height: 17rem;*/
    margin: 0.5rem auto 0;
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
    /*background-color: #fb6165;*/
}
.index_contain .index_list .main_img{
    width: 100%;
    /*height: 14rem;*/
    overflow: hidden;
    position: relative;
}
.index_contain .index_list .main_img img{
    /*max-width: 100%;*/
    width: 100%;
    /*height: auto;*/
    /*height: 100%;*/
}
.index_contain .index_list .main_text{
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    background: #444;
    padding-left: 0.5rem;
}
.index_contain .index_list .click_more{
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
    height: 3.2rem;
    width: 3.2rem;
    background: url(../../../assets/m/img/chat.png) no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    z-index: 6;
    text-align: center;
    line-height: 3.2rem;
    color: #FFFFFF;
    font-size: 1.2rem;
}
.index_contain .index_list .click_more span{
    color: #CFAA75;
}
.top_nav{
    height: 3rem;
    line-height: 3rem;
    background: #444444;
    position: fixed;
    z-index: 9;
    top: 4rem;
}
.top_nav>ul{
    height: auto;
    overflow-x: scroll;
}
.top_nav>ul>li{
    width: auto;
    height: 3rem;
    margin: 0 1.2rem;
    font-size: 1.3rem;
    float: left;
    color: rgba(255,255,255,.7);;
}
.top_nav>ul>li.cur{
    color: #ffffff;
}
/*相关推荐*/
.about_tip{
    color: #444;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    border-left: 0.4rem solid #444;
    margin: 0.2rem 0 0 0.5rem;
}
/*相关推荐*/
.category{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content:  center;
}
.category li{
    box-sizing: border-box;
    width: 46%;
    margin: 0.5rem;
    position: relative;
}
.category li a{

}
.category li div{
    width: 100%;

}
.category li  div img{
    width: 100%;
    height: auto;
    border-radius: 1.2rem;
}
.category li h4{
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    position: absolute;
    height: 2rem ;
    line-height: 2rem;
    width: 97%;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: .8;
    padding: 0 0.26rem 0 0.22rem;
    border-radius: 0 0 1.2rem 1.2rem;
}
.category li h4 i{
    width: 50%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
    color: #F0F0F0;
}
.category li h4 span{
    font-size: 1.2rem;
    color: #CFAA75;
}
/*分页器*/
.mpage{
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}
.mpage a{
    text-align: center;
    display: block;
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border: 1px solid #CCCCCC;
}
.mpage .mpage_option{
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    position: relative;
    background-color: #ffffff;
    z-index: 100;
    text-align: center;
}
.mpage .mpage_option ul{
    width: 6rem;
    position: absolute;
    top: 2.4rem;
    left: -.1rem;
    right: 0rem;
    display: none;
}
.mpage .mpage_option li{
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-top: none;
}
.mpage .mpage_option li a{
    border: none;
}
.mpage .cur{
    background-color: #777;
    color: #ffffff;
}
/*摄影流程*/
.mflow,.mguarantee{
    padding: 1.2rem 0rem;
}
.mflow{
    background-color: #eeeeee;
}
.mguarantee{
    background-color: #dddddd;
}
.mflow>p,.mguarantee>p{
    margin-left: 0.7rem;
    font-size: 1.8rem;
    padding: 0.1rem;
}
.mflow ul,.mguarantee ul{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mflow ul li,.mguarantee ul li{
    /*background-color: #1EC2B8;*/
    width: 45%;
    position: relative;
    margin: 1rem 0;
    text-align: center;
}

.mflow ul li.oBox{
    background-color: #FD6D49;
}
.mflow ul li.gBox{
    background-color: #BAD878;
}
.mflow ul li.bBox{
    background-color: #4787B3;
}
.mflow ul li.lBox{
    background-color: #1EC2B8;
}
.mflow ul li img{
    margin: 1.2rem 0;
    width: 50%;
    height: auto;
}
.mflow ul li .mflow_text{
    background-color: #ffffff;
    padding: 1.2rem;
    height: auto;
}
.mflow ul li .mflow_text p{
    font-size: 1.4rem;
    color: #666;
    line-height: 1.8rem;
}
.mflow ul li .mflow_text .mflow_title{
    font-size: 2rem;
    color: #00224b;
    margin-bottom: 1rem;
}
.mguarantee li .mguaran_title{
    font-weight: bold;
    font-size: 1.8rem;
}
.mguarantee li p{
    line-height: 2rem;
    margin-top: 1rem;
}
.mguarantee ul li{
    background-color: #ffffff;
    padding: 1.2rem 0;
}




.dh{
    width:100%;
    /*margin-top:15px;*/
    padding:5px 0;
}
.dh dl{
    float:left;
    width:25%;
    /*margin-top:10px;*/
}
.dh dl dd{ text-align:center}
.dh dl dd a{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align:center;
}

.dh dl dd .index{
    background: url(../../../assets/m/images/m_index.png) 0 0 no-repeat;
    background-size: 85%;
}
.dh dl dd .nav{
    background: url(../../../assets/m/images/m_nav.png) 0 0 no-repeat;
    background-size: 85%;
}
.dh dl dd .container{
    background: url(../../../assets/m/images/m_container.png) 0 0 no-repeat;
    background-size: 85%;
}
.dh dl dd .location{
    background: url(../../../assets/m/images/m_location.png) 0 0 no-repeat;
    background-size: 85%;
}


.dh dl dd p{
    /*color: #525F81; */
    color: #666;
    font-size: 1.6rem;
    font-weight:500
}
.dh dl dd img{ width:60% ; }
.dh dl dt{ font-size:14px; line-height:24px; text-align:center}

.casetit {
    width:100%;
    height: 4rem;
    /*text-align: center;*/
    overflow: hidden;
    vertical-align: middle;
    background-color: #777;

}
.casetit a{
    display: block;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.casetit a span{
    display: block;
    height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
    zoom: 1;
}
.casetit  .case_left{
    font-weight: bold;
    font-size: 2rem;
    color: #CFAA75;
    text-transform: uppercase;}
.casetit  .case_right{
    color: #ffffff;
    font-size: 1.8rem;
}
.casetit .case_more{
    background: url(../../../assets/m/img/chat.png) no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    z-index: 6;
    text-align: center;
    width: 3.5rem;
    line-height: 3.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
    margin-top: 0.3rem;

}
.lbb{
    width:100%;
    margin-top:-5px;
    /*background-color: #525F81;*/
    /*background-color: #333;*/
    background-color: #777;
    height: 1.2rem
}

.levents{ width:92%; margin:auto; border:1px #CCCCCC solid; border-radius:5px; padding:2%; text-align:center; margin-top:15px;}
.levents .evetit{ width:100%; font-size:18px; line-height:40px; color:#333}
.levents .evetit a{ color:#333333; text-decoration:none}
.levents .evetime{ width:100%; font-size:14px; line-height:30px; color:#666666}
.levents .evepic{ width:100%;}
.levents .evepic img{ width:100%}
.levents .evedesc{ width:100%; font-size:12px; line-height:26px; color:#999999; border-bottom:1px #CCCCCC dotted}
.levents .everead{ width:100%; font-size:14px; line-height:40px;}
.levents .everead a{ color:#666666; text-decoration:none}

.white{ width:100%; height:50px;}
ul{ margin:0; padding:0; list-style-type:none}

.listc { width:90%;
    margin:4px 0px 20px 6%; }
.listc li{ float:left; width:50%; margin-top:20px; }
.listc li a{margin-right:8px; display:block;position:relative}
.listc li a img{ width:100%;}
.listc li a .cover{ position:absolute; width:100%; left:0; bottom:0; }

.listp li a .tit{ width:100%; height:40px; font-size:14px; line-height:24px; text-align:center}
.listp li a { color:#666666; text-decoration:none}

.ff{
    width:100%;
    height: 3rem;
    /*padding:3rem 0;*/
   padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.ff p{
    /*color: #CFAA75;*/
    height: 1.5rem;
    color: #aaa;
    font-size: 1.2rem;
}
.bigp{ width:100%;}
.bigp img{ width:100%; border:none}
.clearfix:after{visibility: hidden;display:block;font-size: 0;content: ".";clear: both;}

/*form 表单*/
.eventbm{
    margin:1rem 1rem;
    padding:1rem ;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    border-radius: 1.2rem;
}
.eventbm .bmpic{ width:100%;}
.eventbm .line{ width:100%; height:auto; border-bottom:1px #FF9933 dotted; font-size:12px; line-height:20px; color:#FF3300}
.eventbm .bmpic img{ width:100%; margin-top:-5px}
.eventbm .line{ width:100%; height:auto; border-bottom:1px #FF9933 dotted; font-size:12px; line-height:20px; color:#FF3300}
.eventbm .bm{ width:100%; font-size:12px; line-height:20px; color:#333333; margin-top:10px;}
.eventbm .bm ul{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content:  center;
}
.eventbm .bm ul li{
    /*float: left;*/
    width: 28%;
    padding: 0.5rem 0;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 0.5rem 0.5rem;
    border: 1px solid #444444;
    border-radius: 1.2rem;
}
.eventbm .bm ul li.cur{
    color: #ffffff;
    background-color: #444444;
}
.eventbm .bm input.in{
    text-indent:1rem;
    height:3rem;
    line-height:3rem;
    font-size:1.2rem; ;
    border:1px solid #d4d4d4;
    width:100%;
    border-radius: 0.6rem;
    margin-top:1rem;
}
.eventbm .bm select{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0px;font-family:"微软雅黑";text-indent:10px;clear:both;height:36px;line-height:36px;font-size:15px; ;border:1px solid #d4d4d4;width:100%; background:#CCCCCC}
.eventbm .bm .btn{
    border-radius:0.6rem;
    display: block;
    border: none;
    font-size: 2rem;
    width:100%;
    height:3rem;
    line-height:3rem;
    color:#fff;
    text-align:center;
    margin-top:0.8rem;
    background-color: #444444;
}
.eventbm .bm .bm_title{
    padding-bottom: 1rem;
}
.eventbm .bm #tj{background:url(../images/c8f8c-5574.jpg) repeat-x; text-align:center; line-height:80px;}
.eventbm .bm #tj a{text-shadow:none;color:#fff;font-weight:bold; cursor:pointer;}

.artical{ width:100%;  padding-bottom:10px;}
.artical h1{ font-size:22px; height:40px; text-align:center; line-height:40px;color:#666666}
.artical .eng{ font-size:14px;color:#885214; text-align:center; line-height:18px; height:40px;}
.artical .content{ width:100%; font-size:14px; line-height:22px; color:#885214;}
.artical .content img{
    width:100%;
    display:block;
    border:0px;
    margin: 0.5rem 0;
}

.artical .content1{ width:100%; font-size:14px; line-height:22px; color:#885214;}
.artical .content1 img{ width:100%; display:block; border-radius:5px; border:1px #999 solid; margin-top:5px;
    box-shadow:1px 1px 1px #999;
    -moz-box-shadow:1px 1px 1px #999;
    -webkit-box-shadow:1px 1px 1px #999;
}
.lv{ width:100%; height:auto; margin-top:10px;}

.fud{
    width:100%;
    height:4.2rem;
    position:fixed;
    /*bottom:-5px;*/
    left: 0rem;
    bottom: 0rem;
    max-width:640px;
}
.fudzuo{
    background-color: #777;
    display: block;
    /*color: #fff;*/
    color: #CFAA75;
    height: 4.2rem;
    line-height: 4.2rem;
    font-size: 1.8rem;
    width:50%;
    float:left;
    text-align:center;
    /*bottom:-5px;*/
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;}
.fudzuo i{
    width: 2.3rem;
    height: 2.3rem;
    vertical-align: middle;
    display: inline-block;
    margin-top: -0.4rem;
    margin-right: 1rem;
    background: url(../../../assets/m/images/icon.png)  no-repeat;
    background-size: 100%;
}
.fudzuo .icon_left{background-position: 0px -2.3rem;}
.fudzuo .icon_right{background-position: 0px 0px;}


.fudzuo_left{
    background-color: #636F8D;
    background-color: #222;
}

.fudzuo_right{
    background-color: #525F81;
    background-color: #111;
}
/*表单提交单选样式*/
.span{margin-left:18px; font-size:18px; color:#333; font-weight:600; margin-top:20px; float:left;}
.biaoda{
    width:100%;
    float:left;
    margin-top: 1rem;
}
.biaodan{
    width:44%;
    border:solid 1px #CCCCCC;
    float:left;
    margin-top:8px;
    margin-left:15px;
    margin-bottom:5px;
}
.biaodan .tupian{
    text-align:center;}
.biaodan .tupian img{width:100%;}
.biaodan .tupiantitle{
    width: 100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#333;
}
.biaodan .turadio{wdith:50px;height:40px;line-height:40px;float:left; margin-left:6%;}
.biaodan .turadi{wdith:40px;height:30px; line-height:30px;}

/*面包屑导航*/

.crumbs{
    margin: 10px 15px 15px 15px;
    /*height: 1.2rem;*/
    /*line-height: 1.2rem;*/
}
.crumbs a{
    color: #777;
    font-size: 1.2rem;
}
.crumbs span{
    color: #777;
}
.crumbs .last_child{
    color: #999999;
}
/*关于我们*/
.mabout{
    padding: 1rem;
}
.mabout h2{
    margin: 1rem 0;
    font-weight: normal;
}
.mabout p{
    margin: 1rem 0;
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.7;
    text-indent: 3.5rem;
}
.mabout ul{
    margin-bottom: 2rem;
}
.mabout ul li{
    padding: 0.5rem;
}
.mabout_map{
    width: 100%;
    height: 20rem;
}
/*弹出导航*/
.navs_wrap {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}
.navs_wrap .sub_navs_wrap {
    margin-top: 4.3rem;
}
.navs_wrap .sub_navs_wrap .close {
    background: rgba(255, 255, 255, 0.8) url(../../../assets/m/images/close.png) no-repeat right center;
    height: 4.3rem;
    display: block;
    width: 95%;
    background-size: 2rem auto;
    box-sizing: border-box;
    margin-right: 5%;
}
.navs_wrap .sub_navs_wrap .common_ul {
    background: transparent;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 1.4rem;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a {
    display: block;
    font-size: 1.6rem;
    color: #666;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a i {
    display: block;
    width: 4.3rem;
    height: 4.3rem;
    margin: 0 auto 0.25rem auto;

}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_index{
    background: url(../../../assets/m/images/m_index.png) no-repeat;
    background-size: 90%;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_container{
    background: url(../../../assets/m/images/m_container.png) no-repeat;
    background-size: 90%;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_location{
    background: url(../../../assets/m/images/m_location.png) no-repeat;
    background-size: 90%;
}
.navs_wrap .sub_navs_wrap .common_ul .common_li a .m_nav{
    background: url(../../../assets/m/images/m_nav.png) no-repeat;
    background-size: 90%;
}


.navs_wrap .sub_navs_wrap .more_title {
    position: relative;
    margin: 1.4rem 3.2rem 0 3.2rem;
    text-align: center;
    line-height: 2.2rem;
    font-weight: 500;
    font-size: 1.9rem;
}
.navs_wrap .sub_navs_wrap .more_title .more_text {
    position: relative;
    z-index: 5;
    padding: 0 0.4rem;
    color: #333;
    font-size: 1.9rem;
    background: #fff;
}
.navs_wrap .sub_navs_wrap .more_title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 1px solid #ccc;
}
.navs_wrap .sub_navs_wrap .hot_zixun {
    margin: 0 2.8rem;
}
.navs_wrap .sub_navs_wrap .hot_zixun li a {
    display: block;
    float: left;
    width: 28.5%;
    background: #f5f5f5;
    font-size: 1.4rem;
    height: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 1.2rem 4.7% 0 0;
}
/*step1*/
.order_style{
    /*display: none;*/
}
.order_title{
    font-size: 25px;
    font-weight: 500;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    /*color: #525F81;*/

}
.order_title span{
    font-size: 14px;
    font-weight: 500;
}
.order_style ul{
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 0 1.5rem;
}
.order_style ul li{
    width: 40%;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid #CCCCCC;
    position: relative;
}
.order_style ul li a{
    display: block;
}
.order_style ul li h4{
    font-weight: normal;
    font-size: 1.4rem;
    padding: 0.5rem;
   position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    background-color: #333333;
    opacity: 0.5;
    color:#fff;
}
.order_style ul li a img{
    width: 100%;
}
/*step2*/
.order_form{
    display: none;
    margin: 0 auto;
}
.order_city{
    padding: 1rem 1rem;
    vertical-align: middle;
}
.order_city select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    width: 5rem;
    height: 2rem;
    padding: 0.1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    outline: none;
    margin-right: 1rem;
}
.order_city select option{
    text-align: center;
}
.order_city span{
    color: #FF6600;
    font-size: 1.2rem;
}
.date_time{
    padding: 1rem 1rem;
    vertical-align: middle;
}
.date_time input{
    border: 1px solid #ccc;
    outline: none;
    height: 2rem;
    padding-left: 1.2rem;
}
.order_price{
    display: none;
    padding: 0 1rem;
}
.order_price p{
    margin-bottom: 1rem;
}
.order_price li{
    position: relative;
    width: 9rem;
    float: left;
    height: 2rem;
    line-height: 2rem;
    margin-right: 3rem;
}
.order_price li span{
    float: right;
    margin: 0px 1rem;
}
.order_price input[type=radio]{
    visibility: hidden;
    margin: 0 0;
}
.order_price label{
    margin: 0 0;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.5rem;
    left: 0;
    background: #fff;
    border: 2px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.order_price label i{
    opacity: 0;
    content: '';
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    background: transparent;
    top: 0px;
    left: 0.2rem;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.order_info .err_tips{
    /*color: #525F81;*/
}
.order_info p{
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    vertical-align: middle;
}
.order_info p input{
    outline: none;
    width: 80%;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #ccc;
    padding-left: 1rem;
}
.order_info .order_btn{
    justify-content:center;
}
.order_info .order_pre,.order_info .order_next{
    display: inline-block;
    text-align: center;
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    /*background-color: #525F81;*/
    /*color: #fff;*/
    background-color: #333;
    color: #C5AA60;
}
.order_message {
    display: flex;
}
.order_message textarea{
    width: 80%;
    height: 10rem;
    outline: none;
    font-size: 14px;
    padding-left: 1rem;
    border: 1px solid #ccc;
}
/*step3*/
.success_info{
    display: none;

}
.success_info .succ_title{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
    color: #D3A55D;
}
.success_info .succ_tips{
    text-align: center;
    padding-bottom: 0.5rem;
    color: #D3A55D;
}
.success_info .succ_wechat{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content:center;
    margin: 1.2rem 0;

}
.success_info .succ_wechat img{
    width: 100px;
    height: 100px;
}
.success_info .succ_wechat .wechat_text{
    display: block;
    padding-left: 1.2rem;
}
.success_info .succ_wechat .wechat_text i{
    display: block;
    font-style: normal;
    margin-top: 1.2rem;
}
































