/*************************css-reset************************/
body {
    margin:0;
    background: #ffffff;/*#F1F2F7;*/
    font-family: "Microsoft YaHei";
    font-size: 14px;
    line-height: 24px;
    color:#333;

}
ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,button {
    margin:0;
    padding:0;
}
ul,ol {
list-style: none;
}
input,button {
font-family: "Microsoft YaHei";
}
a {
    color:#333;
    text-decoration: none;
}
a:hover {
    color:#f60;
    text-decoration: none;
}
.clearfloat:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}