/* Global Style end */
.theServiceTitle {
    background: #fefefe url(../images/df72b-3396.jpg) no-repeat center center;
    height: 302px;
    display: block;
    overflow: hidden;
    text-indent: -9999em;
}

.theServiceTab {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.theServiceTabCon {
    height: 482px;
    display: block;
    overflow: hidden;
}

.theServiceTabCon img {
    display: block;
}

.theServiceTabUl {
    background: #f5f5f5;
}

.theServiceTabUl li {
    float: left;
    width: 300px;
    height: 200px;
    text-align: center;
    color: #9c9c9c;
    font-size: 13px;
    font-family: Microsoft YaHei;
    line-height: 24px;
    padding: 40px 0 0 0;
    cursor: pointer;
    cursor: hand;
    background: url(../images/d4654-1996.png) no-repeat left top;
}

.theServiceTabUl li.first {
    background: none;
}

.theServiceTabUl li strong {
    font-size: 20px;
    font-weight: normal;
    display: block;
}

.theServiceTabUl li span {
    font-size: 12px;
    display: block;
}

.theServiceBtn {
    background: url(../images/32603-1649.png) no-repeat 0 0;
    width: 106px;
    height: 38px;
    line-height: 38px;
    padding-right: 40px;
    display: block;
    overflow: hidden;
    text-align: right;
    font-size: 32px;
    color: #e5392b;
    font-family: Microsoft YaHei;
    margin: 4px auto;
}

.theServiceBtn:hover, .theServiceTabUl li.act .theServiceBtn {
    color: #fff;
    text-decoration: none;
    background-position: 0 -38px;
}

.csEvaluation {
    /*background:#ffffff url(../images/30e38-7681.jpg) no-repeat top center;*/
}

.csEvaluationTop {
    padding: 58px 600px 0 8px;
    width: 592px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    height: 196px;
    overflow: hidden;
    color: #f9cac8;
    font-size: 20px;
    font-family: Microsoft YaHei;
}

.csEvaluationTop strong {
    height: 100px;
    line-height: 50px;
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 36px;
    font-weight: normal;
}

.csEvaluationTop p {
    line-height: 24px;
}

.csPraise {
    background: #f0f0f0 url(../images/a7e3f-3858.png) no-repeat top center;
    width: 1200px;
    margin: 0 auto;
    padding: 136px 0 32px 0;
}

.csTab, .csTab li a {
    background: url(../images/ec53b-1534.png) no-repeat 0 -9999em;
}

.csTab {
    background-position: 0 0;
    width: 328px;
    height: 43px;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.csTab li a {
    width: 87px;
    height: 43px;
    display: block;
    overflow: hidden;
    text-indent: -9999em;
    position: absolute;
    top: 0;
}

.csTab li a.weixin {
    left: 0;
}

.csTab li a.weixin:hover, .csTab li.act a.weixin {
    background-position: 0 -43px;
}

.csTab li a.weibo {
    left: 120px;
}

.csTab li a.weibo:hover, .csTab li.act a.weibo {
    background-position: -120px -43px;
}

.csTab li a.tianmao {
    left: 241px;
}

.csTab li a.tianmao:hover, .csTab li.act a.tianmao {
    background-position: -241px -43px;
}

.Evaluation {
    width: 988px;
    height: 310px;
    display: block;
    overflow: hidden;
    padding: 0 75px;
    margin: 52px auto 0 auto;
    position: relative;
}

.evaluationItem {
}

.evaluationItem dl, .bx-wrapper .bx-controls-direction a {
    background: url(../images/36fc6-3198.png) no-repeat;
}

.bx-wrapper .bx-controls-direction a {
    width: 45px;
    height: 72px;
    display: block;
    overflow: hidden;
    text-indent: -9999em;
    position: absolute;
    top: 60px;
    cursor: pointer;
    cursor: hand;
    z-index: 10;
    margin-top: 0;
}

.csTabBtnPrev, .bx-wrapper .bx-controls-direction a.bx-prev {
    background-position: 0 -190px;
    left: -0px;
}

.csTabBtnNext, .bx-wrapper .bx-controls-direction a.bx-next {
    background-position: -45px -190px;
    right: -0px;
}

.EvaluationHid {
}

.evaluationItem dl {
    background-position: 0 0;
    width: 231px;
    height: 190px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    line-height: 18px;
    color: #737373;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: normal;
}

.evaluationItemAct dl {
    background-position: -231px 0;
}

.evaluationItem dt {
    padding: 3px 13px 0 13px;
    height: 144px;
    display: block;
    overflow: hidden;
    margin-bottom: 2px;
}

.evaluationItem dt td {
    vertical-align: middle;
    height: 144px;
    font-size: 14px;
    line-height: 24px;
}

.evaluationItem dd {
    height: 28px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding: 0 31px;
}

.evaluationImg {
    background: #fafafa;
    width: 231px;
    height: 120px;
    display: block;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    margin: 28px auto 0 auto;
    text-align: center;
}

.evaluationImg img {
    max-width: 230px;
    height: 120px;
}

.station {
    background:#474747 url(../img/94981-5270.jpg) no-repeat center top;
    height: 631px;
    position: relative;
    margin-bottom: 50px;
}

.latestNews {
    padding-bottom: 32px;
}

.station {
    /*background: #f0f0f0 url(../images/5d5da-8109.png) no-repeat center top;*/
    /*height: 162px;*/
}

.latestNewsList {
    background: url(../images/a6fde-8116.png) repeat-y center top;
    width: 1200px;
    margin: 10px auto;
}

.latestNewsList li {
    background: url(../images/c9c57-4804.png) repeat-x center top;
    float: left;
    width: 560px;
    padding: 24px 20px;
    line-height: 18px;
    color: #8d8d8d;
    font-size: 12px;
    font-family: Microsoft YaHei;
}

.latestNewsDate {
    background: url(../images/cdcb2-4696.png) no-repeat 4px center;
    line-height: 24px;
    color: #737373;
    font-size: 12px;
    padding-left: 24px;
}

.latestNewsTit {
    height: 30px;
    line-height: 30px;
    display: block;
    overflow: hidden;
    color: #ff0000;
    font-size: 18px;
    font-weight: normal;
    margin: 12px 0 16px 0;
}

.latestNewsTit a {
    color: #ff0000;
    text-decoration: none;
}

.latestNewsTit a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.latestNewsTxt {
    color: #585858;
    height: 36px;
    line-height: 18px;
    display: block;
    overflow: hidden;
}

.latestNewsTxt a {
    color: #585858;
    text-decoration: none;
}

.latestNewsTxt a:hover {
    color: #585858;
    text-decoration: underline;
}

.latestNewsMeta {
    height: 20px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    margin-top: 12px;
}

.bx-wrapper {
    min-width: 988px;
}