a {
  text-decoration: none;
  color: #222222;
}
body {
  background-color: #F7F7F7;
}
.navbar {
  background-color: #ffffff;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
}
.navbar .select_city,
.navbar .hot_online {
  background: url("../images/group_1222.png") no-repeat;
}
.navbar .select_city {
  float: left;
  width: 95px;
  position: relative;
  zoom: 1;
  background-position: 10px 12px;
}
.navbar .select_city .current_city {
  padding-left: 30px;
  display: block;
  width: 55px;
  height: 39px;
  line-height: 39px;
  cursor: pointer;
}
.navbar .hot_online {
  float: right;
  width: 100px;
  padding-left: 20px;
  background-position: 0 -24px;
}
.header {
  position: relative;
  zoom: 1;
  height: 88px;
  background: #ffffff;
}
.header .header_cont {
  height: 88px;
}
.header .header_cont .header_logo {
  width: 260px;
  height: 56px;
  float: left;
  margin-top: 15px;
}
.header .header_cont .header_logo a {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../images/qq_gjj_logo.png") no-repeat;
  text-indent: -9999em;
  overflow: hidden;
}
.header .header_cont .navigation_wrap {
  float: right;
  width: 780px;
  height: 88px;
}
.header .header_cont .navigation_wrap li {
  float: left;
  width: 130px;
  height: 48px;
  line-height: 48px;
  margin-top: 20px;
  padding-bottom: 20px;
  display: inline;
  position: relative;
  zoom: 1;
}
.header .header_cont .navigation_wrap li a {
  position: relative;
  zoom: 1;
  display: block;
  width: 100%;
  height: 64px;
  text-align: center;
  font-size: 16px;
}
.header .header_cont .navigation_wrap li a.active {
  color: #ff6600;
}
.header .header_cont .navigation_wrap li:hover a {
  color: #ff6600;
  border-bottom: 4px solid #ff6600;
}
.csm_slide {
  position: relative;
  zoom: 1;
  height: 470px;
  background-color: #cbcbcb;
}
.csm_slide a {
  display: block;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff6600;
}
.slide_form {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -600px;
  width: 300px;
  height: 395px;
  z-index: 3;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.slide_form .form_intro {
  position: relative;
  display: block;
  background: #222222;
  width: 300px;
  height: 56px;
  padding-top: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fcc084;
  font-size: 16px;
  border-radius: 3px 3px 0 0;
  font-family: "Noto Sans CJK SC Light", "Source Han Sans CN Light", "Microsoft Yahei";
  zoom: 1;
}
.slide_form .form_intro .p1 {
  font-size: 16px;
}
.slide_form .form_intro:before {
  content: "+";
  position: absolute;
  left: 50px;
  top: 30px;
  color: #fcc084;
  font-size: 12px;
  font-family: arial;
}
.slide_form .form_intro:after {
  content: "+";
  position: absolute;
  right: 50px;
  top: 30px;
  color: #fcc084;
  font-size: 12px;
  font-family: arial;
}
.slide_form .form_title {
  line-height: 48px;
  padding-top: 7px;
  color: #000000;
  text-align: center;
  font-size: 24px;
}
.slide_form .form_index {
  color: #666;
  text-align: center;
  font-size: 14px;
}
.slide_form .slide_form_select {
  padding: 5px 18px 20px;
}
.slide_form .slide_form_select input {
  width: 240px;
  margin-top: 20px;
  outline-color: #ff6600;
}
.slide_form .slide_form_select .txt {
  border: 1px solid #eeeeee;
  padding: 5px 10px;
  height: 30px;
  line-height: 1.2;
  font-size: 14px;
  border-radius: 3px;
}
.slide_form .slide_form_select .subBtn {
  width: 260px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #ff6600;
  color: white;
  font-size: 16px;
  border: none;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.slide_form .slide_form_select .user_num {
  padding-top: 15px;
  line-height: 1.6;
  text-align: center;
  font-size: 14px;
  color: #333333;
}
.slide_form .slide_form_select .user_num em {
  padding: 0 10px;
  font-size: 18px;
  color: #ff6600;
}
.guide_entrance {
  padding: 50px 0 60px;
}
.guide_entrance li {
  float: left;
  width: 300px;
  text-align: center;
  position: relative;
  zoom: 1;
  font-size: 24px;
  font-family: "Noto Sans CJK SC Light", "Source Han Sans CN Light", "Microsoft Yahei";
}
.guide_entrance li img {
  width: 286px;
  height: 150px;
}
.guide_entrance li a {
  display: block;
  padding-left: 8px;
  width: 286px;
  height: 150px;
  color: #999999;
}
.guide_entrance li a .default_img {
  display: block;
}
.guide_entrance li a .hover_img {
  display: none;
}
.guide_entrance li a:hover .default_img {
  display: none;
}
.guide_entrance li a:hover .hover_img {
  display: block;
}
.mod_title {
  position: relative;
  zoom: 1;
}
.mod_title a:hover {
  color: #FF6600;
}
.mod_title p {
  display: inline;
  width: auto;
  font-size: 36px;
  color: #333333;
  line-height: 1.5;
}
.mod_title .mod_tip {
  padding-left: 10px;
  color: #999999;
  font-size: 14px;
}
.mod_title .mod_tip:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 14px;
  padding-right: 10px;
  border-left: 1px solid #cccccc;
  vertical-align: middle;
}
.mod_title .mod_more {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 14px;
  color: #999999;
}
.mod_title .mod_more .r_arrow {
  margin-left: 10px;
  margin-bottom: 3px;
  display: inline-block;
  width: 6px;
  height: 11px;
  background: url("../images/group_1222.png") 0 -640px no-repeat;
  vertical-align: middle;
}
.assemb_packing {
  position: relative;
  padding-bottom: 90px;
}
.assemb_packing .assemb_title {
  position: absolute;
  left: 20px;
  top: 110px;
  width: 170px;
  height: 50px;
  padding-top: 110px;
  padding-left: 20px;
  background: #222222;
  color: #fcc084;
  font-size: 30px;
  border-radius: 5px;
}
.assemb_packing .assemb_title .home_text {
  color: #515151;
  font-size: 20px;
  margin: -105px 0 0 10px;
  position: absolute;
}
.assemb_packing .assemb_tab {
  width: 990px;
  height: 225px;
  margin-top: 35px;
  padding-left: 220px;
  padding-top: 20px;
  background: #eeeeee;
  font-size: 30px;
}
.assemb_packing .assemb_tab li {
  float: left;
  width: 138px;
  height: 48px;
  padding-left: 20px;
  padding-top: 110px;
  margin-left: 83px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #eeeeee;
  display: inline;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  position: relative;
  cursor: pointer;
}
.assemb_packing .assemb_tab li:hover {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.assemb_packing .assemb_tab li.active {
  color: #ff6600;
  border-color: #ff6600;
  background: #ffffff;
  box-shadow: none;
}
.assemb_packing .assemb_tab li.active .pack_ex_ico1 {
  background-position: -56px -562px;
}
.assemb_packing .assemb_tab li.active .pack_ex_ico2 {
  background-position: -56px -471px;
}
.assemb_packing .assemb_tab li.active .pack_ex_ico3 {
  background-position: -56px -514px;
}
.assemb_packing .assemb_tab li.active .pack_ex_ico4 {
  background-position: -56px -425px;
}
.assemb_packing .assemb_tab li.active .pack_ico2:after {
  background-position: -40px -131px;
}
.assemb_packing .assemb_tab li.active .pack_ico3:after {
  background-position: -40px -164px;
}
.assemb_packing .assemb_tab li.active .pack_ico4:after {
  background-position: -40px -197px;
}
.assemb_packing .assemb_tab li.active .pack_ico5:after {
  background-position: -40px -230px;
}
.assemb_packing .assemb_tab li.active .pack_ico2,
.assemb_packing .assemb_tab li.active .pack_ico3,
.assemb_packing .assemb_tab li.active .pack_ico4,
.assemb_packing .assemb_tab li.active .pack_ico5 {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 28px;
  height: 42px;
  background: #ff6600;
  border-radius: 0 5px 0 5px;
}
.assemb_packing .assemb_tab .pack_ico,
.assemb_packing .assemb_tab .pack_ico2:after,
.assemb_packing .assemb_tab .pack_ico3:after,
.assemb_packing .assemb_tab .pack_ico4:after,
.assemb_packing .assemb_tab .pack_ico5:after {
  background: url("../images/group_1222.png") no-repeat;
}
.assemb_packing .assemb_tab .pack_ico2:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  background-position: -20px -131px;
  width: 9px;
  height: 23px;
}
.assemb_packing .assemb_tab .pack_ico3:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  background-position: -20px -164px;
  width: 9px;
  height: 23px;
}
.assemb_packing .assemb_tab .pack_ico4:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  background-position: -20px -197px;
  width: 9px;
  height: 23px;
}
.assemb_packing .assemb_tab .pack_ico5:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  background-position: -20px -230px;
  width: 9px;
  height: 23px;
}
.assemb_packing .assemb_tab .pack_ex_ico1,
.assemb_packing .assemb_tab .pack_ex_ico2,
.assemb_packing .assemb_tab .pack_ex_ico3,
.assemb_packing .assemb_tab .pack_ex_ico3,
.assemb_packing .assemb_tab .pack_ex_ico4 {
  position: absolute;
  left: 20px;
  top: 20px;
}
.assemb_packing .assemb_tab .pack_ex_ico1 {
  background-position: 0 -562px;
  width: 40px;
  height: 34px;
}
.assemb_packing .assemb_tab .pack_ex_ico2 {
  background-position: 0 -471px;
  width: 40px;
  height: 33px;
}
.assemb_packing .assemb_tab .pack_ex_ico3 {
  background-position: 0 -514px;
  width: 46px;
  height: 38px;
}
.assemb_packing .assemb_tab .pack_ex_ico4 {
  background-position: 0 -425px;
  width: 42px;
  height: 36px;
}
.assemb_packing .assemb_con {
  margin: -25px 20px 0;
  height: 440px;
}
.assemb_packing .assemb_con li.disactive {
  display: none;
}
.assemb_packing .assemb_con li.active {
  padding: 0;
  border: none;
  display: block;
}
.assemb_packing .assemb_con .each_tc {
  position: relative;
  zoom: 1;
  padding-top: 160px;
}
.assemb_packing .assemb_con .each_tc_tab {
  position: absolute;
  left: 590px;
  top: 0;
  width: 590px;
  height: auto;
  border-bottom: 0;
}
.assemb_packing .assemb_con .each_tc_tab li {
  float: left;
  width: 173px;
  height: 94px;
  padding-left: 110px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  color: #999999;
  position: relative;
  zoom: 1;
  cursor: pointer;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon {
  position: absolute;
  left: 30px;
  top: 26px;
  width: 36px;
  height: 44px;
  background: url("../images/group_1222.png") no-repeat;
}
.assemb_packing .assemb_con .each_tc_tab li .name {
  padding-top: 22px;
  font-size: 24px;
  line-height: 1.1;
}
.assemb_packing .assemb_con .each_tc_tab li .active_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 0 4px 0 4px;
  background: #ffffff;
  z-index: 1;
}
.assemb_packing .assemb_con .each_tc_tab li .active_icon .active_icon_gou {
  position: absolute;
  left: 4px;
  top: 6px;
  background-position: 0 -661px;
  width: 14px;
  height: 10px;
  z-index: 2;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon:after {
  content: "";
  position: absolute;
  left: 60px;
  top: 0px;
  width: 0;
  height: 44px;
  border-left: 1px solid #999999;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon1 {
  background-position: 0 -317px;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon2 {
  background-position: 0 -263px;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon3 {
  background-position: -276px -99px;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon4 {
  background-position: -276px -153px;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon5 {
  background-position: -276px -261px;
}
.assemb_packing .assemb_con .each_tc_tab li .zxb_icon6 {
  background-position: -276px -315px;
}
.assemb_packing .assemb_con .each_tc_tab li.active {
  border-color: #ff6600;
  color: #ff6600;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon:after {
  border-color: #ff6600;
}
.assemb_packing .assemb_con .each_tc_tab li.active .active_icon {
  background: #ff6600;
  top: -1px;
  right: -1px;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon1 {
  background-position: -47px -317px;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon2 {
  background-position: -47px -263px;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon3 {
  background-position: -322px -99px;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon4 {
  background-position: -322px -153px;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon5 {
  background-position: -322px -261px;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon6 {
  background-position: -322px -315px;
}
.assemb_packing .assemb_con .each_tc_tab li.active .zxb_icon7 {
  background-position: -322px -423px;
}
.assemb_packing .assemb_con .each_tc_tab_con li {
  display: none;
  padding: 0;
  border: none;
}
.assemb_packing .assemb_con .each_tc_tab_con li.active {
  display: block;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro {
  color: #222222;
  position: relative;
  zoom: 1;
  padding-left: 620px;
  width: 595px;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro img {
  position: absolute;
  left: 0;
  top: -160px;
  width: 570px;
  height: 440px;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro .serise_name {
  font-weight: bold;
  font-size: 55px;
  display: inline-block;
  width: 220px;
  height: 68px;
  vertical-align: middle;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro .explain {
  font-size: 24px;
  line-height: 1.4;
  padding: 10px 0;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro .intro {
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 16px;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro .intro em {
  font-size: 36px;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro .btn {
  display: block;
  width: 260px;
  height: 45px;
  line-height: 45px;
  margin-top: -5px;
  text-align: center;
  border-radius: 4px;
  background: #222222;
  color: #ffffff;
  font-size: 16px;
}
.assemb_packing .assemb_con .each_tc_tab_con .tc_intro .btn:hover {
  background: #FF6600;
}
.assemb_packing .icon_list {
  background: url("../images/group_1222.png") no-repeat;
}
.assemb_packing .icon_list01,
.assemb_packing .icon_list02,
.assemb_packing .icon_list03,
.assemb_packing .icon_list04 {
  position: absolute;
}
.assemb_packing .icon_list02,
.assemb_packing .icon_list03,
.assemb_packing .icon_list04 {
  width: 24px;
  height: 24px;
  top: 180px;
  background-position: -34px -630px;
}
.assemb_packing .icon_list01 {
  width: 24px;
  height: 15px;
  left: 245px;
  top: 180px;
  background-position: -34px -605px;
}
.assemb_packing .icon_list02 {
  left: 495px;
}
.assemb_packing .icon_list03 {
  left: 740px;
}
.assemb_packing .icon_list04 {
  left: 980px;
}
.budget_quote {
  margin-top: 30px;
  margin-bottom: 70px;
  border: 1px solid #fcc084;
  position: relative;
  font-size: 16px;
}
.budget_quote .title {
  display: block;
  padding-bottom: 5px;
  color: #222222;
  font-size: 30px;
  font-weight: bold;
}
.budget_quote .quote_option {
  float: left;
  width: 550px;
  padding: 30px 0 30px 35px;
}
.budget_quote .quote_option .meter_area {
  width: 230px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.budget_quote .quote_option .meter_area + em {
  padding-left: 10px;
}
.budget_quote .quote_option .item {
  padding: 10px 0;
}
.budget_quote .quote_option .tip {
  color: #999999;
  font-size: 13px;
  padding: 5px 0 0 25px;
  position: relative;
}
.budget_quote .quote_option .tip em {
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/new_icon.png") no-repeat 0 -1850px;
}
.budget_quote .quote_option .tip span {
  color: #ff6600;
}
.budget_quote .quote_option select {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 9px;
  width: 52px;
  background: #ffffff url("../images/select_aw_ico2.png") no-repeat right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 14px;
  outline-color: #ff6600;
}
.budget_quote .quote_result {
  float: right;
  width: 380px;
  height: 291px;
  padding-right: 80px;
  padding-top: 30px;
  text-align: right;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.budget_quote .quote_result .price_num {
  display: inline-block;
  width: 140px;
  text-align: center;
  color: #ff6600;
}
.budget_quote .quote_result .price_num .total i {
  display: inline-block;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background: #222222;
  line-height: 60px;
  text-align: center;
  color: #fcc084;
  margin: 15px;
}
.budget_quote .quote_result .detail_btn {
  display: block;
  width: 210px;
  height: 65px;
  padding-top: 15px;
  margin-top: 40px;
  margin-left: 172px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #cccccc;
  color: #999999;
  border-radius: 5px;
  cursor: default;
}
.budget_quote .quote_result .detail_btn em {
  display: inline-block;
  width: 35px;
  height: 42px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../images/group_1222.png") no-repeat -562px -899px;
}
.budget_quote .quote_result .detail_btn p {
  display: inline-block;
  vertical-align: middle;
}
.budget_quote .quote_result .tip {
  font-size: 14px;
  color: #999999;
  line-height: 2.5;
}
.budget_quote .quote_result .unit {
  position: absolute;
  right: -35px;
  bottom: -35px;
  font-size: 290px;
  line-height: 1;
  color: #eeeeee;
  font-weight: bold;
  z-index: -1;
}
.budget_quote .quote_btn {
  position: absolute;
  left: 600px;
  top: 0;
  width: 150px;
  height: 315px;
  cursor: pointer;
}
.budget_quote .quote_btn .middle_anmite {
  position: absolute;
  width: 140px;
  height: 140px;
  border: 10px solid #fdcc9a;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  left: -5px;
  top: 70px;
  -webkit-animation: dotSpread2 1500ms ease-out 1800ms infinite;
  animation: dotSpread2 1500ms ease-out 1800ms infinite;
}
.budget_quote .quote_btn .g_btn {
  padding: 30px;
  font-size: 25px;
  position: absolute;
  left: 10px;
  top: 85px;
  width: 70px;
  height: 70px;
  line-height: 35px;
  text-align: center;
  outline: none;
  background: #ff6600;
  border-radius: 50%;
  z-index: 2;
  color: #ffffff;
}
.budget_quote .quote_btn:after,
.budget_quote .quote_btn:before {
  content: "";
  width: 0;
  border-left: 1px dashed #fcc084;
  position: absolute;
  left: 74px;
}
.budget_quote .quote_btn:after {
  bottom: -4px;
  height: 85px;
}
.budget_quote .quote_btn:before {
  top: 0;
  height: 75px;
}
.budget_quote:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -1px;
  width: 1200px;
  height: 0;
  border-top: 5px solid #fcc084;
}
@-webkit-keyframes dotSpread2 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 10px solid #fdcc9a;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes dotSpread2 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 10px solid #fdcc9a;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.mode_case {
  margin-top: 30px;
  padding-bottom: 90px;
}
.mode_case .case_item {
  float: left;
  margin-right: 20px;
  position: relative;
  zoom: 1;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.mode_case .case_item .img {
  height: 475px;
  overflow: hidden;
}
.mode_case .case_item .case_intro {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 297px;
  text-align: left;
  padding: 10px 20px;
  font-size: 16px;
}
.mode_case .case_item .case_intro h3 {
  padding-bottom: 6px;
  font-size: 24px;
  border-bottom: 1px solid #ffffff;
  line-height: 1.5;
  color: #ffffff;
}
.mode_case .case_item .case_intro p {
  line-height: 2;
  color: #ffffff;
}
.mode_case .case_item .case_intro p .style {
  float: left;
  width: 100px;
}
.mode_case .case_item .case_intro p .area {
  float: right;
  width: 100px;
  text-align: right;
}
.mode_case .case_item:hover {
  margin-top: -10px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.site_list {
  padding: 33px 0 90px;
}
.site_list li {
  float: left;
  width: 286px;
  margin-right: 14px;
  background: #ffffff;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.site_list li img {
  width: 286px;
  height: 286px;
  vertical-align: middle;
}
.site_list li .explain {
  position: relative;
  padding: 20px 15px 0;
  height: 120px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  zoom: 1;
}
.site_list li .plan {
  position: relative;
  zoom: 1;
  display: block;
  width: 255px;
  height: 6px;
  background: #eeeeee;
  border-radius: 3px;
}
.site_list li .plan span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  background: #fcc084;
  border-radius: 3px;
}
.site_list li h3 {
  margin-top: 35px;
  font-size: 20px;
  color: #222222;
}
.site_list li .tip {
  color: #999999;
  font-size: 14px;
}
.site_list li .site_tag {
  position: absolute;
  right: 20px;
  bottom: 52px;
  width: 60px;
  height: 20px;
  padding: 0 5px;
  line-height: 20px;
  text-align: center;
  background: #222222;
  color: #ffffff;
}
.site_list li:hover {
  margin-top: -10px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.fitment_ack {
  height: 628px;
  padding-bottom: 80px;
}
.fitment_ack .little_title {
  padding: 25px 0 0;
  height: 30px;
  line-height: 30px;
}
.fitment_ack .little_title p {
  padding-right: 10px;
  display: inline;
  font-size: 20px;
}
.fitment_ack .little_title .cc_arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-bottom: 8px;
  background: url("../images/group_1222.png") 0 -606px no-repeat;
}
.fitment_ack .news_main {
  width: 900px;
  float: left;
}
.fitment_ack .news_main .ack_item {
  float: left;
  width: 440px;
  margin-right: 20px;
  margin-top: 25px;
  display: inline;
  text-align: center;
}
.fitment_ack .news_main .ack_item .imgbox {
  display: block;
  position: relative;
  zoom: 1;
  width: 440px;
  height: 270px;
  overflow: hidden;
}
.fitment_ack .news_main .ack_item .imgbox img {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 270px;
  transition: transform .4s ease;
  -webkit-transition: transform .4s ease;
  transform-origin: center;
  -webkit-transform-origin: center;
  z-index: 1;
}
.fitment_ack .news_main .ack_item .imgbox .ack_tag {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ff6600;
  background: #ffffff;
  font-size: 16px;
  z-index: 2;
}
.fitment_ack .news_main .ack_item .imgbox:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.fitment_ack .news_main .ack_item h4 {
  padding-top: 25px;
  font-size: 20px;
  font-weight: normal;
}
.fitment_ack .news_main .ack_item .intro {
  font-size: 14px;
  color: #999999;
}
.fitment_ack .news_main .strategy_list {
  margin-top: 25px;
}
.fitment_ack .news_main .strategy_list li {
  float: left;
  width: 286px;
  height: 120px;
  margin-right: 20px;
}
.fitment_ack .news_main .strategy_list li .imgbox {
  display: block;
  position: relative;
  zoom: 1;
  width: 286px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
}
.fitment_ack .news_main .strategy_list li img {
  width: 286px;
  height: 120px;
  transition: transform .4s ease;
  -webkit-transition: transform .4s ease;
  transform-origin: center;
  -webkit-transform-origin: center;
  border-radius: 5px;
}
.fitment_ack .news_main .strategy_list li .strategy_tag {
  position: absolute;
  left: 0;
  top: 0;
  width: 286px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
}
.fitment_ack .news_main .strategy_list li:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.fitment_ack .news_slide {
  width: 290px;
  float: right;
}
.fitment_ack .hot_list li {
  height: 28px;
  overflow: hidden;
  margin-top: 18px;
  transition: height .2s linear;
  -webkit-transition: height .2s linear;
}
.fitment_ack .hot_list li a {
  display: block;
  position: relative;
  zoom: 1;
  width: 260px;
  padding-left: 30px;
}
.fitment_ack .hot_list li a .num {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  color: #999999;
}
.fitment_ack .hot_list li a h4 {
  font-weight: normal;
  width: 260px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}
.fitment_ack .hot_list li a .intro {
  padding-top: 2px;
  font-size: 14px;
  color: #999999;
  line-height: 1.4;
}
.fitment_ack .hot_list li a .imgbox {
  width: 250px;
  height: 120px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.fitment_ack .hot_list li a .imgbox img {
  height: 157px;
  width: 250px;
}
.fitment_ack .hot_list li:hover a {
  color: #FF6600;
}
.fitment_ack .hot_list li:hover a .num {
  color: #FF6600;
}
.fitment_ack .hot_list li.active {
  height: 188px;
  overflow: hidden;
}
.partner_title {
  position: relative;
  zoom: 1;
}
.partner_title .point {
  display: inline-block;
  padding-right: 5px;
  font-size: 80px;
  color: #222222;
  position: relative;
  font-family: arial;
  line-height: 1.5;
}
.partner_title .point_sub:after {
  content: "+";
  position: absolute;
  right: -25px;
  top: -8px;
  font-size: 56px;
  font-weight: bold;
  color: #222222;
}
.partner_title h2 {
  font-weight: normal;
  display: inline;
  width: auto;
  font-size: 30px;
  color: #333333;
  line-height: 1.5;
}
.brand_list {
  padding-bottom: 70px;
  overflow: hidden;
}
.brand_list li {
  float: left;
  width: 234px;
  height: 100px;
  margin: 10px 6px 0 0;
}
.brand_list li a {
  display: block;
  width: 234px;
  height: 100px;
  background: url("../images/bank_logo2.png") no-repeat;
  text-indent: -9999px;
}
.brand_list li.item1 a {
  background-position: 0 -220px;
}
.brand_list li.item2 a {
  background: url("../images/friend_link_21.png") no-repeat;
}
.brand_list li.item3 a {
  background: url("../images/friend_link_31.png") no-repeat;
}
.brand_list li.item4 a {
  background-position: -732px -220px;
}
.brand_list li.item5 a {
  background-position: -976px -220px;
}
.brand_list li.item6 a {
  background-position: 0 -330px;
}
.brand_list li.item7 a {
  background-position: -244px -330px;
}
.brand_list li.item8 a {
  background-position: -488px -330px;
}
.brand_list li.item9 a {
  background-position: -732px -330px;
}
.brand_list li.item10 a {
  background-position: -976px -330px;
}
.brand_list li.item1 a:hover {
  background: url("../images/friend_link_1.png") no-repeat;
}
.brand_list li.item2 a:hover {
  background: url("../images/friend_link_2.png") no-repeat;
}
.brand_list li.item3 a:hover {
  background: url("../images/friend_link_3.png") no-repeat;
}
.brand_list li.item4 a:hover {
  background: url("../images/friend_link_4.png") no-repeat;
}
.brand_list li.item5 a:hover {
  background: url("../images/friend_link_5.png") no-repeat;
}
.brand_list li.item6 a:hover {
  background: url("../images/friend_link_6.png") no-repeat;
}
.brand_list li.item7 a:hover {
  background: url("../images/friend_link_7.png") no-repeat;
}
.brand_list li.item8 a:hover {
  background: url("../images/friend_link_8.png") no-repeat;
}
.brand_list li.item9 a:hover {
  background: url("../images/friend_link_9.png") no-repeat;
}
.brand_list li.item10 a:hover {
  background: url("../images/friend_link_10.png") no-repeat;
}
.service_list li {
  float: left;
  width: 171px;
  height: 250px;
}
.service_list li a {
  display: block;
  width: 171px;
  height: 150px;
  padding-top: 100px;
  position: relative;
  zoom: 1;
  text-align: center;
}
.service_list li a .ser_ico {
  position: absolute;
  left: 50%;
  background: url("../images/group_1222.png") no-repeat;
}
.service_list li a .ser_ico1 {
  background-position: -112px -98px;
  width: 64px;
  height: 48px;
  top: 28px;
  margin-left: -32px;
}
.service_list li a .ser_ico2 {
  background-position: -112px -156px;
  width: 72px;
  height: 44px;
  top: 30px;
  margin-left: -36px;
}
.service_list li a .ser_ico3 {
  background-position: -112px -210px;
  width: 64px;
  height: 64px;
  top: 20px;
  margin-left: -32px;
}
.service_list li a .ser_ico4 {
  background-position: -112px -283px;
  width: 64px;
  height: 41px;
  top: 32px;
  margin-left: -32px;
}
.service_list li a .ser_ico5 {
  background-position: -112px -334px;
  width: 64px;
  height: 64px;
  top: 20px;
  margin-left: -32px;
}
.service_list li a .ser_ico6 {
  background-position: -112px -408px;
  width: 60px;
  height: 60px;
  top: 22px;
  margin-left: -30px;
}
.service_list li a .ser_ico7 {
  background-position: -112px -478px;
  width: 58px;
  height: 64px;
  top: 20px;
  margin-left: -29px;
}
.service_list li a h3 {
  font-weight: normal;
  font-size: 20px;
}
.service_list li a .explain {
  color: #999;
  font-size: 14px;
}
.service_list li a .num {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 38px;
  height: 38px;
  margin-left: -20px;
  line-height: 38px;
  text-align: center;
  border: 2px solid #222222;
  background: #ffffff;
  border-radius: 50%;
  font-size: 24px;
  z-index: 2;
}
.service_list li a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 171px;
  height: 0;
  border-top: 1px solid #222222;
  z-index: 1;
}
.service_list li a:hover {
  background: #eeeeee;
  color: #ff6600;
}
.service_list li a:hover .ser_ico1 {
  background-position: -194px -98px;
}
.service_list li a:hover .ser_ico2 {
  background-position: -194px -156px;
}
.service_list li a:hover .ser_ico3 {
  background-position: -194px -210px;
}
.service_list li a:hover .ser_ico4 {
  background-position: -194px -283px;
}
.service_list li a:hover .ser_ico5 {
  background-position: -194px -334px;
}
.service_list li a:hover .ser_ico6 {
  background-position: -194px -408px;
}
.service_list li a:hover .ser_ico7 {
  background-position: -194px -478px;
}
.service_list li a:hover h3,
.service_list li a:hover .explain {
  color: #ff6600;
}
.service_list li a:hover .num {
  background: #ff6600;
  border-color: #ff6600;
  color: #ffffff;
}
.service_list li a:hover:after {
  border-color: #ff6600;
}
.page_btns {
  position: fixed;
  right: 20px;
  bottom: 220px;
  background: #f8f8f8;
  width: 70px;
  z-index: 100;
  font-size: 12px;
}
.page_btns a {
  display: block;
  width: 70px;
  height: 25px;
  line-height: 25px;
  padding-top: 45px;
  text-align: center;
  color: #696868;
}
.page_btns a.quote_btn {
  background: url("../images/btn_quote.gif") no-repeat;
  height: 24px;
}
.page_btns a.quote_btn:hover {
  background: url("../images/btn_quote_hover.png") no-repeat;
}
.page_btns a.top_btn {
  background: url("../images/btn_top.png") no-repeat;
}
.page_btns a.top_btn:hover {
  background: url("../images/btn_top_hover.png") no-repeat;
}
.footer {
  height: 50px;
  background-color: #222222;
  overflow: hidden;
}
.footer .footer_container {
  width: 1200px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #555555;
}
.footer .footer_container .footer_nav {
  float: left;
  width: 600px;
  color: #666666;
}
.footer .footer_container .footer_nav a {
  color: #ffffff;
  margin: 0 10px;
}
.footer .footer_container .footer_gateway {
  float: right;
  width: 500px;
  color: #666666;
  text-align: right;
}
.footer .footer_container .footer_gateway a {
  color: #666666;
}
.page_subnav {
  background: url("../images/subnav_bg.jpg") no-repeat center;
  width: 100%;
  height: 110px;
  padding-top: 40px;
}
.page_subnav a {
  line-height: 1.5;
  display: block;
  width: 375px;
  height: 85px;
  padding-left: 220px;
  padding-top: 25px;
  border-radius: 10px 10px 0 0;
  background: #ffffff;
  position: relative;
  zoom: 1;
}
.page_subnav a .line {
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
  width: 8px;
  height: 70px;
  background: #ff5500;
  box-shadow: 1px 1px 10px #ff5500;
}
.page_subnav a .ico {
  width: 78px;
  height: 67px;
  position: absolute;
  left: 110px;
  top: 18px;
  background: url("../images/subnav_ico.png") 0px -401px no-repeat;
}
.page_subnav a h3 {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}
.page_subnav a .explain {
  font-size: 16px;
  color: #333333;
}
.style_choose {
  padding-left: 10px;
  margin-top: 30px;
}
.style_choose .choose_item {
  min-height: 40px;
  line-height: 40px;
  padding-left: 240px;
  margin-top: 15px;
  position: relative;
  zoom: 1;
}
.style_choose .choose_item em {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  text-align: center;
  font-size: 16px;
  background: #333333;
  color: #ffffff;
  border-radius: 4px;
}
.style_choose .choose_item a {
  display: inline;
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  font-size: 16px;
  color: #666666;
  white-space: nowrap;
}
.style_choose .choose_item a.unlimited {
  position: absolute;
  left: 120px;
  top: 0;
  width: 100px;
  padding-left: 10px;
  text-align: center;
}
.style_choose .choose_item a.active {
  color: #ff6600;
}
.overflow_cont {
  width: 1200px;
  overflow: hidden;
}
.overflow_cont .item_list {
  margin-top: 20px;
  overflow: hidden;
}
.overflow_cont .item_list li {
  float: left;
  width: 280px;
  height: 290px;
  padding-bottom: 10px;
  margin: 20px 10px 25px 10px;
  background: #ffffff;
  box-shadow: 0 10px 20px #f2f2f2;
  display: inline;
}
.overflow_cont .item_list li a {
  display: block;
  width: 280px;
  height: 195px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.overflow_cont .item_list li a img {
  margin-top: -7px;
  height: 210px;
  width: 280px;
  margin-left: 0px;
}
.overflow_cont .item_list li .tlt {
  margin: 0 30px;
  width: 200px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow_cont .item_list li .info {
  display: inline-block;
  margin: 0 30px;
  height: 38px;
  line-height: 38px;
  color: #222222;
  border-top: 2px solid #ff6600;
}
.overflow_cont .item_list li .info span {
  padding-right: 20px;
}
.overflow_cont .item_list li .info .area {
  padding-right: 0;
}
.overflow_cont .pagination {
  color: #bbb;
  display: block;
  padding: 10px 0;
  text-align: center;
}
.overflow_cont .pagination span {
  display: inline-block;
  width: 34px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #333333;
  margin: 0 8px;
  font-style: normal;
  border-radius: 50%;
  color: #333333;
  vertical-align: middle;
}
.overflow_cont .pagination span .page_current {
  border: 2px solid #333333;
  display: inline-block;
  width: 34px;
  height: 36px;
  line-height: 36px;
  background-color: #333333;
  color: #ffffff;
  border-color: #333333;
  border-radius: 50%;
}
.overflow_cont .page_first,
.overflow_cont .page_prev,
.overflow_cont .page_next,
.overflow_cont .page_last {
  font-size: 0;
  background: url("../images/pagination_icon.png") no-repeat;
}
.overflow_cont .page_first {
  opacity: 0.6;
  background-position: 12px -118px;
}
.overflow_cont .page_prev {
  opacity: 0.6;
  background-position: 10px -16px;
}
.overflow_cont .page_next {
  opacity: 0.6;
  background-position: 12px 10px;
}
.overflow_cont .page_last {
  opacity: 0.6;
  background-position: 12px -92px;
}
.hd_banner {
  width: 100%;
  height: 470px;
  margin: 0 auto;
  background: url("../images/mflf_banner.jpg") no-repeat center;
}
.quote_bg {
  background: url("../images/mflf_quote_bg.png") no-repeat center;
  width: 100%;
  height: 278px;
  margin-top: -165px;
  position: relative;
  zoom: 1;
}
.quote_bg .order_form {
  position: absolute;
  left: 50%;
  top: 160px;
  margin-left: -640px;
  padding-left: 250px;
  font-size: 16px;
}
.quote_bg .order_form .input_text {
  float: left;
  box-shadow: none;
  width: 200px;
  margin-left: 10px;
  border-radius: 3px;
  height: 22px;
  line-height: 22px;
  padding: 15px;
  border: 1px solid #cccccc;
  background: transparent;
  font-size: 16px;
  color: #a9a9a9;
}
.quote_bg .order_form .g_btn {
  border: none;
  box-shadow: none;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 230px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #ff6600;
  color: white;
  padding: 0 20px;
  display: inline-block;
  vertical-align: middle;
}
.quote_bg .user_count {
  position: absolute;
  left: 50%;
  top: 175px;
  margin-left: -555px;
  font-size: 18px;
  color: #3c4983;
}
.quote_bg .user_count em {
  color: #ff6600;
  font-size: 30px;
}
.list {
  width: 1210px;
  margin: 40px auto 0;
  padding-bottom: 65px;
}
.list li {
  float: left;
  width: 390px;
  height: 390px;
  margin-left: 20px;
  border-radius: 5px;
  background: #ffffff;
  color: #3c4983;
  text-align: center;
  position: relative;
  zoom: 1;
}
.list li dl {
  padding-top: 35px;
  line-height: 18px;
}
.list li dt {
  font-size: 40px;
  line-height: 60px;
}
.list li dd {
  font-size: 24px;
  line-height: 36px;
}
.list li .desc {
  padding: 65px 25px 0 25px;
  font-size: 18px;
  display: none;
}
.list li img {
  position: absolute;
  right: 0;
}
.list li .line {
  position: absolute;
  top: 0;
  left: 135px;
  width: 120px;
  height: 8px;
  background: #fff000;
}
.list li.item1 img {
  bottom: -50px;
}
.list li.item2 img {
  bottom: -30px;
  right: -25px;
}
.list li.item3 img {
  bottom: -30px;
}
.list li:hover {
  background: #3c4983;
  color: #ffffff;
}
.list li:hover dl {
  display: none;
}
.list li:hover .desc {
  text-align: left;
  display: block;
}
.serve_list1 {
  background: #ffffff;
  padding: 70px 0;
}
.hd_title {
  margin-top: 0;
  color: #3c4983;
  line-height: 1.3;
  background: none;
  height: 88px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.hd_title h2 {
  color: #3c4983;
  font-size: 48px;
  font-weight: normal;
}
.hd_title p {
  display: inline-block;
  padding: 0 60px;
  line-height: 1.5;
  font-size: 20px;
  background: #fff000;
  vertical-align: top;
}
.list1 {
  width: 1210px;
  margin: 50px auto 0;
}
.list1 li {
  float: left;
  width: 280px;
  height: 410px;
  margin-left: 20px;
  border-radius: 5px;
  background: #ffffff;
  color: #3c4983;
  text-align: center;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.list1 li img {
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.list1 li dt {
  height: 150px;
  position: relative;
  zoom: 1;
}
.list1 li dt em {
  position: absolute;
  left: 22px;
  top: 35px;
  color: #3c4983;
  font-size: 40px;
  line-height: 1;
}
.list1 li dt span {
  position: absolute;
  right: 25px;
  top: 100px;
  color: #cccccc;
  font-size: 14px;
  line-height: 1;
}
.list1 li dd {
  padding: 0 25px;
  font-size: 16px;
  color: #3c4983;
  text-align: left;
  line-height: 1.4;
}
.list1 li:hover img {
  margin-top: -100px;
}
.serve_list2 {
  background: #3c4983;
  padding: 60px 0 70px;
}
.list2 {
  width: 1200px;
  margin: 50px auto 0;
}
.list2 li {
  float: left;
  width: 200px;
  height: 110px;
  padding-top: 270px;
  margin-left: 30px;
  border-radius: 5px;
  background: #ffffff;
  text-align: center;
  position: relative;
  zoom: 1;
}
.list2 li img {
  position: absolute;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
.list2 li dl {
  color: #3c4983;
  font-weight: bold;
}
.list2 li dl dt {
  font-size: 20px;
  padding-bottom: 10px;
}
.list2 li dl dd {
  padding: 0 30px;
  font-size: 16px;
  line-height: 1.3;
}
.list2 li.item1 img {
  top: 60px;
  left: -35px;
}
.list2 li.item2 img {
  top: -15px;
  left: 45px;
}
.list2 li.item3 img {
  top: 35px;
  left: 15px;
}
.list2 li.item4 dd {
  padding: 0 15px;
}
.list2 li.item4 img {
  top: 55px;
  left: -30px;
}
.list2 li.item5 img {
  top: 50px;
  left: 40px;
}
.list2 li:hover img {
  margin-top: -20px;
}
.step_img {
  display: block;
  width: 1200px;
  margin: 40px auto 0;
}
.footer_appoint {
  width: 100%;
  height: 68px;
  padding-top: 18px;
  position: fixed;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
}
.footer_appoint form {
  float: right;
  width: 850px;
  margin-top: 5px;
  overflow: hidden;
  zoom: 1;
}
.footer_appoint form .gtxt {
  float: left;
  width: 180px;
  font-size: 16px;
  margin-left: 10px;
  outline-color: #666;
  border: 1px solid #eeeeee;
  padding: 5px 10px;
  height: 30px;
  line-height: 1.2;
  border-radius: 3px;
}
.footer_appoint form .gbtn {
  float: left;
  width: 160px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  margin-bottom: 2px;
  box-shadow: inset 0 -2px 2px #eb3b03, 0 3px 3px #33231f;
  background-color: #ff6600;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  display: inline-block;
  vertical-align: middle;
}
.footer_appoint_tip {
  background: url("../images/sjs_ordertlt.png") no-repeat;
  width: 158px;
  height: 60px;
  margin-left: 100px;
  display: inline;
  text-indent: -9999px;
  float: left;
  color: #ffffff;
  font-size: 18px;
}
.m_navbar {
  background-color: #ffffff;
  height: 38px;
  line-height: 38px;
  color: #333333;
  border-bottom: 2px solid #ff6600;
}
.m_navbar .navbar_nav {
  float: left;
  padding-right: 20px;
}
.m_navbar .navbar_nav li {
  float: left;
  margin-right: 30px;
}
.m_navbar .navbar_nav li a:hover {
  color: #ff6600;
}
.wrap_content {
  display: flex;
}
.left_wrap {
  margin-top: 20px;
  border-top: 1px solid #eee;
  width: 900px;
  height: 100%;
  zoom: 1;
  padding-right: 20px;
  background: #ffffff;
}
.pc_show {
  background-color: #ffffff;
  position: relative;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}
.view {
  background: #222;
  min-height: 500px;
}
.view .arrow {
  display: none;
  margin-top: -25px;
  width: 66px;
  height: 66px;
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  background: rgba(0, 0, 0, 0.7);
}
.view .arrow span {
  margin: 14px 0 0 14px;
  display: block;
  text-indent: -9999em;
  width: 28px;
  height: 36px;
  background: url("../images/g_ico2.png") no-repeat;
  opacity: 0.8;
}
.view .arrow_left {
  left: 10px;
}
.view .arrow_right {
  right: 10px;
}
.view .arrow_left span {
  background-position: 0 -92px;
}
.view .arrow_right span {
  background-position: 0 -138px;
  margin: 14px 0 0 21px;
}
.view .img_description {
  position: absolute;
  text-align: left;
  left: 0;
  bottom: 0;
  width: 820px;
  height: 50px;
  line-height: 50px;
  padding: 0 45px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 16px;
  z-index: 10;
  display: none;
}
.view:hover .img_description {
  display: block;
}
.view:hover .arrow {
  display: block;
}
.preview {
  height: 135px;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 5px 0px;
  bottom: 0;
}
.preview .arrow {
  background: url(../images/g_ico2.png) 0 no-repeat;
  position: absolute;
  width: 28px;
  height: 36px;
  text-indent: -999px;
  z-index: 10;
  overflow: hidden;
  top: 40px;
}
.preview .arrow_left {
  background-position: 0px 0px;
  left: 2px;
}
.preview .arrow_right {
  background-position: 0 -46px;
  right: 2px;
}
.preview .swiper-container {
  margin-left: 35px;
}
.preview .swiper-slide {
  width: 115px;
  height: 115px;
  margin: 0 10px 10px;
}
.preview img {
  width: 100%;
  height: 95%;
  padding: 1px;
}
.preview .active-nav img {
  padding: 0;
  border: 5px solid #ff5500;
}
.right_wrap {
  margin-top: 20px;
  width: 279px;
  height: 100%;
  border-left: 1px solid #eee;
}
.right_wrap .right_side_mod {
  padding: 25px 20px;
  background-color: #fff;
}
.right_wrap .right_side_mod .side_mod_title {
  margin-bottom: 10px;
  line-height: 1;
}
.right_wrap .right_side_mod .side_mod_title h3 {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: normal;
}
.right_wrap .right_side_mod .info_tag {
  display: inline-block;
  width: 107px;
  margin-top: 10px;
  margin-right: 20px;
  height: 30px;
  line-height: 30px;
  border-top: 2px solid #ff6600;
  font-size: 14px;
}
.right_wrap .right_side_mod .info_tag em {
  color: #ff6600;
  padding-left: 10px;
}
.right_wrap .right_side_mod .side_form .g_text {
  background: #fcc690;
  width: 225px;
  border: none;
  color: #222222;
  margin-top: 10px;
  outline-color: #666;
  padding: 5px 10px;
  height: 30px;
  line-height: 1.2;
  font-size: 14px;
  border-radius: 3px;
}
.right_wrap .right_side_mod .side_form .g_btn {
  width: 245px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  background: #222222;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  display: inline-block;
  vertical-align: middle;
}
.right_wrap .right_side_mod .side_form input::-webkit-input-placeholder {
  color: #fff;
}
.right_wrap .right_side_mod .side_form input::-moz-placeholder {
  color: #fff;
}
.right_wrap .right_side_mod .side_form input:-moz-placeholder {
  color: #fff;
}
.right_wrap .right_side_mod .side_form input:-ms-input-placeholder {
  color: #fff;
}
.right_wrap .right_side_mod .side_img {
  display: block;
  width: 245px;
  margin-bottom: 10px;
  background-color: #fff;
  height: 175px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.right_wrap .right_side_mod .side_img img {
  display: block;
  height: 100%;
  width: 100%;
}
.right_wrap .right_side_mod .side_img .tit {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #aaa;
  background: rgba(0, 0, 0, 0.8);
  text-align: left;
  text-indent: 15px;
}
