a {
  text-decoration: none;
  color: #222222;
}

.navbar {
  background-color: #ffffff;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
  .select_city, .hot_online {
    background: url("../images/group_1222.png") no-repeat;
  }
  .select_city {
    float: left;
    width: 95px;
    position: relative;
    zoom: 1;
    background-position: 10px 12px;
    .current_city {
      padding-left: 30px;
      display: block;
      width: 55px;
      height: 39px;
      line-height: 39px;
      cursor: pointer;
      border-left: 1px solid #ffffff;
      .arrow {
        display: inline-block;
        margin: 0px 5px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #222222;
        vertical-align: middle;
      }
    }
    .current_city:after {
      content: "";
      width: 0;
      height: 20px;
      border-left: 1px solid #222222;
    }

  }
  .hot_online {
    float: left;
    width: 180px;
    padding-left: 20px;
    background-position: 0 -24px;
  }
  .nav_search {
    float: right;
    width: 310px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    background: #222222;
    border-radius: 20px;
    .search_type {
      float: left;
      width: 90px;
      .nav_select {
        display: block;
        position: relative;
        z-index: 21;
        margin-top: 0;
        width: 90px !important;
        height: 30px;
        color: #ffffff;
        border-radius: 20px 0 0 0;
        dt, dd {
          display: block;
          width: 100%;
          cursor: pointer;
          text-indent: 20px;
        }
        dt {
          height: 36px;
          line-height: 33px;
          position: relative;
          zoom: 1;
        }
        dt:after {
          content: "";
          position: absolute;
          right: 10px;
          top: 13px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #ffffff;
        }
        dd {
          display: none;
          height: 25px;
          line-height: 25px;
          background-color: #fff;
        }
        .hover {
          color: #ff6600
        }
      }
      .nav_select_hover {
        dd {
          display: block;
          float: left;
        }
        dt:after {
          content: "";
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #ffffff;
          border-top-width: 0;
        }
      }
    }
    .search_text {
      float: left;
      width: 165px;
      height: 30px;
      line-height: 1.2;
      margin-left: 5px;
      border: none;
      outline: none;
      background: transparent;
      font-size: 12px;
      color: #ffffff;
    }
    .search_btn {
      float: right;
      width: 40px;
      height: 30px;
      border: 0;
      background: url("../images/group_0407.png") 12px -70px no-repeat;
    }
  }
  .navbar_nav {
    float: right;
    padding-right: 20px;
    li {
      float: left;
    }
    .register_btn {
      padding-left: 10px;
    }
    .register_btn:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 12px;
      margin-right: 10px;
      border-left: 1px solid #222222;
      vertical-align: middle;
      margin-bottom: 3px;
    }
  }
}

.header {
  position: relative;
  zoom: 1;
  height: 88px;
  background: #ffffff;
  .header_cont {
    height: 88px;
    .header_logo {
      width: 260px;
      height: 56px;
      float: left;
      margin-top: 15px;
      a {
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/qq_gjj_logo.png") no-repeat;
        text-indent: -9999em;
        overflow: hidden;
      }
    }
    .navigation_wrap {
      float: right;
      width: 780px;
      height: 88px;
      li {
        float: left;
        width: 130px;
        height: 48px;
        line-height: 48px;
        margin-top: 20px;
        padding-bottom: 20px;
        display: inline;
        position: relative;
        zoom: 1;
        a {
          position: relative;
          zoom: 1;
          display: block;
          width: 100%;
          height: 64px;
          text-align: center;
          font-size: 16px;
          .nav_arrow {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid #222222;
            margin: 0 0 2px 8px;
            vertical-align: middle;
          }
        }
        a.active {
          color: #ff6600;
        }
      }
      li:hover a {
        color: #ff6600;
        border-bottom: 4px solid #ff6600;
      }
    }
  }
}

.csm_slide {
  position: relative;
  zoom: 1;
  height: 470px;
  background-color: rgb(203, 203, 203);
  a {
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff6600;
}

.slide_form {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -600px;
  width: 300px;
  height: 395px;
  z-index: 3;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  .form_intro {
    position: relative;
    display: block;
    background: #222222;
    width: 300px;
    height: 56px;
    padding-top: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fcc084;
    font-size: 16px;
    border-radius: 3px 3px 0 0;
    font-family: "Noto Sans CJK SC Light", "Source Han Sans CN Light", "Microsoft Yahei";
    zoom: 1;
    .p1 {
      font-size: 16px;
    }
  }
  .form_intro:before {
    content: "+";
    position: absolute;
    left: 50px;
    top: 30px;
    color: #fcc084;
    font-size: 12px;
    font-family: arial;
  }
  .form_intro:after {
    content: "+";
    position: absolute;
    right: 50px;
    top: 30px;
    color: #fcc084;
    font-size: 12px;
    font-family: arial;
  }
  .form_title {
    line-height: 48px;
    padding-top: 7px;
    color: #000000;
    text-align: center;
    font-size: 24px;
  }
  .form_index {
    color: #666;
    text-align: center;
    font-size: 14px;
  }
  .slide_form_select {
    padding: 5px 18px 20px;
    input {
      width: 240px;
      margin-top: 10px;
      outline-color: #ff6600;
    }
    .txt {
      border: 1px solid #eeeeee;
      padding: 5px 10px;
      height: 30px;
      line-height: 1.2;
      font-size: 14px;
      border-radius: 3px;
    }
    select {
      width: 129px;
      margin-top: 10px;
      padding: 8px 10px 9px;
      border: 1px solid #eeeeee;
      color: #666;
      border-radius: 3px;
      background: #ffffff url("../images/select_aw_ico2.png") no-repeat right center;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      font-size: 14px;
      background-image: none \9;
      background-color: #ffffff \9;
      outline-color: #ff6600;
      option {
        padding: 0 10px;
        color: #999999;
        background: #ffffff;
      }
    }
    .subBtn {
      width: 260px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;

      background-color: #ff6600;
      color: white;
      font-size: 16px;
      border: none;
      padding: 0 20px;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
    }
    .user_num {
      padding-top: 5px;
      line-height: 1.6;
      text-align: center;
      font-size: 14px;
      color: #333333;
      em{
        padding: 0 10px;
        font-size: 18px;
        color: #ff6600;
      }
    }
  }
}
.guide_entrance{
  padding: 50px 0 60px;
  li{
    float: left;
    width: 300px;
    text-align: center;
    position: relative;
    zoom: 1;
    font-size: 24px;
    font-family: "Noto Sans CJK SC Light", "Source Han Sans CN Light", "Microsoft Yahei";
    img{
      width: 286px;
      height: 150px;
    }
    a{
      display: block;
      padding-left: 8px;
      width: 286px;
      height: 150px;
      color: #999999;
      .default_img{
        display: block;
      }
      .hover_img{
        display: none;
      }
    }
    a:hover .default_img{
      display: none;
    }
    a:hover .hover_img{
      display: block;
    }

  }
}
