a {
  text-decoration: none;
  color: #222222;
}
body{
  background-color: #F7F7F7;
}

.navbar {
  background-color: #ffffff;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
  .select_city, .hot_online {
    background: url("../images/group_1222.png") no-repeat;
  }
  .select_city {
    float: left;
    width: 95px;
    position: relative;
    zoom: 1;
    background-position: 10px 12px;
    .current_city {
      padding-left: 30px;
      display: block;
      width: 55px;
      height: 39px;
      line-height: 39px;
      cursor: pointer;
      border-left: 1px solid #ffffff;
      .arrow {
        display: inline-block;
        margin: 0px 5px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #222222;
        vertical-align: middle;
      }
    }
    .current_city:after {
      content: "";
      width: 0;
      height: 20px;
      border-left: 1px solid #222222;
    }

  }
  .hot_online {
    float: left;
    width: 180px;
    padding-left: 20px;
    background-position: 0 -24px;
  }
  .nav_search {
    float: right;
    width: 310px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    background: #222222;
    border-radius: 20px;
    .search_type {
      float: left;
      width: 90px;
      .nav_select {
        display: block;
        position: relative;
        z-index: 21;
        margin-top: 0;
        width: 90px !important;
        height: 30px;
        color: #ffffff;
        border-radius: 20px 0 0 0;
        dt, dd {
          display: block;
          width: 100%;
          cursor: pointer;
          text-indent: 20px;
        }
        dt {
          height: 36px;
          line-height: 33px;
          position: relative;
          zoom: 1;
        }
        dt:after {
          content: "";
          position: absolute;
          right: 10px;
          top: 13px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #ffffff;
        }
        dd {
          display: none;
          height: 25px;
          line-height: 25px;
          background-color: #fff;
        }
        .hover {
          color: #ff6600
        }
      }
      .nav_select_hover {
        dd {
          display: block;
          float: left;
        }
        dt:after {
          content: "";
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #ffffff;
          border-top-width: 0;
        }
      }
    }
    .search_text {
      float: left;
      width: 165px;
      height: 30px;
      line-height: 1.2;
      margin-left: 5px;
      border: none;
      outline: none;
      background: transparent;
      font-size: 12px;
      color: #ffffff;
    }
    .search_btn {
      float: right;
      width: 40px;
      height: 30px;
      border: 0;
      background: url("../images/group_0407.png") 12px -70px no-repeat;
    }
  }
  .navbar_nav {
    float: right;
    padding-right: 20px;
    li {
      float: left;
    }
    .register_btn {
      padding-left: 10px;
    }
    .register_btn:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 12px;
      margin-right: 10px;
      border-left: 1px solid #222222;
      vertical-align: middle;
      margin-bottom: 3px;
    }
  }
}

.header {
  position: relative;
  zoom: 1;
  height: 88px;
  background: #ffffff;
  .header_cont {
    height: 88px;
    .header_logo {
      width: 260px;
      height: 56px;
      float: left;
      margin-top: 15px;
      a {
        display: block;
        height: 100%;
        width: 100%;
        background: url("../images/qq_gjj_logo.png") no-repeat;
        text-indent: -9999em;
        overflow: hidden;
      }
    }
    .navigation_wrap {
      float: right;
      width: 780px;
      height: 88px;
      li {
        float: left;
        width: 130px;
        height: 48px;
        line-height: 48px;
        margin-top: 20px;
        padding-bottom: 20px;
        display: inline;
        position: relative;
        zoom: 1;
        a {
          position: relative;
          zoom: 1;
          display: block;
          width: 100%;
          height: 64px;
          text-align: center;
          font-size: 16px;
          .nav_arrow {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid #222222;
            margin: 0 0 2px 8px;
            vertical-align: middle;
          }
        }
        a.active {
          color: #ff6600;
        }
      }
      li:hover a {
        color: #ff6600;
        border-bottom: 4px solid #ff6600;
      }
    }
  }
}

.csm_slide {
  position: relative;
  zoom: 1;
  height: 470px;
  background-color: rgb(203, 203, 203);
  a {
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff6600;
}

.slide_form {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -600px;
  width: 300px;
  height: 395px;
  z-index: 3;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  .form_intro {
    position: relative;
    display: block;
    background: #222222;
    width: 300px;
    height: 56px;
    padding-top: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fcc084;
    font-size: 16px;
    border-radius: 3px 3px 0 0;
    font-family: "Noto Sans CJK SC Light", "Source Han Sans CN Light", "Microsoft Yahei";
    zoom: 1;
    .p1 {
      font-size: 16px;
    }
  }
  .form_intro:before {
    content: "+";
    position: absolute;
    left: 50px;
    top: 30px;
    color: #fcc084;
    font-size: 12px;
    font-family: arial;
  }
  .form_intro:after {
    content: "+";
    position: absolute;
    right: 50px;
    top: 30px;
    color: #fcc084;
    font-size: 12px;
    font-family: arial;
  }
  .form_title {
    line-height: 48px;
    padding-top: 7px;
    color: #000000;
    text-align: center;
    font-size: 24px;
  }
  .form_index {
    color: #666;
    text-align: center;
    font-size: 14px;
  }
  .slide_form_select {
    padding: 5px 18px 20px;
    input {
      width: 240px;
      margin-top: 10px;
      outline-color: #ff6600;
    }
    .txt {
      border: 1px solid #eeeeee;
      padding: 5px 10px;
      height: 30px;
      line-height: 1.2;
      font-size: 14px;
      border-radius: 3px;
    }
    select {
      width: 129px;
      margin-top: 10px;
      padding: 8px 10px 9px;
      border: 1px solid #eeeeee;
      color: #666;
      border-radius: 3px;
      background: #ffffff url("../images/select_aw_ico2.png") no-repeat right center;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      font-size: 14px;
      background-image: none \9;
      background-color: #ffffff \9;
      outline-color: #ff6600;
      option {
        padding: 0 10px;
        color: #999999;
        background: #ffffff;
      }
    }
    .subBtn {
      width: 260px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;

      background-color: #ff6600;
      color: white;
      font-size: 16px;
      border: none;
      padding: 0 20px;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
    }
    .user_num {
      padding-top: 5px;
      line-height: 1.6;
      text-align: center;
      font-size: 14px;
      color: #333333;
      em {
        padding: 0 10px;
        font-size: 18px;
        color: #ff6600;
      }
    }
  }
}

.guide_entrance {
  padding: 50px 0 60px;
  li {
    float: left;
    width: 300px;
    text-align: center;
    position: relative;
    zoom: 1;
    font-size: 24px;
    font-family: "Noto Sans CJK SC Light", "Source Han Sans CN Light", "Microsoft Yahei";
    img {
      width: 286px;
      height: 150px;
    }
    a {
      display: block;
      padding-left: 8px;
      width: 286px;
      height: 150px;
      color: #999999;
      .default_img {
        display: block;
      }
      .hover_img {
        display: none;
      }
    }
    a:hover .default_img {
      display: none;
    }
    a:hover .hover_img {
      display: block;
    }

  }
}

//通用title
.mod_title {
  position: relative;
  zoom: 1;
  p {
    display: inline;
    width: auto;
    font-size: 36px;
    color: #333333;
    line-height: 1.5;
  }
  .mod_tip {
    padding-left: 10px;
    color: #999999;
    font-size: 14px;
  }
  .mod_tip:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 14px;
    padding-right: 10px;
    border-left: 1px solid #cccccc;
    vertical-align: middle;
  }
  .mod_more {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 14px;
    color: #999999;
    .r_arrow {
      margin-left: 10px;
      margin-bottom: 3px;
      display: inline-block;
      width: 6px;
      height: 11px;
      background: url("../images/group_1222.png")  0 -640px no-repeat;
      vertical-align: middle;
    }
  }
}

//装修案例
.mode_case {
  margin-top: 30px;
  padding-bottom: 90px;
  .case_item {
    float: left;
    margin-right: 20px;
    position: relative;
    zoom: 1;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    .img {
      height: 475px;
      overflow: hidden;
      img {
        //max-width: 100%;
        //height: 100%;
      }
    }
    .case_intro {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 297px;
      text-align: left;
      padding: 10px 20px;
      font-size: 16px;
      h3 {
        padding-bottom: 6px;
        font-size: 24px;
        border-bottom: 1px solid #ffffff;
        line-height: 1.5;
        color: #ffffff;
      }
      p {
        line-height: 2;
        color: #ffffff;
        .style {
          float: left;
          width: 100px;
        }
        .area {
          float: right;
          width: 100px;
          text-align: right;
        }
      }
    }
  }
  .case_item:hover {
    margin-top: -10px;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
}

//工地直播
.site_list {
  padding: 33px 0 90px;
  li {
    float: left;
    width: 286px;
    margin-right: 14px;
    background: #ffffff;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    img {
      width: 286px;
      height: 286px;
      vertical-align: middle;
    }
    .explain {
      position: relative;
      padding: 20px 15px 0;
      height: 120px;
      border-left: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      zoom: 1;
    }
    .plan {
      position: relative;
      zoom: 1;
      display: block;
      width: 255px;
      height: 6px;
      background: #eeeeee;
      border-radius: 3px;
      span {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 6px;
        background: #fcc084;
        border-radius: 3px;
      }
    }
    h3 {
      margin-top: 35px;
      font-size: 20px;
      color: #222222;
    }
    .tip {
      color: #999999;
      font-size: 14px;
    }
    .site_tag {
      position: absolute;
      right: 20px;
      bottom: 52px;
      width: 60px;
      height: 20px;
      padding: 0 5px;
      line-height: 20px;
      text-align: center;
      background: #222222;
      color: #ffffff;
    }
  }
  li:hover {
    margin-top: -10px;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
}

//装修知识
.fitment_ack {
  height: 628px;
  padding-bottom: 80px;
  .little_title {
    padding: 25px 0 0;
    height: 30px;
    line-height: 30px;
    p {
      padding-right: 10px;
      display: inline;
      font-size: 20px;
    }
    .cc_arrow {
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-bottom: 8px;
      background: url("../images/group_1222.png") 0 -606px no-repeat;
    }
  }
  .news_main {
    width: 900px;
    float: left;
    .ack_item {
      float: left;
      width: 440px;
      margin-right: 20px;
      margin-top: 25px;
      display: inline;
      text-align: center;
      .imgbox {
        display: block;
        position: relative;
        zoom: 1;
        width: 440px;
        height: 270px;
        overflow: hidden;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 440px;
          height: 270px;
          transition: transform .4s ease;
          -webkit-transition: transform .4s ease;
          transform-origin: center;
          -webkit-transform-origin: center;
          z-index: 1;
        }
        .ack_tag {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 140px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: #ff6600;
          background: #ffffff;
          font-size: 16px;
          z-index: 2;
        }
      }
      h4 {
        padding-top: 25px;
        font-size: 20px;
      }
      .intro {
        font-size: 14px;
        color: #999999;
      }
    }
    .strategy_list {
      margin-top: 25px;
      li {
        float: left;
        width: 286px;
        height: 120px;
        margin-right: 20px;
        .imgbox {
          display: block;
          position: relative;
          zoom: 1;
          width: 286px;
          height: 120px;
          border-radius: 5px;
          overflow: hidden;
        }
        img {
          width: 286px;
          height: 120px;
          transition: transform .4s ease;
          -webkit-transition: transform .4s ease;
          transform-origin: center;
          -webkit-transform-origin: center;
          border-radius: 5px;
        }
        .strategy_tag {
          position: absolute;
          left: 0;
          top: 0;
          width: 286px;
          height: 120px;
          text-align: center;
          line-height: 120px;
          background: rgba(0, 0, 0, 0.4);
          color: #ffffff;
          font-size: 20px;
          border-radius: 5px;
        }
      }
    }
  }
  .news_slide {
    width: 290px;
    float: right;
  }
  .hot_list {
    li {
      height: 28px;
      overflow: hidden;
      margin-top: 18px;
      transition: height .2s linear;
      -webkit-transition: height .2s linear;
      a {
        display: block;
        position: relative;
        zoom: 1;
        width: 260px;
        padding-left: 30px;
        .num {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 20px;
          color: #999999;
        }
        h4 {
          font-weight: normal;
          width: 260px;
          height: 24px;
          line-height: 24px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
        }
        .intro {
          padding-top: 2px;
          font-size: 14px;
          color: #999999;
          line-height: 1.4;
        }
        .imgbox {
          width: 250px;
          height: 120px;
          margin-top: 5px;
          border-radius: 5px;
          overflow: hidden;
          img {
            height: 157px;
            width: 250px;
          }
        }
      }
    }
    li:hover a {
      color: #FF6600;
    }
    li:hover a .num {
      color: #FF6600;
    }
    li.active {
      height: 188px;
      overflow: hidden;
    }
  }
}

//装修合作伙伴
.partner_title {
  position: relative;
  zoom: 1;
  .point_sub {
    display: inline-block;
    padding-right: 5px;
    font-size: 80px;
    color: #222222;
    position: relative;
  }
  .point_sub:after {
    content: "+";
    position: absolute;
    right: -25px;
    top: -8px;
    font-size: 56px;
    font-weight: bold;
    color: #222222;
  }
  h2 {
    font-weight: normal;
    display: inline;
    width: auto;
    font-size: 30px;
    color: #333333;
    line-height: 1.5;
  }
}

.brand_list {
  padding-bottom: 70px;
  overflow: hidden;
  li {
    float: left;
    width: 234px;
    height: 100px;
    margin: 10px 6px 0 0;
    a {
      display: block;
      width: 234px;
      height: 100px;
      background: url("../images/bank_logo2.png") no-repeat;
      text-indent: -9999px;
    }
  }
  li.item1 a {
    background-position: 0 -220px;
  }
  li.item1 a:hover {
    background: url("../images/friend_link_1.png") no-repeat;
  }

}

//.服务流程
.service_list {
  li {
    float: left;
    width: 171px;
    height: 250px;
    a {
      display: block;
      width: 171px;
      height: 150px;
      padding-top: 100px;
      position: relative;
      zoom: 1;
      text-align: center;
      .ser_ico {
        position: absolute;
        left: 50%;
        background: url("../images/group_1222.png") no-repeat;
      }
      .ser_ico1 {
        background-position: -112px -98px;
        width: 64px;
        height: 48px;
        top: 28px;
        margin-left: -32px;
      }
      h3 {
        font-weight: normal;
        font-size: 20px;
      }
      .explain {
        font-size: 14px;
      }
      .num {
        position: absolute;
        left: 50%;
        bottom: 30px;
        width: 38px;
        height: 38px;
        margin-left: -20px;
        line-height: 38px;
        text-align: center;
        border: 2px solid #222222;
        background: #ffffff;
        border-radius: 50%;
        font-size: 24px;
        z-index: 2;
      }
    }
    a:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 50px;
      width: 171px;
      height: 0;
      border-top: 1px solid #222222;
      z-index: 1;
    }
    a:hover {
      background: #eeeeee;
      color: #ff6600;
      .ser_ico1 {
        background-position: -194px -98px;
      }
      h3, .explain {
        color: #ff6600;
      }
      .num {
        background: #ff6600;
        border-color: #ff6600;
        color: #ffffff;
      }
    }
    a:hover:after {
      border-color: #ff6600;
    }
  }
}

//友情链接
.friend_link {
  width: 100%;
  height: 210px;
  margin-top: 80px;
  padding-top: 30px;
  background: #222222;
  .linkcont {
    float: left;
    width: 840px;
    .link_tab {
      height: 55px;
      li {
        float: left;
        position: relative;
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        font-size: 20px;
        padding-right: 70px;
        color: #999999;
      }
      li.active {
        color: #fcc084;
      }
      li:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 20px;
        margin: -3px 10px 0 0;
        border-left: 2px solid #fcc084;
        vertical-align: middle;
      }
    }
    .link_tab_con {
      li {
        display: none;
        border: 0;
        font-size: 14px;
        padding: 20px 0;
        a {
          margin-right: 10px;
          color: #ffffff;
        }
      }
      .active {
        display: block;
      }
    }
  }
  .contact {
    float: right;
    width: 250px;
    color: #ffffff;
    font-size: 14px;
    h3 {
      font-size: 24px;
      line-height: 22px;
      padding-bottom: 3px;
      color: #ffffff;
      font-weight: bold;
    }
    .two_code {
      margin-top: 20px;
      li {
        float: left;
        width: 90px;
        margin-right: 30px;
        text-align: center;
        img {
          width: 80px;
          height: 80px;
          border: 5px solid #ffffff;
          border-radius: 4px;
        }
        p {
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }
}

//侧面按钮
.page_btns {
  position: fixed;
  right: 20px;
  bottom: 220px;
  background: #f8f8f8;
  width: 70px;
  z-index: 100;
  font-size: 12px;
  a {
    display: block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    padding-top: 45px;
    text-align: center;
    color: #696868;
  }
  a.contact_btn {
    background: url("../images/btn_contact.gif") no-repeat;
    height: 24px;
  }
  a.quote_btn {
    background: url("../images/btn_quote.gif") no-repeat;
    height: 24px;
  }
  a.top_btn {
    background: url("../images/btn_top.png") no-repeat;
  }
}

//footer
.footer {
  height: 50px;
  background-color: #222222;
  overflow: hidden;
  .footer_container {
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #555555;
    .footer_nav {
      float: left;
      width: 600px;
      color: #666666;
      a {
        color: #ffffff;
        margin: 0 10px;
      }
    }
    .footer_gateway {
      float: right;
      width: 500px;
      color: #666666;
      text-align: right;
      a {
        color: #666666;
      }
    }
  }
}

//案例页面
.page_subnav {
  background: url("../images/subnav_bg.jpg") no-repeat center;
  width: 100%;
  height: 110px;
  padding-top: 40px;
}

.style_choose {
  padding-left: 10px;
  margin-top: 30px;
  .choose_item {
    min-height: 40px;
    line-height: 40px;
    padding-left: 240px;
    margin-top: 15px;
    position: relative;
    zoom: 1;
    em {
      position: absolute;
      left: 0;
      top: 0;
      width: 110px;
      text-align: center;
      font-size: 16px;
      background: #333333;
      color: #ffffff;
      border-radius: 4px;
    }
    a {
      display: inline;
      height: 40px;
      line-height: 40px;
      padding-right: 20px;
      font-size: 16px;
      color: #666666;
      white-space: nowrap;
    }
    a.unlimited {
      position: absolute;
      left: 120px;
      top: 0;
      width: 100px;
      padding-left: 10px;
      text-align: center;
    }
    a.active {
      color: #ff6600;
    }
  }
}

.overflow_cont {
  width: 1200px;
  overflow: hidden;
  .item_list {
    margin-top: 20px;
    //width: 1250px;
    overflow: hidden;
    li {
      float: left;
      width: 280px;
      height: 290px;
      padding-bottom: 10px;
      margin: 20px 10px 25px 10px;
      background: #ffffff;
      box-shadow: 0 10px 20px #f2f2f2;
      display: inline;
      a {
        display: block;
        width: 280px;
        height: 195px;
        overflow: hidden;
        text-align: center;
        position: relative;
        img {
          margin-top: -7px;
          height: 210px;
          width: 280px;
          margin-left: 0px;
        }
      }
      .tlt {
        margin: 0 30px;
        width: 200px;
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .info {
        display: inline-block;
        margin: 0 30px;
        height: 38px;
        line-height: 38px;
        color: #222222;
        border-top: 2px solid #ff6600;
        span {
          padding-right: 20px;
        }
        .area {
          padding-right: 0;
        }
      }
    }
  }
  .pagination {
    color: #bbb;
    display: block;
    padding: 10px 0;
    text-align: center;
    span {
      display: inline-block;
      width: 34px;
      height: 36px;
      line-height: 36px;
      border: 2px solid #333333;
      margin: 0 8px;
      font-style: normal;
      border-radius: 50%;
      color: #333333;
      vertical-align: middle;
      .page_current{
        border: 2px solid #333333;
        display: inline-block;
        width: 34px;
        height: 36px;
        line-height: 36px;
        background-color: #333333;
        color: #ffffff;
        border-color: #333333;
        border-radius: 50%;
      }
    }
  }
  .page_first, .page_prev, .page_next, .page_last {
    font-size: 0;
    background: url("../images/pagination_icon.png") no-repeat;
  }
  .page_first {
    opacity: 0.6;
    background-position: 12px -118px;
  }
  .page_prev {
    opacity: 0.6;
    background-position: 10px -16px;
  }
  .page_next {
    opacity: 0.6;
    background-position: 12px 10px;
  }
  .page_last {
    opacity: 0.6;
    background-position: 12px -92px;
  }
}

//预约量房页面
.hd_banner{
  width: 100%;
  height: 470px;
  margin: 0 auto;
  background: url("../images/mflf_banner.jpg") no-repeat center;
}
.quote_bg{
  background: url("../images/mflf_quote_bg.png") no-repeat center;
  width: 100%;
  height: 278px;
  margin-top: -165px;
  position: relative;
  zoom: 1;
  .order_form{
    position: absolute;
    left: 50%;
    top: 160px;
    margin-left: -640px;
    padding-left: 250px;
    font-size: 16px;
    .input_text{
      float: left;
      box-shadow: none;
      width: 200px;
      margin-left: 10px;
      border-radius: 3px;
      height: 22px;
      line-height: 22px;
      padding: 15px;
      border: 1px solid #cccccc;
      background: transparent;
      font-size: 16px;
      color: #a9a9a9;
    }
    .g_btn{
      border: none;
      box-shadow: none;
      height: 52px;
      line-height: 52px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      width: 230px;
      margin-left: 10px;
      border-radius: 5px;
      background-color: #ff6600;
      color: white;
      padding: 0 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .user_count{
    position: absolute;
    left: 50%;
    top: 175px;
    margin-left: -555px;
    font-size: 18px;
    color: #3c4983;
    em{
      color: #ff6600;
      font-size: 30px;
    }
  }
}
.list{
  width: 1210px;
  margin: 40px auto 0;
  padding-bottom: 65px;
  li{
    float: left;
    width: 390px;
    height: 390px;
    margin-left: 20px;
    border-radius: 5px;
    background: #ffffff;
    color: #3c4983;
    text-align: center;
    position: relative;
    zoom: 1;
    dl{
      padding-top: 35px;
      line-height: 18px;
    }
    dt{
      font-size: 40px;
      line-height: 60px;
    }
    dd{
      font-size: 24px;
      line-height: 36px;
    }
    .desc{
      padding: 65px 25px 0 25px;
      font-size: 18px;
      display: none;
    }
    img{
      position: absolute;
      right: 0;
    }
    .line{
      position: absolute;
      top: 0;
      left: 135px;
      width: 120px;
      height: 8px;
      background: #fff000;
    }
  }
  li.item1 img{
    bottom: -50px;
  }
  li.item2 img{
    bottom: -50px;
  }
  li.item3 img{
    bottom: -50px;
  }
  li:hover{
    background: #3c4983;
    color: #ffffff;
  }
  li:hover dl{
    display: none;
  }
  li:hover .desc{
    text-align: left;
    display: block;
  }
}

.serve_list1{
  background: #ffffff;
  padding: 70px 0;
}
.hd_title{
  margin-top: 0;
  color: #3c4983;
  line-height: 1.3;
  background: none;
  height: 88px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  h2{
    color: #3c4983;
    font-size: 48px;
    font-weight: normal;
  }
  p{
    display: inline-block;
    padding: 0 60px;
    line-height: 1.5;
    font-size: 20px;
    background: #fff000;
    vertical-align: top;
  }
}
.list1{
  width: 1210px;
  margin: 50px auto 0;
  li{
    float: left;
    width: 280px;
    height: 410px;
    margin-left: 20px;
    border-radius: 5px;
    background: #ffffff;
    color: #3c4983;
    text-align: center;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    img{
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }
    dt{
      height: 150px;
      position: relative;
      zoom: 1;
      em{
        position: absolute;
        left: 22px;
        top: 35px;
        color: #3c4983;
        font-size: 40px;
        line-height: 1;
      }
      span{
        position: absolute;
        right: 25px;
        top: 100px;
        color: #cccccc;
        font-size: 14px;
        line-height: 1;
      }
    }
    dd{
      padding: 0 25px;
      font-size: 16px;
      color: #3c4983;
      text-align: left;
      line-height: 1.4;
    }
  }
  li:hover{
    img{
      margin-top: -100px;
    }
  }
}
.serve_list2{
  background: #3c4983;
  padding: 60px 0 70px;
}
.list2{
  width: 1200px;
  margin: 50px auto 0;
  li{
    float: left;
    width: 200px;
    height: 110px;
    padding-top: 270px;
    margin-left: 30px;
    border-radius: 5px;
    background: #ffffff;
    text-align: center;
    position: relative;
    zoom: 1;
    img{
      position: absolute;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }
    dl{
      color: #3c4983;
      font-weight: bold;
      dt{
        font-size: 20px;
        padding-bottom: 10px;
      }
      dd{
        padding: 0 30px;
        font-size: 16px;
        line-height: 1.3;
      }
    }
  }
  li.item1 img{
      top: 60px;
      left: -35px;
  }
  li:hover img{
    margin-top: -20px;
  }
}
.step_img{
  display: block;
  width: 1200px;
  margin: 40px auto 0;
}
//底部预约
.footer_appoint{
  width: 100%;
  height: 68px;
  //display: none;
  padding-top: 18px;
  position: fixed;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.8);
  form{
    float: right;
    width: 850px;
    margin-top: 5px;
    overflow: hidden;
    zoom: 1;
    .gtxt{
      float: left;
      width: 180px;
      font-size: 16px;
      margin-left: 10px;
      outline-color: #666;
      border: 1px solid #eeeeee;
      padding: 5px 10px;
      height: 30px;
      line-height: 1.2;
      border-radius: 3px;
    }
    .gbtn{
      float: left;
      width: 160px;
      height: 40px;
      line-height: 40px;
      margin-left: 10px;
      margin-bottom: 2px;
      box-shadow: inset 0 -2px 2px #eb3b03, 0 3px 3px #33231f;
      background-color: #ff6600;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      padding: 0 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.footer_appoint_tip{
  background: url("../images/sjs_ordertlt.png") no-repeat;
  width: 158px;
  height: 60px;
  margin-left: 100px;
  display: inline;
  text-indent: -9999px;
  float: left;
  color: #ffffff;
  font-size: 18px;
}







