.swiper-container {
    /*width: 500px;*/
    /*height: 300px;*/
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper img{
    width: 100%;
    height: auto;
}
/*******************************************/
.new_header{
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
}
.header_input{
    position: absolute;
    top: 0;
    left: 0;
    width:50px;
    height: 20px;
}
.header_text>span{
    font-weight: 500;
    color: #666666;
}
.header_text,.header_return{
    display: inline-block;
}
.header_return{
    margin-top: 3px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.header_text{

}

/*********文本*************/
.text{
    margin-bottom: 10px;
    width: 100%;

}
.text_right,.text_left{
    color: #FEF7F6;
    width: 51%;
    height:35px;
    padding: 9px 0px 4px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    z-index: 110;
}
.icon_left,.icon_right{
    width: 23px;
    height: 23px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
    margin-right: 10px;
    background: url('img/icon.png') 0 0 no-repeat  ;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
}
.icon_right{
    background: url('img/icon.png') 0 -23px no-repeat  ;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
}

.left{float: left}
.right{float: right}
.text_left{
    background-color: #EB5F52;
    position: fixed;
    bottom: 0;
    left: 0;
}
.text_right{
    background-color: #EE2D1B;
    position: fixed;
    bottom: 0;
    right: 0;
}
.text_change{
    width: 30px;
    height: 30px;
    background: url('img/change.png') 0 0 no-repeat  ;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    position: absolute;
    bottom: 70px;
    right: 10px;
    z-index: 100;
}
.text_title{
    margin-top: 15px;
}
/************描述文字************/
.text_contain{
    display: none;
    margin-bottom: 60px;
}
.text_title,.text_info,.text_img,.text_guess{
    margin-left: 10px;
}
/*******************省略号*************/
.text_ell{
    display: inline-block;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 100%;/*不允许出现半汉字截断*/
}
.text_more{
    color: #D0141B;
}
.text_info_title{
    font-weight: bold;
    display: inline-block;
}
.text_img,.text_guess{
    margin-top: 20px;
    border-top: 1px solid #F0F0F0;
    padding-top: 20px;
}
.text_img>h2,.text_guess>h2{
    color: #666;
    font-size: 1.15rem;
    top: -14px;
    left: 0;
    background-color: #ffffff;
}
.text_img>a{
    display: block;
    margin-top: 10px;
    color: #999;
}
.text_img>a:before{
    margin-right: 10px;
    content: "*";
}
.text_guess>a{

    display: inline-block;
    background-color: #E6E6E6;
    margin-top: 10px;
    margin-right: 10px;
    padding: 2px;
    border-radius: 5px;
}
/****************弹窗手机号************/
.text_form{
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;left: 0;
    z-index: 120;
}

.textForml{
    position: relative;
    padding: 10px 10px;
    width: 86%;
    margin: 150px auto;
    background-color: #FFFFFF;
    border-radius: 7px;
}
.textForml p{
    text-align: center;
}
input,button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
}
.name,.phone,.meter{
    margin-top: 10px;
    background-color: #F2F2F2;
}
.reset_price,.reset_order{
    border-radius: 7px;
    font-size: 1.136rem;
    color: #ffffff;
    background-color:#EE2D1B ;
    margin: 10px auto 10px;

}
.close{
    width: 41px;
    height: 41px;
    position: absolute;
    top: -60px;
    right:-15px;
    background:url("img/close.png") 0 0 no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
}
.amount,.count,.err{
    color:#EE2D1B ;
}
i,em{
    font-size: 10px;
}