@charset "utf-8";
/* CSS Document */
body{
    /*margin-bottom: 99px;*/
    background-color: #F5F5F5;
}
header {
    width: 100%;
    margin-top: 1px;
}
img {
    border: none;
}
a{color: #666;}
.cB9{color: #999}
/*.ct1,a.ct1,.ct1 a,.ct1 a:visited{ color:#FFF;}*/
/*a:active {color:#447fc4;}*/
.hide {
    display: none;
}
.hot_line{
    font-weight: bold;
    color: #CFAA75;
}
.crumbs{
     padding: 12px 0 15px;
     height: 26px;
    line-height: 26px;
 }
 .crumbs a{
    color: #333;
    font-size: 12px;
    float: left;
    padding-top: 8px;
}
 .crumbs span{
    float: left;
    padding: 8px 5px 0;
}
 .crumbs .last_child{
    color: #999999;
}

.ert {
    /*width: 700px;*/
    height: 60px;
    margin: 20px auto;
    position: relative;
}

.ertcon {
    height: 60px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 auto;

    /*background-color: #efefef;*/
    /*background-color: #333;*/
    /*border: 1px solid #CCCCCC;*/
    /*cursor: pointer;*/
}
/*.ertcon .border_left{*/
    /*width: 340px;*/
    /*border: 0.5px solid #CCCCCC;*/
    /*position: absolute;*/
    /*top: 17px;*/
    /*left: -60px;*/
/*}*/
/*.ertcon .border_right{*/
    /*width: 340px;*/
    /*border: 1px solid #CCCCCC;*/
    /*position: absolute;*/
    /*top: 17px;*/
    /*right: -60px;*/
/*}*/
.ert .p1 {
    display: block;
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    zoom: 1;
    text-transform: uppercase;
    font-family: "Times New Roman";
}

.ert .p2 {
    /*width: 100px;*/
    color: #CFAA75;
    /*display: block;*/
    padding: 5px 0;
    /*color: #979797;*/
    /*color: #fff;*/
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    zoom: 1;
    font-size: 24px;
}
.ert .p2:after{
    margin-left: 15px;
}
.ert .p2:before{
    margin-right: 15px;
}
.ert .p2:before,.ert .p2:after{
    display: inline-block;
    content:'';
    width: 340px;
    border: 1px solid #CCCCCC;
    vertical-align: middle;
}
/*上一篇 下一篇*/
.content_banner{
    font-size: 16px;
    height: 90px;
    padding: 80px 0;
    /*border-bottom: 1px solid #FF6666;*/
}
.content_banner .info_prev, .content_banner .info_next {
    width: 410px;
    -webkit-transition: 0.5s -webkit-transform ease;
    -moz-transition: 0.5s -moz-transform ease;
    -ms-transition: 0.5s -ms-transform ease;
    transition: .5s transform ease;
    height: 90px;
}
.content_banner .info_prev a, .content_banner .info_next a {
    color: #999;
    font-size: 18px;
}
.content_banner .info_prev  .left_dir, .content_banner .info_next a .left_dir {
    background: url(../../assets/images/art_change.png) no-repeat -18px 0;
}
.content_banner .info_prev  span, .content_banner .info_next a span {
    width: 18px;
    height: 37px;
    display: inline-block;
    background: url(../../assets/images/art_change.png) no-repeat;
    margin-top: 20px;
}
.content_banner .info_prev a img, .content_banner .info_next a img {
    width: 124px;
    height: 88px;
    margin-right: 20px;
    margin-left: 20px;
}
.content_banner .info_prev a strong, .content_banner .info_next a strong {
    display: block;
    font-size: 18px;
    color: #333;
}
.content_banner .info_prev:hover {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}
.content_banner .info_next:hover {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
/*.ert a:hover .p2 {*/
    /*/!*color: #7699c3;*!/*/
    /*/!*color: #AAAAAA;*!/*/
/*}*/

.sobox1 {
    width: 1200px;
    position: relative;
    text-align: center;
    margin: 10px auto 10px;
}

.sobox1 .a_bigImg {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    text-align: center;
    /*margin-bottom: 10px;*/
}

.sobox1 .a_bigImg img {
    /*width: 1920px;*/
}

.soul_t {
    z-index: 10;
    width: 1200px;
    text-align: center;
}

.soul_t li {
    display: inline-block;
    float: left;
    margin: 0px;
    padding-left: 10px;
}

.soul_t li:hover p{
    color: #CFAA75;
}
.soul_t li:hover span{
    color: #CFAA75;
}

.soul_t li i {
    display: block;
    width: 274px;
    height: 124px;
}
.soul_t li.on span {
    color: #014596;
}

.soul_t li a .jiage {
    height: 36px;
    margin: 0 auto;
    color: #414141;
    line-height: 36px;
    overflow: hidden;
}

.type_List {
    /*padding-top: 20px;*/
    text-align: center;
    font-style: normal;
    font-weight: normal
}

.type_List a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 30px;
}

.type_List a.hover, .type_List a:hover {
    color: #CFAA75;
}

.viimg {
    position: relative;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
}

.viimg .xj {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 293px;
    height: 450px;
    background: url(../images/8e028-1265.png) no-repeat;
    /*background: #fff;*/
    z-index: 10;
}
.viimg img{
    transition: all .5s;
}
.viimg:hover img{
    /*transform: scale(1.025, 1.025);*/
    /*transform:rotate(3deg);*/
}

.viimgg {
    position: relative;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
    width: 152px;
    height: 152px;
}

.viimgg .xj {
    opacity: 0;
    position: absolute;
    top: -152px;
    left: 0;
    width: 152px;
    height: 152px;
    background: url(../images/d85e4-6587.png) no-repeat center center;
    z-index: 10;
}
.viimgg img{
    width: 100%;
    height:100%;
    transition: all .5s;
}
.viimgg:hover img{
    transform: scale(1.025,1.025);
}
.viimgz img{
    transition: all .5s;
}
.viimgz:hover img{
    transform: scale(1.05,1.05);
}
.chinacon{
    text-align: left;
    line-height: 1.5;
}
.chinacon ul {
    width: 1300px;
    /*overflow: hidden;*/
    /*padding: 0 10px;*/
}
.chinacon .swiper-wrapper{
    height: auto;
}
.chinacon ul li {
    float: left;
    width: 290px;
    height: 530px;
    position: relative;
    margin: 35px 10px 10px 10px;
}
.chinacon ul li a:hover p{
    /*color:#A8C6E8;*/
    color:#CFAA75;
}
.chinacon ul li:hover .xj{
    opacity: .5;
}
.swiper-button-prev, .swiper-button-next{
    position: absolute;
    top: 260px;
    right: 0px;

}

/*广告滚动*/
/* sobox */
.sobox {
    width: 1200px;
    position: relative;
    text-align: center;
}

.sobox .a_bigImg {
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.sobox .a_bigImg img{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* 子页面分页效果*/
.mpage {
    width: 1200px;
    height: 32px;
    line-height: 25px;
    /*display: block;*/
    padding: 40px  40px;
    margin: 0 auto;
    text-align: center;
}
.mpage .pagination{
    /*float: left;*/
    display: inline-block;
    /*margin: 0 100px;*/
    /*margin-left: 300px;*/
    /*margin-right: 20px;*/
}
.mpage .pagination li{
    display: inline-block;
    /*float: left;*/
    border: 1px solid #ccc;
    text-decoration: none;
    margin-right: 10px;
    padding: 3px 9px;
}
.mpage .pagination li:hover{
    color: #fff;
    cursor: pointer;
    background-color: #777;
}
.mpage .pagination li.active{
    background-color: #777;
}
.mpage .pagination li.active a{
    color: #fff;
}
.mpage .pagination li:hover a{
    color: #fff;
}
.mpage .all-page{
    /*float: left;*/
    display: inline-block;
    color:#666666 ;
    font-size: 14px;
    /*height: 32px;*/
    line-height: 30px;
}

/* 头部菜单效果*/
.global {
    width: 200px;
    height: 156px;
    margin-top: -104px;
}

.top2 {
    /*width: 100%;*/
    height: 77px;
    padding-left: 100px;
}

.top2 a{
    display: inline-block;
    /*width: 884px;*/
    height: 77px;
}
.top2 a img{
    /*width:90%;*/
    height: 100%;
}

.top2 .top22 {
    width: 422px;
    height: 77px;
    line-height: 87px;
    position: relative;
}

.top2 .top22 p{
    float: right;
    display: block;
    font-weight: bold;
    font-size: 35px;
    height: 77px;
    width: 300px;
}
.top2 .top22 div{
    text-align: right;
    position: absolute;
    top: 8px;
    left: -60px;
    height: 87px;
    /*line-height: 103px;*/
}
.top2 .top22 span{
    font-size: 15px;
    display: block;
    line-height: 56px;
    height: 18px;
}
.top2 .top22 .ser_phone{
    letter-spacing: 3px;
}
.topnav {
    background: #777;
    height: 40px;
    width: 100%;
    margin: 0 auto;
}

.top_menu {
    display: block;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.top_menu ul {
    float: left;
    position: relative;
}
.top_menu .hot_phone{
    display: none;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 20px;
    color: #fff;
}
.top_menu .hot_phone span{
    font-size: 16px;
}
.top_menu ul li {
    padding: 0px 0 0px 0px;
    float: left;
    display: inline;
}
.top_menu ul li a {
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    width: 150px;
    display: block;
    letter-spacing: 2px;
    color: #fff;
}
/*.top_menu ul li:last-child{*/
    /*height: 58px;*/
    /*border-color: #FF6612;*/
/*}*/

/*.top_menu ul li a:hover, .top_menu ul li a.hover {*/
    /*/!*background: #8dafd5;*!/*/
    /*background: #444;*/
    /*color: #FFF*/
/*}*/

.top_menu ul li div{
    display: none;
    position: absolute;
    top: 40px;
    left: 150px;
    background-color: #333;
    z-index: 100;
}
.top_menu ul li div a{
    float: none;
}
.top_menu ul li :hover{
    background: #525252;
    color: #FFF
}
.top_menu ul li:hover div{
    display: block;
}
.last_li{
    height: 45px;
    line-height: 45px;
    background-color: #D3A55D;
    z-index: 100;
    position: absolute;
    top: 0px;
    right: -150px;

}
.top_menu ul li:last-child a{
    color: #ffffff;
}
.last_li:hover{
    color: #fff;
    background-color: #D3A55D;
}
.top_menu ul li:last-child :hover{
    background-color: #D3A55D;
    color: #fff;
}
.top_menu ul li a.active {
    background: #5D5D5D;
    color: #FFF;
    /*color: #CFAA75;*/
    font-weight: bold;
}

/*最新活动*/
.Vkuai1 ul li {
    margin-bottom: 80px;
}

.Vkuai1 ul li .Vkuai1con {
    width: 1186px;
    height: 109px;
    border: 7px solid #F5F5F5;
    background: #F5F5F5;
}

.Vkuai1 ul li a:hover .Vkuai1con {
    /*border: 7px solid #89aed8*/
    box-shadow: 10px 10px 5px #B8B8B8;
}
.Vkuai1 ul li a:hover p{
    /*color:#A8C6E8;*/
    color:#CFAA75;
}

.Vkuai1 ul li .Vkuai1con .jiage {
    width: 184px;
    height: 36px;
    background-color: #666;
    /*background: url(../images/ab156-8584.png) no-repeat;*/
    /*color: #FFF;*/
    color: #CFAA75;
    line-height: 36px;
    margin-top: 35px;
    margin-right: 30px;
}

.Vkuai1 ul li .Vkuai1date {
    left: 0;
    top: 35px;
    z-index: 10;
    /*background: url(../images/f4e36-3586.jpg) no-repeat;*/
    width: 113px;
    height: 50px;
}

.type ul li {
    width: 210px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
}

.type ul li a {
    /*background: #7699c3;*/
    background-color: #999;
    width: 190px;
    height: 35px;
    display: block;
    padding-right: 20px;
    text-transform: uppercase;
    color: #fff;
}

.type ul li a:hover, .type ul li a.hover {
    background-color: #777;
}

.type ul li span {
    padding-left: 30px;
}
.Vkuai5 ul{ width:1300px;overflow:hidden;}
.Vkuai5 ul li{ width:550px; height:152px; overflow:hidden; margin-bottom:50px; margin-right:100px; float:left}
.Vkuai5 ul li .Vkuai5con{ width:388px; height:152px; padding-left:10px;}
.Vkuai5 ul li:hover .Vkuai5con{
    /*color: #014596;*/
    color:#CFAA75 ;
}
.Vkuai6 {
    width: 1200px;
    height: 266px;
    overflow: hidden;
    background: #444;
    color:#CFAA75 ;
}

.Vkuai6 .next {
    padding-top: 100px;
    padding-right: 50px;
}

.Vkuai6 .p1 {
    width: 65px;
    height: 65px;
    line-height: 65px;
    /*background: #BCBCBC;*/
    color: #ffffff;
    background: #CFAA75;
}

.Vkuai6 .p2 {
    width: 65px;
    height: 65px;
    line-height: 65px;
    background: #CFAA75;
    /*background: #BCBCBC;*/
    color: #ffffff;
    margin-left: 20px;
}

.Vkuai6 a:hover .p1 {
    background: #E0BF89;
}

.Vkuai6 a:hover .p2 {
    background: #E0BF89;
}


/*底部列表新闻*/
.latestNewsList {
    background: url(../images/a6fde-8116.png) repeat-y center top;
    width: 1200px;
    margin: 10px auto;
}

.latestNewsList li {
    background: url(../images/c9c57-4804.png) repeat-x center top;
    float: left;
    width: 560px;
    padding: 24px 20px;
    line-height: 18px;
    color: #8d8d8d;
    font-size: 12px;
    font-family: Microsoft YaHei;
}

.latestNewsDate {
    background: url(../images/cdcb2-4696.png) no-repeat 4px center;
    line-height: 24px;
    color: #737373;
    font-size: 12px;
    padding-left: 24px;
}

.latestNewsTit {
    height: 30px;
    line-height: 30px;
    display: block;
    overflow: hidden;
    /*color: #ff0000;*/
    color: #D3A55D;
    font-size: 18px;
    font-weight: normal;
    margin: 12px 0 16px 0;
}

.latestNewsTit a {
    /*color: #ff0000;*/
    color:#D3A55D;;
    text-decoration: none;
}

.latestNewsTit a:hover {
    /*color: #ff0000;*/
    color: #D3A55D;
    text-decoration: underline;
}

.latestNewsTxt {
    color: #585858;
    height: 36px;
    line-height: 18px;
    display: block;
    overflow: hidden;
}

.latestNewsTxt a {
    color: #585858;
    text-decoration: none;
}

.latestNewsTxt a:hover {
    color: #585858;
    text-decoration: underline;
}

.latestNewsMeta {
    height: 20px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    margin-top: 12px;
}

/*footer*/
.footHome{
    /*background: #94b1d3;*/
    border-top: 1px solid #aaa;
    padding:18px 0;
    line-height:26px;
    text-align:center;
    color:#979797;
    font-size:12px;
    /*margin-top: 10px;*/
}
.footHome a{
    color:#979797;
    text-decoration:none;
}
.footHome a:hover{
    /*color:#fff;*/
    text-decoration:underline;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #888;
}
/*返回顶部*/
.slide_help{
    text-align: center;
    display: none;
    width: 45px;
    height: 90px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    background-color: #FFFFFF;
    z-index: 10;

}
.slide_help a{
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 18px;
    /*background: url("../../assets/images/sidebaricon.png") no-repeat;*/
}
.slide_help a:last-child{
    border-top: none;
}
.slide_help a.cur{
    background-color:#777 ;
    color: #fff;
}
.slide_help .attention{
    position: relative;
    background: url("../../assets/images/sidebaricon_03.png") center center no-repeat;
    background-size: 75%;
}
.slide_help .return_top{
    background: url("../../assets/images/sidebaricon_05.png") center center no-repeat;
    background-size: 75%;
}
.attention img{
    display: none;
    position:absolute;
    top: 0px;
    left: -70px;
}
.attention:hover img{
    display: block;
}

/*关于我们*/
.about{
    width: 1200px;
    margin: 0 auto;
}
.about .about_container{
   padding: 40px 150px;
}
.about .about_container h2{
    font-size: 28px;
    color: #333;
    font-weight: normal;
}
.about .about_container p{
    margin: 10px 0;
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    text-indent: 35px;
}
/*联系我们*/
.contact{
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px;
}
.contact .contact_container{
    width: 440px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
}
.contact .contact_container h2{
    font-size: 28px;
    color: #333;
    font-weight: normal;
}
.contact .contact_container p{
    margin-top: 15px;
    color: #757575;
}
.contact .contact_container .server_btns{
    margin-top: 20px;
    display: inline-block;
    width: 210px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #D3A55D;
    color: #fff;
    font-size: 16px;
}
.contact .contact_map{
    width: 680px;
    height: 390px;

}

/*咨询有礼*/
.about_gift{
    display: block;
    position: fixed;
    top: 500px;
    /*right: 0px;*/
    left: 0px;
    z-index: 100;
}

/*登记预约页面*/
.order_area{
    width: 1200px;
    /*text-align: center;*/
    margin: 0 auto;
}
.order_area .step_detail{
    text-align: center;
    margin: 20px auto;
}
.step_detail span,.step_detail p{
    display: inline-block;
}
.step_detail span{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #ccc;
    border-radius: 50px;
    color: #fff;
}
.step_detail span.active{
    background-color: #D3A55D;
    color: #fff;
}
.step_detail p{
    color: #D3A55D;
    border-bottom: 3px solid #777;
    width: 250px;
    margin-top: 1px;
}
/*step1*/
.order_area .order_style{
    text-align: center;
    margin: 30px auto;
    /*display: block;*/
    /*display: none;*/
}
.order_area .order_style li{
    padding: 15px 15px;
    margin: 5px 25px;
    width: 13%;
    height: 300px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    position: relative;
}
.order_area .order_style li:hover{
    cursor: pointer;
    border-color: #777;

}
.order_area .order_style li:hover p{
    color: #CFAA75;
}

.order_area .order_style li a{
    display: block;
    height: 100%;
}
.order_area .order_style li img{
    width: 100%;
    /*height: 100%;*/
    height: auto;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari 和 Chrome */
    -o-transition: all .5s; /* Opera */
}
.order_area .order_style li:hover img{
    transform: scale(1.05,1.05);
    -ms-transform:scale(1.05,1.05); /* IE 9 */
    -webkit-transform:scale(1.05,1.05); /* Safari and Chrome */
}
.order_area .order_style li p{
    font-size: 20px;
    margin-top: 35px;
}
/*step2*/
.order_form{
    margin: 10px 250px;
    padding: 10px;
    display: none;
    /*text-align: center;*/
}

.order_form li{
    position: relative;
    width: 112px;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
}
.order_form input[type=radio]{
    visibility: hidden;
    margin: 0 0;
}
.order_form .order_city{
    padding: 10px;
}
.order_form .order_city select{
    /*appearance:none;
    -moz-appearance:none;
   -webkit-appearance:none;*/
    border: 1px solid #ccc;
    width: 65px;
    height: 25px;
    padding: 0px 5px;
    text-align: center;
    font-size: 14px;
    outline: none;
    margin-right: 10px;
}
.order_form .order_city span{
    color: #D3A55D;
    font-size: 12px;
}
/*拍摄日期*/
.order_form .order_date{
    padding: 10px;
}
.order_form .order_date input{
    border: 1px solid #ccc;
    outline: none;
    height: 25px;
    font-size: 14px;
    text-align: center;
}
.order_form .order_price{
    padding: 10px;
    display: none;
}
.order_form .order_price span{
    float: right;
    margin: 0px 13px;
}
.order_form .order_price label{
    margin: 0 0;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 0;
    background: #fff;
    border: 2px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.order_form .order_price i{
    opacity: 0;
    content: '';
    position: absolute;
    width: 15px;
    height: 7px;
    background: transparent;
    top: 0px;
    left: 2px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.order_form .order_price label:hover i{
    opacity: 0.5;
}
.order_form .order_btn,.order_form .order_pre{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 160px;
    background-color: #D3A55D;
    color: #fff;
    padding: 0px 0px;
}
.order_form .order_btn:hover,.order_form .order_pre:hover{
    /*background-color: #555;*/
}

.order_info p{
    /*text-align:none;*/
    margin: 10px auto;
    padding: 10px;
    vertical-align: middle;
}
.order_info .err_tips{
    color: #D3A55D;
}
.order_info input{
    outline: none;
    width: 400px;
    height: 35px;
    line-height: 30px;
    border: 1px solid #ccc;
    padding-left: 15px;
}

.order_info .order_message span{
    float: left;
    display: block;
    width: 50px;
}
.order_info textarea{
    float: left;
    width: 400px;
    height: 100px;
    outline: none;
}

/*step3*/
.success_info{
    display: none;
    text-align: center;
    margin: 0 auto;
    /*position: relative;*/

}
.success_info .succ_container{
    background-color: #EAEAEA;
    padding: 30px 0;
}
.success_info .succ_title{
    font-size: 28px;
    font-weight: bold;
    color: #D3A55D;
}
.success_info .succ_tips{
    color: #D3A55D;
    padding-bottom: 20px;
}
.success_info .succ_tips a:hover{
    color: red;
}
.success_info .succ_detail{
    width: 550px;
    margin-top: 45px;


}
.success_info .succ_wechat{
    margin-left: 100px;
    width: 400px;
    text-align: right;
}
.success_info .succ_wechat .wechat_title{
    display: block;
}
.success_info .succ_wechat .wechat_text{
    display: block;

}

/*拍摄流程*/
.flow_container,.guarantee_container{
    height: 720px;
    text-align: center;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.flow_container{
    background-color: #FFD98E;
    /*background: url("../../assets/images/background.jpg") center no-repeat;*/
}
.guarantee_container{
    /*background-color: #FFD98E;*/
    /*background: url("../../assets/images/bj1.jpg") center no-repeat;*/
}
.guarantee_title{
    margin: 0 auto;
    color: #000000;
}
.guarantee_title i{
    font-size: 20px;
    color: #F37214;
}
.flow_title{
    padding: 50px 0px;
    margin: 0 auto;
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
    color: #000000;
}
.flow_title i{
    color:#F37214;
    font-size: 55px;
    font-style: italic;
    font-weight: 500;
}
.flow_container ul,.guarantee_container ul{
    text-align: center;
   display: inline-block;
   margin-top: 20px;
}
.flow_container li{
    display: inline-block;
    text-align: center;
    background-color: #fd6d49;
    width: 245px;
    height: 320px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;

}
.flow_container li img{
    margin-top: 45px;
}
.flow_container li .flow_text{
    background: #fff;
    position: absolute;
    top: 170px;
    height: 100px;
    width: 195px;
    padding: 25px;
}
.flow_container li .flow_text p{
    font-size: 20px;
    color: #333;
    line-height: 20px;
}
.flow_container li .flow_text .flow_title{
    font-size: 35px;
    color: #00224b;
    margin-bottom: 30px;
}

.flow_container .gBox{
    background-color: #BAD878;
}
.flow_container .bBox{
    background-color: #4787B3;
}
.flow_container .lBox{
    background-color: #1EC2B8;
}
.guarantee_title{
    padding: 50px 0px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    /*color: #FF4546;*/
}
.guarantee_title span,.guarantee_title .addvance{
    color: #FF4546;
}
.guarantee_title span,.guarantee_title em{
    font-weight: 500;
}
.guarantee_title .addvance{
    font-size: 50px;
}
.guarantee_container li{
    display: inline-block;
    text-align: center;
    width: 245px;
    height: 320px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.guarantee_container li:hover{
    background-color: #ffffff;
}
.guarantee_container li img{
    margin-top: 45px;
}
.guarantee_container li p{
    color: #333;
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px;
}
.guarantee_container li .guarant_title{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
/*立即预约*/
.appointment_box{
    height: 170px;
    position: relative;
    padding-top: 20px;
    text-align: center;
    background-color: #FBFBFB;
}
.appointment_box .appoint_title{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}
.appointment_box .appoint_text{
    flood-color: #666;
    font-size: 25px;
    margin: 10px 0;
}
.appointment_box .app_btn{
    margin-top: 10px;
    display: inline-block;
    width: 150px;
    height: 60px;
    line-height: 60px;
    background-color: #D3A55D;
    color: #ffffff;
    border-radius: 10px;
    font-size: 22px;
}











