@charset "utf-8";
/* CSS Document */
body{
    /*margin-bottom: 99px;*/
    background-color: #F5F5F5;
}
header {
    width: 100%;
    margin-top: 1px;
}
a{color: #666;}
.cB9{color: #999}
/*.ct1,a.ct1,.ct1 a,.ct1 a:visited{ color:#FFF;}*/
/*a:active {color:#447fc4;}*/
.hide {
    display: none;
}
.hot_line{
    font-weight: bold;
    color: #CFAA75;
}
.china .crumbs{
     padding: 12px 0 15px;
     height: 26px;
    line-height: 26px;
 }
.china .crumbs a{
    color: #333;
    font-size: 12px;
    float: left;
    padding-top: 8px;
}
.china .crumbs span{
    float: left;
    padding: 8px 5px 0;
}
.china .crumbs .last_child{
    color: #999999;
}

.ert {
    width: 700px;
    height: 60px;
    margin: 20px auto;
    position: relative;
}

.ertcon {
    height: 60px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;

    /*background-color: #efefef;*/
    /*background-color: #333;*/
    /*border: 1px solid #CCCCCC;*/
    /*cursor: pointer;*/
}
.ertcon .border_left{
    width: 340px;
    border: 0.5px solid #CCCCCC;
    position: absolute;
    top: 17px;
    left: -60px;
}
.ertcon .border_right{
    width: 340px;
    border: 1px solid #CCCCCC;
    position: absolute;
    top: 17px;
    right: -60px;
}
.ert .p1 {
    display: block;
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    zoom: 1;
    text-transform: uppercase;
    font-family: "Times New Roman";
}

.ert .p2 {
    color: #CFAA75;
    display: block;
    padding: 5px 0;
    /*color: #979797;*/
    /*color: #fff;*/
    /*display: inline-block;*/
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    zoom: 1;
    font-size: 24px;
}

/*.ert a:hover .p2 {*/
    /*/!*color: #7699c3;*!/*/
    /*/!*color: #AAAAAA;*!/*/
/*}*/

.sobox1 {
    width: 1200px;
    position: relative;
    text-align: center;
    margin: 10px auto 10px;
}

.sobox1 .a_bigImg {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    text-align: center;
    /*margin-bottom: 10px;*/
}

.sobox1 .a_bigImg img {
    /*width: 1920px;*/
}

.soul_t {
    z-index: 10;
    width: 1200px;
    text-align: center;
}

.soul_t li {
    display: inline-block;
    float: left;
    margin: 0px;
    padding-left: 10px;
}

.soul_t li:hover p{
    color: #CFAA75;
}
.soul_t li:hover span{
    color: #CFAA75;
}

.soul_t li i {
    display: block;
    width: 274px;
    height: 124px;
}
.soul_t li.on span {
    color: #014596;
}

.soul_t li a .jiage {
    height: 36px;
    margin: 0 auto;
    color: #414141;
    line-height: 36px;
    overflow: hidden;
}

.type_List {
    padding-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal
}

.type_List a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 30px;
}

.type_List a.hover, .type_List a:hover {
    color: #CFAA75;
}

.viimg {
    position: relative;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
}

.viimg .xj {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 293px;
    height: 450px;
    background: url(../images/8e028-1265.png) no-repeat;
    /*background: #fff;*/
    z-index: 10;
}
.viimg img{
    transition: all .5s;
}
.viimg:hover img{
    /*transform: scale(1.025, 1.025);*/
    /*transform:rotate(3deg);*/
}

.viimgg {
    position: relative;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
    width: 152px;
    height: 152px;
}

.viimgg .xj {
    opacity: 0;
    position: absolute;
    top: -152px;
    left: 0;
    width: 152px;
    height: 152px;
    background: url(../images/d85e4-6587.png) no-repeat center center;
    z-index: 10;
}
.viimgg img{
    width: 100%;
    height:100%;
    transition: all .5s;
}
.viimgg:hover img{
    transform: scale(1.025,1.025);
}
.viimgz img{
    transition: all .5s;
}
.viimgz:hover img{
    transform: scale(1.05,1.05);
}

.chinacon ul {
    width: 1300px;
    overflow: hidden;
}

.chinacon ul li {
    float: left;
    width: 290px;
    height: 530px;
    margin: 35px 10px 10px 10px;
}
.chinacon ul li a:hover p{
    /*color:#A8C6E8;*/
    color:#CFAA75;
}
.chinacon ul li a:hover .xj{
    opacity: 0.8;
}
/*广告滚动*/
/* sobox */
.sobox {
    width: 1200px;
    position: relative;
    text-align: center;
}

.sobox .a_bigImg {
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.sobox .a_bigImg img{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* 子页面分页效果*/
.mpage {
    width: 1200px;
    height: 32px;
    line-height: 25px;
    /*display: block;*/
    padding: 40px  40px;
    margin: 0 auto;
    text-align: center;
}
.mpage .pagination{
    float: left;
    /*margin: 0 100px;*/
    margin-left: 300px;
    margin-right: 20px;
}
.mpage .pagination li{
    float: left;
    border: 1px solid #ccc;
    text-decoration: none;
    margin-right: 10px;
    padding: 3px 9px;
}
.mpage .pagination li:hover{
    color: #CFAA75;
    cursor: pointer;
    background-color: #333333;
}
.mpage .pagination li.active{
    background-color: #333333;
}
.mpage .pagination li.active a{
    color: #CFAA75;
}
.mpage .pagination li:hover a{
    color: #CFAA75;
}
.mpage .all-page{
    float: left;
    color:#666666 ;
    font-size: 14px;
    /*height: 32px;*/
    line-height: 30px;
}

/* 头部菜单效果*/
.global {
    width: 200px;
    height: 156px;
    margin-top: -104px;
}

.top2 {
    /*width: 100%;*/
    height: 87px;
    padding-left: 100px;
}

.top2 a{
    display: inline-block;
    /*width: 884px;*/
    height: 87px;
}
.top2 a img{
    /*width:90%;*/
    height: 100%;
}

.top2 .top22 {
    width: 422px;
    height: 87px;
    line-height: 87px;
    position: relative;
}

.top2 .top22 p{
    float: right;
    display: block;
    font-weight: bold;
    font-size: 35px;
    height: 87px;
    width: 300px;
}
.top2 .top22 div{
    text-align: right;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 87px;
    /*line-height: 103px;*/
}
.top2 .top22 span{
    font-size: 15px;
    display: block;
    line-height: 56px;
    height: 18px;
}
.topnav {
    background: #777;
    height: 40px;
    width: 100%;
    margin: 0 auto;
}

.top_menu {
    display: block;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.top_menu ul {
    float: left;
    position: relative;
}
.top_menu .hot_phone{
    display: none;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 20px;
    color: #fff;
}
.top_menu .hot_phone span{
    font-size: 16px;
}
.top_menu ul li {
    padding: 0px 0 0px 0px;
    float: left;
    display: inline;
}
.top_menu ul li a {
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    width: 150px;
    display: block;
    letter-spacing: 2px;
    color: #fff;
}
/*.top_menu ul li:last-child{*/
    /*height: 58px;*/
    /*border-color: #FF6612;*/
/*}*/

/*.top_menu ul li a:hover, .top_menu ul li a.hover {*/
    /*/!*background: #8dafd5;*!/*/
    /*background: #444;*/
    /*color: #FFF*/
/*}*/

.top_menu ul li div{
    display: none;
    position: absolute;
    top: 52px;
    left: 150px;
    background-color: #333;
    z-index: 100;
}
.top_menu ul li div a{
    float: none;
}
.top_menu ul li :hover{
    background: #525252;
    color: #FFF
}
.top_menu ul li:hover div{
    display: block;
}
.last_li{
    height: 45px;
    line-height: 45px;
    background-color: #FF6600;
    z-index: 100;
    position: absolute;
    top: 0px;
    right: -150px;

}
.top_menu ul li:last-child a{
    color: #ffffff;
}
.last_li:hover{
    color: #fff;
    background-color: #FF9355;
}
.top_menu ul li:last-child :hover{
    background-color: #FF9355;
    color: #fff;
}
.top_menu ul li a.active {
    background: #5D5D5D;
    color: #FFF;
    /*color: #CFAA75;*/
    font-weight: bold;
}

/*最新活动*/
.Vkuai1 ul li {
    margin-bottom: 80px;
}

.Vkuai1 ul li .Vkuai1con {
    width: 1186px;
    height: 109px;
    border: 7px solid #F5F5F5;
    background: #F5F5F5;
}

.Vkuai1 ul li a:hover .Vkuai1con {
    /*border: 7px solid #89aed8*/
    box-shadow: 10px 10px 5px #B8B8B8;
}
.Vkuai1 ul li a:hover p{
    /*color:#A8C6E8;*/
    color:#CFAA75;
}

.Vkuai1 ul li .Vkuai1con .jiage {
    width: 184px;
    height: 36px;
    background-color: #666;
    /*background: url(../images/ab156-8584.png) no-repeat;*/
    /*color: #FFF;*/
    color: #CFAA75;
    line-height: 36px;
    margin-top: 35px;
    margin-right: 30px;
}

.Vkuai1 ul li .Vkuai1date {
    left: 0;
    top: 35px;
    z-index: 10;
    /*background: url(../images/f4e36-3586.jpg) no-repeat;*/
    width: 113px;
    height: 50px;
}

.type ul li {
    width: 210px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
}

.type ul li a {
    /*background: #7699c3;*/
    background-color: #999;
    width: 190px;
    height: 35px;
    display: block;
    padding-right: 20px;
    text-transform: uppercase;
    color: #CFAA75;
}

.type ul li a:hover, .type ul li a.hover {
    background-color: #777;
}

.type ul li span {
    padding-left: 30px;
}
.Vkuai5 ul{ width:1300px;overflow:hidden;}
.Vkuai5 ul li{ width:550px; height:152px; overflow:hidden; margin-bottom:50px; margin-right:100px; float:left}
.Vkuai5 ul li .Vkuai5con{ width:388px; height:152px; padding-left:10px;}
.Vkuai5 ul li:hover .Vkuai5con{
    /*color: #014596;*/
    color:#CFAA75 ;
}
.Vkuai6 {
    width: 1200px;
    height: 266px;
    overflow: hidden;
    background: #444;
    color:#CFAA75 ;
}

.Vkuai6 .next {
    padding-top: 100px;
    padding-right: 50px;
}

.Vkuai6 .p1 {
    width: 65px;
    height: 65px;
    line-height: 65px;
    /*background: #BCBCBC;*/
    color: #ffffff;
    background: #CFAA75;
}

.Vkuai6 .p2 {
    width: 65px;
    height: 65px;
    line-height: 65px;
    background: #CFAA75;
    /*background: #BCBCBC;*/
    color: #ffffff;
    margin-left: 20px;
}

.Vkuai6 a:hover .p1 {
    background: #E0BF89;
}

.Vkuai6 a:hover .p2 {
    background: #E0BF89;
}

/*手机收集*/
/*.collect_info{*/
    /*display: none;*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*/!*background-color: #A8C6E8;*!/*/
    /*/!*background-color: #333;*!/*/
    /*position: fixed;*/
    /*bottom: -1px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: 100;*/
    /*opacity: 0.9;*/
    /*background:#333 url(../images/background.png) no-repeat;*/
/*}*/
/*.collect_info .collect_contain{*/
    /*width: 1100px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*height: 100%;*/
/*}*/
/*.collect_info .collect_contain .collect_left{*/
    /*box-sizing: border-box;*/
    /*padding: 10px 10px;*/
    /*float: left;*/
    /*height: 100%;*/
    /*width: 500px;*/
/*}*/
/*.collect_info .collect_contain .collect_left p{*/
    /*font-size: 25px;*/
    /*font-weight: bold;*/
    /*font-style: oblique;*/

/*}*/
/*.collect_info .collect_contain .collect_left .text_top{*/
    /*color: #CFAA75;*/
/*}*/
/*.collect_info .collect_contain .collect_left .text_bottom{*/
    /*color: #E0BF89;*/
/*}*/
/*.collect_info .collect_contain .collect_right{*/
    /*float: left;*/
    /*height: 100%;*/
    /*width: 500px;*/
    /*position: relative;*/
    /*/!*padding-left: 30px;*!/*/
/*}*/
/*.collect_info .collect_contain .collect_right input{*/
    /*display: inline-block;*/
    /*width: 200px;*/
    /*height: 35px;*/
    /*padding-left: 4px;*/
    /*color: #c1bfbf;*/
    /*font-size: 14px;*/
    /*border: 0px #000 solid;*/
    /*outline: none;*/
    /*margin-right: 20px;*/
    /*margin-top: 35px;*/
    /*border-radius: 5px;*/
/*}*/
/*.collect_info .collect_contain .collect_right a{*/
    /*display: inline-block;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*color: #ffffff;*/
    /*background-color: #CFAA75;*/
    /*border-radius: 5px;*/
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*line-height: 22px;*/
    /*padding: 10px 10px;*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*right: -35px;*/
/*}*/
/*.collect_info .collect_contain .collect_right .err_tips{*/
    /*color: #ffffff;*/
    /*font-size: 14px;*/
/*}*/
/*.close{*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 30px;*/
    /*font-size: 25px;*/
    /*color: #ffffff;*/
    /*cursor: pointer;*/
/*}*/
/*底部列表新闻*/
.latestNewsList {
    background: url(../images/a6fde-8116.png) repeat-y center top;
    width: 1200px;
    margin: 10px auto;
}

.latestNewsList li {
    background: url(../images/c9c57-4804.png) repeat-x center top;
    float: left;
    width: 560px;
    padding: 24px 20px;
    line-height: 18px;
    color: #8d8d8d;
    font-size: 12px;
    font-family: Microsoft YaHei;
}

.latestNewsDate {
    background: url(../images/cdcb2-4696.png) no-repeat 4px center;
    line-height: 24px;
    color: #737373;
    font-size: 12px;
    padding-left: 24px;
}

.latestNewsTit {
    height: 30px;
    line-height: 30px;
    display: block;
    overflow: hidden;
    /*color: #ff0000;*/
    color: #CFAA75;
    font-size: 18px;
    font-weight: normal;
    margin: 12px 0 16px 0;
}

.latestNewsTit a {
    /*color: #ff0000;*/
    color:#CFAA75;;
    text-decoration: none;
}

.latestNewsTit a:hover {
    /*color: #ff0000;*/
    color: #CFAA75;
    text-decoration: underline;
}

.latestNewsTxt {
    color: #585858;
    height: 36px;
    line-height: 18px;
    display: block;
    overflow: hidden;
}

.latestNewsTxt a {
    color: #585858;
    text-decoration: none;
}

.latestNewsTxt a:hover {
    color: #585858;
    text-decoration: underline;
}

.latestNewsMeta {
    height: 20px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    margin-top: 12px;
}

/*footer*/
.footHome{
    /*background: #94b1d3;*/
    border-top: 1px solid #aaa;
    padding:18px 0;
    line-height:26px;
    text-align:center;
    color:#979797;
    font-size:12px;
    margin-top: 10px;
}
.footHome a{
    color:#979797;
    text-decoration:none;
}
.footHome a:hover{
    /*color:#fff;*/
    text-decoration:underline;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #888;
}
/*返回顶部*/
.slide_help{
    text-align: center;
    display: none;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    z-index: 10;

}
.slide_help a{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 18px;
}
.slide_help:hover{
    background-color:#777 ;
    /*border-color: #333;*/

}
.slide_help:hover a{
    color: #fff;
}
/*右侧功能列表*/
/*.right_ads{
    width: 74px;
    /*height: 222px;
    position: fixed;
    right: 0px;
    bottom: 35px;
    background-color:#FF6600;
    color: #fff;
    z-index: 100;
}
.right_ads li{
    width: 74px;
    height: 74px;
    border-bottom: 1px solid #ffffff;
}
.right_ads .right_service{
    background: url(../images/icon1_01.png) no-repeat;
    background-size: 70%;
    background-position: 10px 12px;
}
.right_ads .right_order{
    background: url(../images/icon1_02.png) no-repeat;
    background-size: 70%;
    background-position: 10px 12px;
}
.right_ads .right_help{
    background: url(../images/icon3.png) no-repeat;
    background-size: 70%;
    background-position: 10px 12px;
    display: none;
}

.right_ads li a{
    opacity: 0;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 22px;
}
.right_ads li:hover{
    background:none;
}
.right_ads li:hover a{
    opacity: 1;
}
.right_ads li:last-child{
    border-bottom:none;
}
*/
/*关于我们*/
.about{
    width: 1200px;
    margin: 0 auto;
}
.about .about_container{
   padding: 40px 150px;
}
.about .about_container h2{
    font-size: 28px;
    color: #333;
    font-weight: normal;
}
.about .about_container p{
    margin: 10px 0;
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    text-indent: 35px;
}
/*联系我们*/
.contact{
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px;
}
.contact .contact_container{
    width: 440px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
}
.contact .contact_container h2{
    font-size: 28px;
    color: #333;
    font-weight: normal;
}
.contact .contact_container p{
    margin-top: 15px;
    color: #757575;
}
.contact .contact_container .server_btns{
    margin-top: 20px;
    display: inline-block;
    width: 210px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #ff670a;
    color: #fff;
    font-size: 16px;
}
.contact .contact_map{
    width: 680px;
    height: 390px;

}

/*咨询有礼*/
.about_gift{
    display: block;
    position: fixed;
    top: 500px;
    /*right: 0px;*/
    left: 0px;
    z-index: 100;
}

/*登记预约页面*/
.order_area{
    width: 1200px;
    /*text-align: center;*/
    margin: 0 auto;
}
.order_area .step_detail{
    text-align: center;
    margin: 20px auto;
}
.step_detail span,.step_detail p{
    display: inline-block;
}
.step_detail span{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #ccc;
    border-radius: 50px;
    color: #fff;
}
.step_detail span.active{
    background-color: #333;
    color: #CFAA75;
}
.step_detail p{
    color: #FF6600;
    border-bottom: 3px solid #81A6D0;
    width: 250px;
    margin-top: 1px;
}
/*step1*/
.order_area .order_style{
    text-align: center;
    margin: 30px auto;
    display: block;
}
.order_area .order_style li{
    padding: 15px 15px;
    margin: 5px 25px;
    width: 18%;
    height: 300px;
    border: 2px solid #dddddd;
    border-radius: 10px;
}
.order_area .order_style li:hover{
    cursor: pointer;
    border-color: #333;
}
.order_area .order_style li a{
    display: block;
}
.order_area .order_style li img{
    width: 100%;
    height: 100%;
}
/*step2*/
.order_form{
    margin: 10px 250px;
    padding: 10px;
    display: none;
    /*text-align: center;*/
}

.order_form li{
    position: relative;
    width: 112px;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
}
.order_form input[type=radio]{
    visibility: hidden;
    margin: 0 0;
}
.order_form .order_city{
    padding: 10px;
}
.order_form .order_city select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: 1px solid #ccc;
    width: 50px;
    height: 25px;
    padding: 4px 10px;
    text-align: center;
    font-size: 14px;
    outline: none;
    margin-right: 10px;
}
.order_form .order_city span{
    color: #FF6600;
    font-size: 12px;
}
.order_form .order_price{
    padding: 10px;
    display: none;
}
.order_form .order_price span{
    float: right;
    margin: 0px 13px;
}
.order_form .order_price label{
    margin: 0 0;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 0;
    background: #fff;
    border: 2px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.order_form .order_price i{
    opacity: 0;
    content: '';
    position: absolute;
    width: 15px;
    height: 7px;
    background: transparent;
    top: 0px;
    left: 2px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.order_form .order_price label:hover i{
    opacity: 0.5;
}
.order_form .order_btn,.order_form .order_pre{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 160px;
    background-color: #333;
    color: #CFAA75;
    padding: 0px 0px;
}

/*.order_info{*/
/*margin: 0 auto;*/
/*}*/
.order_info p{
    /*text-align:none;*/
    margin: 10px auto;
    padding: 10px;
    vertical-align: middle;
}
.order_info .err_tips{
    color: #FF6600;
}
.order_info input{
    outline: none;
    width: 400px;
    height: 35px;
    line-height: 30px;
    border: 1px solid #ccc;
    padding-left: 15px;
}
/*.order_info p:last-child{*/
/*/!*text-indent: 35px;*!/*/
/*height: 100px;*/
/*line-height: 100px;*/
/*}*/
.order_info .order_message span{
    float: left;
    display: block;
    width: 50px;
}
.order_info textarea{
    float: left;
    width: 400px;
    height: 100px;
    outline: none;
}

/*step3*/
.success_info{
    display: none;
    text-align: center;
    margin: 0 auto;
}
.success_info p{
    margin: 135px auto;
    color: #FF6600;
    font-size: 70px;
    /*font-weight: bold;*/
}
.success_info a{
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color:#333 ;
    color: #CFAA75;
    display: inline-block;
    font-size: 14px;
}













