.eventbm{margin:10px 15px 15px 15px;}
.eventbm .bmpic{ width:100%;}
.eventbm .line{ width:100%; height:auto; border-bottom:1px #FF9933 dotted; font-size:12px; line-height:20px; color:#FF3300}
.eventbm .bmpic img{ width:100%; margin-top:-5px}
.eventbm .line{ width:100%; height:auto; border-bottom:1px #FF9933 dotted; font-size:12px; line-height:20px; color:#FF3300}
.eventbm .bm{ width:100%; font-size:12px; line-height:20px; color:#333333; margin-top:10px;}
.eventbm .bm input{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0px;font-family:"微软雅黑";text-indent:10px;clear:both;height:30px;line-height:30px;font-size:15px; ;border:1px solid #d4d4d4;width:100%; background:#fff url(../images/9f561-6372.jpg) repeat-x;}
.eventbm .bm input.btn{ width:100%; height:34px; background:url(../images/b1f89-2702.jpg) repeat-x;border-radius:6px; color:#FFFFFF; text-align:center}
.eventbm .bm #tj{background:url(../images/b1f89-2702.jpg) repeat-x;height:34px; text-align:center;line-height:34px;}
.eventbm .bm #tj a{text-shadow:none;color:#fff;font-size:15px;font-weight:bold; cursor:pointer;}
.eventbm h4{ font-size:20px; line-height:30px; text-align: center; color:#666666}

.topmenu{ width:100%; height:45px; background:url(../images/957ee-4159.png) repeat-x; position:fixed; top:0; z-index:999}
.topmenu .menu{ width:960px; height:40px; margin:auto}
.topmenu .menu .m_logo{ width:261px; height:40px; float:left}
.topmenu .menu .m_menu{ width:619px; height:40px; float:left; margin-left:80px;}
.topmenu .menu .m_menu ul{ margin:0; padding:0; list-style-type:none}
.topmenu .menu .m_menu ul li{ float:left; font-size:14px; line-height:40px; text-align:center}
.topmenu .menu .m_menu ul li a{ padding:0px 10px; display:block; color:#333333; text-decoration:none}
.topmenu .menu .m_menu ul li a:hover{ color:#FF0000}

.mainn{width:960px; height:auto; margin:auto;  background:#fff;  -webkit-box-shadow:0 0 3px #999;  
  -moz-box-shadow:0 0 3px #999;  
  box-shadow:0 0 3px #999; padding:10px; margin-top:10px;}
  
  .customerbox{ width:960px; height:auto; margin:auto; margin-top:20px;}
.customerbox img{ max-width:960px;}
.custbm{ width:960px;height:500px; background:url(../images/95c93-8959.jpg) no-repeat; margin:auto; margin-top:1px; position:relative}
.custbm .bmbox{ width:250px; height:200px; position:absolute; right:110px; bottom:20px;}
.custbm .bmbox input.in{ width:200px; height:24px; border:1px #CCCCCC solid; border-radius:3px; margin-top:8px; padding-left:8px;}
.custbm .bmbox span{ font-size:18px; line-height:40px; color:#FFFFFF; }

.topbmbg{ width:960px; height:116px; position:relative; margin:2px 0px;}
.topbmbg .topbm{text-align:center;position: absolute;top: 79px;left:220px;}
.topbmbg .topbm input.in{border-radius: 5px;border: none;height: 25px;width: 160px;margin-left:8px;margin-right:8px; float:left; padding-left:10px;}


.topbmbg_phone{ height:auto;width:95%; margin:auto; position:relative}
.topbmbg_phone img{ width:100%; margin-top:-5px;}

.topbmbg_phone .topphonebm{ width:80%; height:auto; margin:auto; top:20%; position:absolute; left:10%;}
.topbmbg_phone .topphonebm input{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0px;font-family:"微软雅黑";text-indent:10px;clear:both;height:30px;line-height:30px;font-size:15px; ;border:1px solid #d4d4d4;width:100%; background:#fff url(../images/9f561-6372.jpg) repeat-x; margin-top:6px;}


.yh_top_bg{ width:960px; height:auto; position:relative}
.yh_top_bg .bmbox{ width:380px; height:280px; right:0; bottom:0; position:absolute; font-size:12px; line-height:30px;}
.yh_top_bg .bmbox input{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0px;font-family:"微软雅黑";text-indent:10px;clear:both;height:30px;line-height:30px;font-size:15px; ;border:1px solid #d4d4d4;width:300px; background:#fff url(../images/9f561-6372.jpg) repeat-x; margin-top:6px;}
.yh_top_bg .weima{ width:24px; height:24px; padding:8px; background:url(../images/1ec5c-6225.png) no-repeat; position:absolute; top:0; right:-50px; background-color:#CCCCCC; background-image:url(../images/1ec5c-6225.png) ; background-repeat:no-repeat; background-position:center; cursor:pointer}
.yh_top_bg .weima .ewm{ width:100px; height:120px; display:none; font-size:12px; text-align:center; line-height:20px; color:#999999; background:#FFFFFF; top:0px; left:0px;}
.yh_top_bg .weima:hover .ewm{ display:block; position:absolute;}

.yh_xq{ width:960px; height:auto;}

.footern{ width:100%; height:100px; background:#CCCCCC; font-size:12px; line-height:22px; padding-top:10px; text-align:center; margin-top:10px;}


.m_youhuibg{ width:95%; margin:auto; position:relative}
.m_youhuibg img{ width:100%;}
.yh_form{  height:auto; margin:10px 6px;}
.yh_form input{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0px;font-family:"微软雅黑";text-indent:10px;clear:both;height:30px;line-height:30px;font-size:15px; ;border:1px solid #d4d4d4;width:100%; background:#fff url(../images/9f561-6372.jpg) repeat-x; margin-top:6px;}

.m_youhuibox{ width:95%; margin:auto;}
.m_youhuibox img{ width:100%; margin-top:-5px;}


.youhuibm{ width:960px; height:270px; margin:auto; padding-bottom:10px; margin-top:20px;}
.youhuibm .bmbox{ width:240px; height:145px; float:left; position:relative; padding-top:125px; background:#7DBCB4; padding-left:20px;border-radius:5px; }
.youhuibm .bmbox .bmtit{ width:300px; height:53px; position:absolute; font-size:18px; line-height:53px; background:url(../images/5182e-6246.png) no-repeat; padding-left:50px; color:#FFFFFF; left:-40px; top:15px; padding-top:45px;}
.youhuibm .bmbox input{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0px;font-family:"微软雅黑";text-indent:10px;clear:both;height:30px;line-height:30px;font-size:15px; ;border:1px solid #d4d4d4;width:220px; background:#fff url(../images/9f561-6372.jpg) repeat-x; margin-top:6px;}
.youhuibm .bmright .weima{ width:24px; height:24px; padding:8px; background:url(../images/1ec5c-6225.png) no-repeat; position:absolute; top:0; right:-50px; background-color:#CCCCCC; background-image:url(../images/1ec5c-6225.png) ; background-repeat:no-repeat; background-position:center; cursor:pointer}
.youhuibm .bmright .weima .ewm{ width:100px; height:120px; display:none; font-size:12px; text-align:center; line-height:20px; color:#999999; background:#FFFFFF; top:0px; left:0px;}
.youhuibm .bmright .weima:hover .ewm{ display:block; position:absolute;}

.youhuibm .bmright{ width:690px; height:270px; float:left; margin-left:10px; position:relative; -webkit-box-shadow:0 0 3px #999;  
  -moz-box-shadow:0 0 3px #999;  
  box-shadow:0 0 3px #999; border-radius:5px;}

.youhuibm .bmright img{ border-radius:5px;}


