.wid{ max-width:640px;width: 100%;}
.wrap{margin:0px auto; }
.bd img{border: medium none;}
/**首页幻灯**/*
.bander{ height: auto; margin-bottom:-5px;

}
.tv-slideBox{  height: auto; overflow:hidden; position:relative;   } 
.tv-slideBox .hd{ display: none;  position:absolute; left:45%;  z-index:5555; bottom:30px; }
.tv-slideBox .hd ul li{ width:10px; height:10px; margin-right:10px; float:left;background: #fff; cursor:pointer}
.tv-slideBox .hd ul li.on{ width:10px; height:10px; margin-right:10px; float:left;background:#Ff0000;}
.tv-slideBox li{ overflow:hidden; } 
.tv-slideBox li .pic{ width:100%; float:left; } 
.tv-slideBox li .pic img{ width:100%;  } 
.tv-slideBox .prev{position:absolute; z-index:1;width:25px; height:57px; overflow:hidden; cursor:pointer; left:0px; top:60px; background:url("../images/bd628-8471.png") 0 0 no-repeat; }
.tv-slideBox .next{ position:absolute; z-index:1;width:25px; height:57px; overflow:hidden; cursor:pointer; right:0px; top:60px; background:url("../images/bd628-8471.png") -27px 0 no-repeat;  } 
.tv-slideBox .prev:hover,.tv-slideBox .next:hover{ top:60px;  } 
/*****首页幻灯片end******/
