footer{
    border-top: 1px solid #DF0303;
    padding-top: 15px;
}
footer p{
    text-align: center;
}
/*******************Í·²¿******************/
.nav {
    width: 100%;
    height: 40px;
    /*background: #DF0303;*/
    border-bottom: 3px solid #DF0303;
    float: left;
}
.nav ul{margin-left: 110px}
.nav_img{width: 110px;margin-top: 5px}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    padding: 0 24px;
    line-height: 40px;
    font-size: 15px;
}
.nav_right{
    margin-right: 100px;
    margin-top: 10px;
    float: right;
}
.nav_right a{
    margin-left: 20px;
}
.nav_right a:last-child{
    color: #DF0303;
}
/************section***********/
.section{
    background: url("img/background.jpg") no-repeat;
    background-size: 100% 100%;
    height: 600px;
    background-color: #666666;
    position: relative;
}
.text{
    position: absolute;
    margin: 140px  0 50px -490px  ;
    left: 50%;
    width: 980px;
    height: 405px;
    background-color: #FDFEFE;
    box-shadow: 10px 10px 5px #888888;

}
/****************action********************/
.action{
    background-color: #DF0303 ;
    width: 118px;
    height:118px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 42%;
}
.action:hover{
    cursor: pointer;
    background-color: #EA3B3B;
}
.action p{
    color:#FFFFFF;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 48px;
    font-size: 24px;
}
/*********left**********/
.section_left{
    padding-top: 50px;
    width: 50%;
    float: left;
    /*border-right: 1px solid #dddddd;*/
}
.section_left h3,.section_left p,.section_right div{
    text-align: center;
}
.section_left h3,.section_right h3{
    font-size: 28px;
}
.section_left p,.section_left h3,#province,#city,.section_left input,.section_style{
    margin-bottom: 10px;
}
#province,#city{
    color: #666;
    background: #f6f6f6;
    width: 128px;
    vertical-align: middle;
}
.section_left input,.section_style{
    width: 246px;
}
.section_style{
    width: 260px;
    color: #666666;
}
.section_left input,#province,#city,.section_style{
    height: 36px;
    line-height: 36px;
    border: 1px solid #ececec;
    padding: 0 6px;
}
.section_err{
    text-indent:120px;
}
.section_err,.section_ico,.section_info,.section_i{
    color: #DF0303;
}
/**************right***********/
.section_right{
    text-align: center;
    float: right;
    padding-top: 40px;
    width: 49%;
}
.section_right h3{
    font-size: 24px;
    margin-bottom: 15px;
    text-indent: 100px;
    margin-right: 30px;
}
.section_info{
    font-size: 40px;
    font-weight: bold;
}
.section_right b{
    font-size: 20px;
}
.section_right div{
    margin: 0 auto;
    width: 340px;
    height: 200px;
    padding: 30px 10px;
    border: 1px  solid #ddd;
}
.section_right div p{
    margin: 10px;
}
.section_i{
    display: inline-block;
    margin: 0 20px;
    font-size: 16px;
}















