/*************************css-reset************************/
body {
    margin:0;
    background: #F1F2F7;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    line-height: 24px;
    color:#333;
}
ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,button {
    margin:0;
    padding:0;
}
/*ul,ol {*/
    /*list-style: none;*/
/*}*/
/*input,button {*/
    /*font-family: "Microsoft YaHei";*/
/*}*/
a {
    color:#333;
    text-decoration: none;
}
a:hover {
    color:#f60;
    text-decoration: none;
}
.clearfloat:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*************************css-reset************************/
.container{
    width: 555px;
    margin: 0 auto;
    padding-top: 106px;
}
.image>img{
    margin-top: 20px;
    margin-left: 20px;
}
.red-tu{
    display: block;
    float: left;
    background: url('images/logo.png') no-repeat;
    width: 200px;
    height: 200px;
}
.text{
    float: left;
    margin-left: 40px;
    padding-top: 40px;
}
.container a{
    color: #D0141B;
}
.container a:hover{
    color: #F09D9D;
}
.container p{
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

footer p{
    text-align: center;
}