/*
 *  @description:pc端问答页css
 *  @author:mengxuchen
 *  @update:mengxuchen (2017-03-27)
 */
.ask_nav {
  width: 100%;
  height: 20px;
  padding: 12px 0;
  border-bottom: 1px solid #EEEEEE;
}
.ask_nav ul li {
  color: #333;
  margin-right: 5px;
}
.ask_nav ul li a {
  color: #999999;
}
.ask_nav ul li a:hover {
  color: #DF0303;
}
