/*
  *  @description:pc端报价样式表
  *  @author:mengxuchen
  *  @update:mengxuchen (2017-03-28)
*/
.mr20 {
  margin-right: 20px;
}
.btn_gray {
  cursor: pointer;
  display: inline-block;
  background: #f2f2f2;
  width: 88px;
  line-height: 30px;
  color: #666;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
}
.quote_nav {
  padding: 10px 0;
}
.quote_nav a {
  color: #999999;
}
.offerlist_l {
  padding: 20px 0 35px 20px;
  width: 310px;
  border: 1px solid #ECECEC;
  background-color: #FAFAFA ;
}
.offerlist_l .quote_title {
  display: block;
  width: 122px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  background: #DF0303;
  color: #fff;
  border: 1px solid #DF0303;
}
.offerlist_l .quote_list h2 {
  margin-top: 19px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}
.offerlist_l .quote_list a:hover {
  color: #FFFFFF;
  background-color: #DF0303;
}
.offerlist_l .quote_list .quto_btn {
  display: block;
  float: left;
  width: 122px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  background: #fff;
  color: #666;
  border: 1px solid #dbdbdb;
  margin: 0 20px 15px 0;
  cursor: pointer;
}
.offerlist_r {
  width: 840px;
}
.offerlist_r .offer_plist {
  padding: 20px 0 35px 0;
  border-top: 1px solid #e9e9e9;
}
.offerlist_r .offer_plist .offer_plist_item {
  padding: 20px 0 20px 0;
  border-bottom: 1px dashed #ececec;
}
.offerlist_r .offer_plist .offer_plist_item .txtbox {
  float: left;
  width: 620px;
  padding-top: 10px;
  height: 62px;
}
.offerlist_r .offer_plist .offer_plist_item .txtbox .p1 {
  height: 24px;
  margin-bottom: 12px;
}
.offerlist_r .offer_plist .offer_plist_item .txtbox .p1 a {
  display: block;
  float: left;
  font-size: 16px;
  line-height: 24px;
}
.offerlist_r .offer_plist .offer_plist_item .txtbox .p1 a:hover {
  color: #DF0303;
}
.offerlist_r .offer_plist .offer_plist_item .txtbox .p2 {
  font-size: 12px;
  color: #7d7d7d;
}
.offerlist_r .offer_plist .offer_plist_item .txtbox .p2 .half_price {
  margin-right: 20px;
  color: #DF0303;
}
.offerlist_r .offer_plist .offer_plist_item .txtbox .p2 .all_price {
  color: #DE0F0F;
}
.offerlist_r .offer_plist .offer_plist_item .ata {
  display: block;
  float: left;
  width: 128px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ED4646;
  color: #fff;
}
.offerlist_r .offer_plist .offer_plist_item .ata:hover {
  background-color: #DE0F0F ;
}
.f18 {
  font-size: 18px;
}
.f30 {
  font-size: 30px;
}
.f14 {
  font-size: 14px;
}
.ml190 {
  margin-left: 190px;
}
.mt20 {
  margin-top: 20px;
}
.cBred {
  color: #DE0F0F;
}
.cGray {
  color: #999;
}
.tc {
  text-align: center;
}
.arrows {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #DE0F0F;
}
.span {
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #fff;
  text-align: center;
  font-size: 14px;
  border-color: #fff;
  margin: 0 5px;
  padding: 0;
  line-height: 30px;
}
.quote_combo {
  position: relative;
  padding: 40px;
  height: 370px;
  background: url("../../images/quto_bac.jpg") no-repeat;
}
.quote_combo .house_property {
  color: #FFFFFF;
}
.quote_combo .house_property h1 {
  font-size: 24px;
}
.quote_combo .house_property p {
  font-size: 18px;
  margin-top: 20px;
}
.quote_combo .house_property p .num {
  color: #DF0303;
  margin: 0 5px;
  font-size: 18px;
}
.quote_combo .complex,
.quote_combo .simple {
  float: left;
  width: 540px;
  height: 190px;
  border-radius: 5px;
  margin-top: 30px;
  line-height: 1.65;
  padding-left: 40px;
  background: #feff89 url("../../images/complex.png") no-repeat right 15px;
}
.quote_combo .complex h2,
.quote_combo .simple h2 {
  margin-top: 30px;
  font-size: 20px;
}
.quote_combo .complex ul,
.quote_combo .simple ul {
  margin-top: 5px;
}
.quote_combo .complex ul li,
.quote_combo .simple ul li {
  font-size: 18px;
}
.quote_combo .complex ul li span,
.quote_combo .simple ul li span {
  margin-top: -4px;
  display: inline-block;
  color: #ff4200;
  vertical-align: middle;
  font-size: 30px;
}
.quote_combo .simple {
  margin-left: 30px;
  background: #b7e3ff url("../../images/simple.png") no-repeat right 5px;
  background-size: 37% auto;
  -webkit-background-size: 37% auto;
  -moz-background-size: 37% auto;
}
.quto_detail {
  margin-top: 42px;
}
.quto_detail h2 {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 10px;
  font-weight: normal;
}
.quto_detail .quto_area ul {
  background: #dfdfdf;
  padding: 35px 0 0 35px;
}
.quto_detail .quto_area ul .w60 {
  display: inline-block;
  width: 62px;
  margin-right: 6px;
  font-size: 14px;
  text-align: center;
}
.quto_detail .quto_area ul .type_btn {
  display: inline-block;
  width: 360px;
  line-height: 46px;
  border: 1px solid #cecece;
  border-left: none;
  margin-left: -4px;
}
