/*
  *  @description:pc端公共样式
  *  @author:mengxuchen
  *  @update:mengxuchen (2017-03-22)
*/
.info_sub {
  height: 100px;
  overflow: hidden;
}
.info_sub li {
  width: 298px;
  height: 76px;
  background: #f8f8f8;
  margin-right: 2px;
  padding-top: 24px;
}
.info_sub li dl {
  width: 300px;
}
.info_sub li dl dt {
  width: 68px;
  text-align: center;
}
.info_sub li dl dt a {
  display: block;
  color: #f66;
  padding-top: 5px;
  line-height: 26px;
}
.info_sub li dl dt a i {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: url(../../images/header-icon.png) no-repeat -240px 0;
}
.info_sub li dl dd {
  line-height: 26px;
  width: 232px;
}
.info_sub li dl dd a {
  margin-right: 22px;
  white-space: nowrap;
  color: #333;
}
.info_sub li dl dd a:hover {
  color: #DF0303;
}
.crumbs {
  padding: 12px 0 15px;
  height: 26px;
}
.crumbs a {
  color: #333;
  font-size: 12px;
  float: left;
  padding-top: 8px;
}
.crumbs .new_spe {
  float: left;
  padding: 8px 5px 0;
}
.bigtitle {
  height: 40px;
  line-height: 40px;
  font-size: 26px;
  color: #333;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 20px;
}
.news_list .news_infolist {
  border-right: 1px dotted #eee;
  width: 870px;
  box-sizing: border-box;
  padding-right: 40px;
}
.news_list ul {
  width: 840px;
}
.news_list ul li {
  border-bottom: 1px dotted #dddddd;
  padding: 30px 0;
}
.news_list ul li a img {
  width: 200px;
  height: 150px;
}
.news_list ul li .news_detail {
  width: 620px;
  height: 150px;
}
.news_list ul li .news_detail h3 {
  font-size: 22px;
  color: #333;
  line-height: 24px;
  margin-bottom: 15px;
}
.news_list ul li .news_detail p {
  font-size: 14px;
  color: #666;
  position: relative;
  line-height: 21px;
  height: 63px;
}
.news_list ul li .news_detail .time_details {
  font-size: 14px;
  color: #999;
}
.news_list ul li .news_detail .time_details .see_time {
  padding-left: 22px;
  background: url(http://fastued3.jia.com/image/zixun/see_time.png) no-repeat left center;
  margin-left: 60px;
}
.news_list ul li:hover {
  background-color: #F8F8F8;
}
.news_list ul li:hover a {
  color: #C80202;
}
.news_list .news_sec {
  width: 290px;
  overflow: hidden;
}
.news_list .news_sec a:hover {
  cursor: pointer;
}
.news_list .news_sec .news_signup {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  width: 290px;
  height: 380px;
  background-color: #fbfbfb;
}
.news_list .news_sec .news_signup .sing_nav {
  height: 40px;
}
.news_list .news_sec .news_signup .sing_nav .common_nav {
  height: 36px;
  width: 144px;
  text-align: center;
  line-height: 37px;
  border-bottom: 3px solid #EE2D1B;
  background-color: #fbfbfb;
  font-size: 16px;
}
.news_list .news_sec .news_signup .sing_nav .common_nav:hover {
  cursor: pointer;
}
.news_list .news_sec .news_signup .sing_nav .on {
  color: #FFFFFF;
  background-color: #EE2D1B;
}
.news_list .news_sec .news_signup .sing_con .sing_design,
.news_list .news_sec .news_signup .sing_con .sing_price {
  padding: 25px 19px 0 19px;
}
.news_list .news_sec .news_signup .sing_con .sing_design h2,
.news_list .news_sec .news_signup .sing_con .sing_price h2 {
  position: relative;
  left: -20px;
  color: #EE2D1B;
  font-size: 18px;
  padding-top: 12px;
  text-align: center;
  width: 290px;
  font-weight: 500;
}
.news_list .news_sec .news_signup .sing_con .sing_design p,
.news_list .news_sec .news_signup .sing_con .sing_price p {
  width: 250px;
  height: 223px;
  margin: 0 auto;
}
.news_list .news_sec .news_signup .sing_con .sing_design p input,
.news_list .news_sec .news_signup .sing_con .sing_price p input {
  border: 1px solid #DDD;
  box-sizing: border-box;
  padding: 0 10px;
  margin-top: 15px;
  height: 30px;
  line-height: 30px;
  width: 250px;
}
.news_list .news_sec .news_signup .sing_con .sing_design p input:focus,
.news_list .news_sec .news_signup .sing_con .sing_price p input:focus {
  outline: none;
  border: 1px solid #DF0303;
}
.news_list .news_sec .news_signup .sing_con .sing_design p .sing_err,
.news_list .news_sec .news_signup .sing_con .sing_price p .sing_err {
  color: #EE2D1B;
  display: inline-block;
  margin-top: 10px;
}
.news_list .news_sec .news_signup .sing_con .sing_design p span,
.news_list .news_sec .news_signup .sing_con .sing_price p span {
  display: block;
  color: #7d7d7d;
  text-align: center;
  margin-top: 15px;
}
.news_list .news_sec .sing_button {
  width: 250px;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #EE2D1B;
  border-radius: 4px;
  margin-top: 8px;
}
.news_list .news_sec .active_advance {
  margin-top: 40px;
}
.news_list .news_sec .active_advance ul li {
  padding: 11px 0;
  border-top: 1px dashed #cdcdcd;
  height: 70px;
  font-size: 16px;
}
.news_list .news_sec .active_advance ul li a {
  display: block;
  width: 290px;
  color: #666;
}
.news_list .news_sec .active_advance ul li a img {
  float: left;
  width: 92px;
  height: 70px;
  margin-right: 12px;
}
.news_list .news_sec .active_advance ul li a:hover {
  color: #EE2D1B ;
}
.news_list .news_sec .recom_area {
  margin-top: 40px;
}
.news_list .news_sec .recom_area .recom_tag {
  padding-top: 11px;
  background: #F2F2F2;
  width: 290px;
}
.news_list .news_sec .recom_area .recom_tag li {
  float: left;
  font-size: 14px;
  color: #666;
  padding: 4px 10px;
  border: 1px solid #ddd;
  margin: 0 0 11px 11px;
  border-radius: 20px;
}
.news_list .news_sec .rela_list ul li {
  padding: 10px 0;
}
.news_list .news_sec .rela_list ul li a {
  font-size: 14px;
}
.signup_position {
  position: fixed;
  top: 0px;
  margin-top: 30px;
  z-index: 100;
}
