/*
  *  @description:pc端公共样式
  *  @author:mengxuchen
  *  @update:mengxuchen (2017-03-22)
*/


/// info 资讯页面css
.info_sub{
  height: 100px;
  overflow: hidden;
  li{
    width: 298px;
    height: 76px;
    background: #f8f8f8;
    margin-right: 2px;
    padding-top: 24px;
    dl{
      width: 300px;
      dt{
        width: 68px;
        //float: left;
        text-align: center;
        a{
          display: block;
          color: #f66;
          padding-top: 5px;
          line-height: 26px;
          i{
            display: block;
            margin: 0 auto;
            width: 30px;
            height:30px;
            background:url(../../images/header-icon.png) no-repeat -240px 0 ;
          }
        }
      }
      dd{
        line-height: 26px;
        width: 232px;
        a{
          margin-right: 22px;
          white-space: nowrap;
          color: #333;
        }
        a:hover{
          color: #DF0303;
        }
      }
    }
  }
}
//面包屑导航
.crumbs{
  padding: 12px 0 15px;
  height: 26px;
  a{
    color: #333;
    font-size: 12px;
    float: left;
    padding-top: 8px;
  }
  .new_spe{
    float: left;
    padding: 8px 5px 0;
  }
}
//大标题
.bigtitle{
  height: 40px;
  line-height: 40px;
  font-size: 26px;
  color: #333;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 20px;
}
//list 问题
.news_list{
  //position: relative;
  .news_infolist{
    border-right: 1px dotted #eee;
    width: 870px;
    box-sizing: border-box;
    padding-right: 40px;
  }
  ul{
      width: 840px;
    li{
      border-bottom: 1px dotted #dddddd;
      padding: 30px 0;
      a{
        img{
          width: 200px;
          height: 150px;
        }
      }
      .news_detail{
        width: 620px;
        height: 150px;
        h3{
          font-size: 22px;
          color: #333;
          line-height: 24px;
          margin-bottom: 15px;
        }
        p{
          font-size: 14px;
          color: #666;
          position: relative;
          line-height: 21px;
          height: 63px;
        }
        .time_details{
          font-size: 14px;
          color: #999;
          .see_time{
            padding-left: 22px;
            background: url(http://fastued3.jia.com/image/zixun/see_time.png) no-repeat left center;
            margin-left: 60px;
          }
        }
      }

    }
    li:hover{
      background-color: #F8F8F8;
    }
    li:hover a{
      color: #C80202;
    }
  }
  .news_sec{
    width: 290px;
    overflow: hidden;
    a:hover{cursor: pointer}
    //报价以及设计
    .news_signup{
      box-sizing: border-box;
      border: 1px solid #dddddd;
      width: 290px;
      height: 380px;
      background-color: #fbfbfb;
      .sing_nav{
        height: 40px;
        .common_nav{
          height: 36px;
          width: 144px;

          text-align: center;
          line-height: 37px;
          border-bottom: 3px solid #EE2D1B;
          background-color: #fbfbfb;
          font-size: 16px;
        }
        .common_nav:hover{
          cursor: pointer;
        }
        .on{
         color: #FFFFFF;
          background-color: #EE2D1B;
        }
      }
      .sing_con{
        .sing_design,.sing_price{
          padding: 25px 19px 0 19px;
          h2{
            position: relative;
            left: -20px;
            color: #EE2D1B;
            font-size: 18px;
            padding-top: 12px;
            text-align: center;
            width: 290px;
            font-weight: 500;
          }
          p{
            width: 250px;
            height: 223px;
            margin: 0 auto;
            input{
              margin-top: 15px;
              height: 30px;
              width: 250px;
            }
            .sing_err{
              color: #EE2D1B;
              display: inline-block;
              margin-top: 10px;
            }
            span{
              display: block;
              color: #7d7d7d;
              text-align: center;
              margin-top: 15px;
            }
          }
        }
      }
    }
    .sing_button{
      width: 250px;
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      background-color: #EE2D1B;
      border-radius: 4px;
      margin-top: 8px;
    }


    //活动预告
    .active_advance{
      margin-top: 40px;
      .active_detail{
        margin-bottom: 30px;
        h3{
          font-size: 18px;
          color: #666;
          border-left: 5px solid #dd0000;
          line-height: 20px;
          padding-left: 8px;
        }
        .active_name{
          margin-top: 15px;
          a{
            font-size: 14px;
            color: #000;
          }
          a:hover{
            color: #EE2D1B;
          }
        }
        .active_addres{
          font-size: 14px;
          color: #666;
          margin-top: 5px;
        }
      }
    }
    //推荐专区
    .recom_area{
      margin-top: 40px;
      .recom_tag{
        padding-top: 11px;
        background: #F2F2F2;
        width: 290px;
        li{
          float: left;
          font-size: 14px;
          color: #666;
          padding: 4px 10px;
          border: 1px solid #ddd;
          margin: 0 0 11px 11px;
          border-radius: 20px;
        }
      }
    }
  }
}
.signup_position{
  position: fixed;
  top: 0px;
  margin-top: 30px;
  z-index: 100;
}
